<div class="card padding-bottom">
    <div class="padding border card-body">
        <div th:if="${recipientName}">
            <b th:text="#{ebook-next-purchase.greetings(${recipientName})}">HI</b>
        </div>
        <div class="margin-top" th:utext="#{ebook-next-purchase.body(${books.size})}">HERE ARE MY 5 SUGGESTIONS</div>
    </div>
</div>

<div class="card padding-bottom" th:each="book,it : ${books}">
    <div class="padding rounded card-body">
        <table width="100%">
            <tr>
                <td align="center">
                    <a th:href="${book.url}">
                        <img class="border-rounded" style="max-width: 80%" th:if="${book.imageUrl}"
                             th:src="${book.imageUrl}"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padding">
                    <h2 class="no-margin" th:text="${book.title}">TITLE</h2>
                    <div class="margin-top" th:if="${book.description}" th:text="${book.description}">DESCRIPTION</div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <a class="btn btn-primary" th:href="${book.url}" th:text="#{button.read}">READ</a>
                </td>
            </tr>
        </table>
    </div>
</div>
