<div class="padding margin-bottom" xmlns="http://www.w3.org/1999/html">
    <table class="margin-top" width="100%">
        <tr>
            <td align="center" th:text="${recipientName}">
                RAY SPONSIBLE
            </td>
        </tr>
        <tr>
            <td align="center" class="text-larger">
                <div style="color: darkred" th:text="#{order_abandoned_weekly.message}">
                    WE GOT A DEAL
                </div>
                <h2 class="margin-top" style="font-weight: normal"
                    th:utext="#{order_abandoned_weekly.title(${discountPercentage})}">
                    COMPLETE YOUR PURCHASE WITH 10% OFF
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <div class="margin padding box-highlight-light">
                    <a style="color: black; text-decoration: none" th:href="${link.url}">
                        <h2 class="no-margin" th:text="${link.title}">TITLE</h2>
                        <div class="text-center">
                            <img class="border-rounded margin-top" style="max-width:100%; max-height: 300px"
                                 th:if="${link.thumbnailUrl}"
                                 th:src="${link.thumbnailUrl}"
                            />
                        </div>
                        <div class="text-center margin-top" th:utext="${link.summary}">
                            SUMMARY
                        </div>
                    </a>
                    <div class="text-center margin-top">
                        <a class="btn btn-primary text-larger" style="text-transform: uppercase;"
                           th:href="${link.url}" th:text="#{button.claim_your_deals}">
                            TAKE ME BACK
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

