<div class="padding margin-bottom">
    <table class="margin-top" width="100%">
        <tr>
            <td align="center" class="box-highlight">
                YOUR PURCHASE IS ABOUT TO EXPIRE.
                <a th:href="${link.url}">TAKE ME BACK</a>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <a th:href="${link.url}">
                    <img class="border-rounded" style="max-width:100%; max-height: 300px"
                         th:if="${link.imageUrl}"
                         th:src="${link.imageUrl}"
                    />
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <h2 class="no-margin">Are you sure you want to leave this behind?</h2>
            </td>
        </tr>
        <tr>
            <td align="center">
                You still have a puchase pending completion. If you are still undecided or still have question,
                do not hesitate to contact us! We are here for you ❤️!
            </td>
        </tr>
        <tr>
            <td align="center" class="margin-top">
                <a class="btn btn-primary text-larger" th:href="${talkUrl}" th:text="#{button.talk_to_us}">
                    Talk to Us
                </a>
            </td>
        </tr>
    </table>
</div>

