<div class="card padding-bottom">
    <div class="padding border rounded card-body">
        <table class="margin-top" width="100%">
            <tr>
                <td class="padding">
                    <h1 class="no-margin text-center" style="text-transform: uppercase; color: darkred"
                        th:utext="#{order_abandoned.message1}">
                        YOUR PURCHASE IS ABOUT TO EXPIRE.
                    </h1>
                </td>
            </tr>
            <tr>
                <td class="padding">
                    <div th:text="#{order_abandoned.greetings(${recipientName})}">
                        RAY SPONSIBLE
                    </div>
                    <div class="margin-top"
                         th:utext="#{order_abandoned_daily.message2(${discountPercentage}, ${link.url}, ${link.title}, ${discountExpiryDate})}">
                        RAY SPONSIBLE
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="margin padding box-highlight-light">
                        <a style="color: black; text-decoration: none" th:href="${link.url}">
                            <h2 class="no-margin" th:text="${link.title}">TITLE</h2>
                            <div class="text-center">
                                <img class="border-rounded margin-top" style="max-width:100%; max-height: 300px"
                                     th:if="${link.thumbnailUrl}"
                                     th:src="${link.thumbnailUrl}"
                                />
                            </div>
                        </a>
                        <div class="text-center margin-top">
                            <a class="btn btn-primary text-larger" th:href="${link.url}"
                               th:text="#{button.claim_your_deals}">
                                TAKE ME BACK
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="card padding-bottom" th:if="${talkUrl}">
    <div class="padding border rounded card-body text-center">
        <h2 class="no-margin" th:text="#{order_abandoned.contact1}">STILL UNDECIDED?</h2>
        <div class="margin-top-small" th:utext="#{order_abandoned.contact2}">CONTACT US</div>
        <a class="btn btn-primary margin-top-small" th:href="${talkUrl}" th:text="#{button.talk_to_us}">TALK TO US</a>
    </div>
</div>

