<h1 class="padding no-margin" th:text="${title}">Title</h1>

<h2 class="text-center" th:if="${tagline}" th:text="${tagline}">This is the tagline</h2>

<div class="story-content" th:utext="${content}">Content of Story</div>

<div class="text-center" th:if="${summary}">
    <div style="background: white;opacity: 50%; height: 4em; margin-top: -4em"></div>
    <a class="btn btn-primary" th:href="${storyUrl}" th:text="#{button.continue_reading}">Continue Reading</a>
</div>

<div class="text-center" th:if="!${summary}">
    <a class="btn btn-clear margin-right margin-top" th:href="${likeUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/like.png'" width="16"/>
        <span th:text="#{button.like}">Like</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${commentUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/comment.png'" width="16"/>
        <span th:text="#{button.comment}">Comment</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${shareUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/share.png'" width="16"/>
        <span th:text="#{button.share}">Share</span>
    </a>
</div>

<div class="padding margin-top box-highlight-light" th:if="${products}">
    <h2 class="no-margin text-center" th:utext="#{daily.my_store}">My Store</h2>
    <p th:utext="#{daily.my_store_message(${recipientName})}">Visit my store to discover by products.</p>
    <div class="text-center margin-bottom">
        <div class="text-center border border-rounded box-highlight-white padding"
             style="display: inline-block"
             th:if="${discount}"
        >
            <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/savings.png'" width="32"/>
            <span th:utext="#{daily.my_store_discount(${discount.percentage})}">I offer you a discount of 20% on any purchase!</span>
        </div>
    </div>
    <table border="0" cellpadding="0" cellspacing="10">
        <tr>
            <td th:each="link : ${products}" valign="top">
                <div class="text-center" style="overflow: clip; max-height: 220px; max-width: 220px;">
                    <a th:href="${link.url}" th:title="${link.title}">
                        <img class="border border-rounded" style="max-width: 100%"
                             th:if="${link.thumbnailUrl}"
                             th:src="${link.thumbnailUrl}"
                             th:title="${link.title}"
                        />
                    </a>
                </div>
                <div class="margin-top-small" th:utext="${link.summary}">SUMMARY</div>
            </td>
        </tr>
    </table>
    <div class="text-center margin-top">
        <a class="btn btn-primary" th:href="${shopUrl}" th:text="#{button.start_shopping}">Shop Now</a>
    </div>
</div>


<div class="padding border-top margin-top" th:if="!${otherStoryLinks}">
    <h2 class="no-margin" th:utext="#{daily.recent_stories}">Latest Stories</h2>
    <p th:utext="#{daily.recent_stories_blurb}">Here are my recent stories:</p>
    <ul>
        <li th:each="link : ${otherStoryLinks}">
            <a th:href="${link.url}" th:title="${link.title}">
                <span th:text="${link.title}">Title</span>
            </a>
        </li>
    </ul>
</div>

<div class="padding text-smaller border-top"
     th:utext="#{daily.unsubscribe_text(${context.blog.fullName}, ${context.blog.unsubscribedUrl})}">
    You have received this email because you subscribed to the newsletter of NAME.
    If you don't want to receive such email in the future, please click HERE to unsubscribe.
</div>

<img th:if="${pixelUrl}" th:src="${pixelUrl}"/>

