<div th:if="${adsBanner}">
    <div th:replace="~{mail/components/ads :: banner(${adsBanner}, ${adsBannerPixelUrl})}"></div>
</div>

<!-- PRODUCT -->
<div class="card padding-bottom" th:if="${product}">
    <div class="padding border card-body">
        <div th:if="${recipientName}" th:text="#{story.book.greetings(${recipientName})}">HI</div>
        <div class="margin-top" th:utext="#{story.book.message}">HERE A SUGGESTION</div>

        <div class="margin padding box-highlight-light">
            <table style="max-width: 100%">
                <tr>
                    <td>
                        <a style="color: black; text-decoration: none" th:href="${product.url}">
                            <h2 class="no-margin" th:text="${product.title}">TITLE</h2>
                            <div class="padding text-center">
                                <img class="border-rounded" style="max-width: 100%" th:if="${product.thumbnailUrl}"
                                     th:src="${product.thumbnailUrl}"/>
                            </div>
                            <div th:if="${product.description}" th:text="${product.description}">
                                DESCRIPTION
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <a class="btn btn-primary" th:href="${product.url}" th:text="#{button.get-your-copy}">READ</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Content -->
<div class="padding">
    <h1 class="no-margin" th:text="${title}">Title</h1>
    <div th:if="${adsLogo}">
        <div th:replace="~{mail/components/ads :: banner(${adsLogo}, ${adsLogoPixelUrl})}"></div>
    </div>

    <h2 class="no-margin text-center" th:if="${tagline}" th:text="${tagline}">This is the tagline</h2>
</div>

<div class="story-content" th:utext="${content}">Content of Story</div>
<div class="text-center" th:if="${summary}">
    <div style="background: white;opacity: 50%; height: 4em; margin-top: -4em"></div>
    <a class="btn btn-primary" th:href="${storyUrl}" th:text="#{button.continue_reading}">Continue Reading</a>
</div>

<div class="text-center" th:if="!${summary}">
    <a class="btn btn-clear margin-right margin-top" th:href="${likeUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/like.png'" width="16"/>
        <span th:text="#{button.like}">Like</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${commentUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/comment.png'" width="16"/>
        <span th:text="#{button.comment}">Comment</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${shareUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/share.png'" width="16"/>
        <span th:text="#{button.share}">Share</span>
    </a>
</div>

<!-- OTHER STORIES -->
<div class="padding border-top margin-top" th:if="${otherStoryLinks}">
    <h2 class="no-margin  text-center" th:utext="#{daily.recent_stories}">Latest Stories</h2>
    <p th:utext="#{daily.recent_stories_blurb}">Here are my recent stories:</p>
    <ul>
        <li th:each="link : ${otherStoryLinks}">
            <a th:href="${link.url}" th:title="${link.title}">
                <span th:text="${link.title}">Title</span>
            </a>
        </li>
    </ul>
</div>

<!-- PRODUCTS -->
<div class="margin-top border-top" th:if="${productChunks}">
    <h2 class="no-margin text-center margin-top" th:utext="#{daily.my_store}">My Store</h2>
    <table border="0" cellpadding="0" cellspacing="10" class="margin-top" style="margin: 0 auto">
        <tr th:each="products : ${productChunks}">
            <td th:each="link : ${products}" valign="top">
                <div class="padding-top" style="overflow: clip; max-height: 220px; max-width: 220px;">
                    <a th:href="${link.url}" th:title="${link.title}">
                        <img class="border" style="max-width: 100%"
                             th:if="${link.thumbnailUrl}"
                             th:src="${link.thumbnailUrl}"
                             th:title="${link.title}"
                        />
                    </a>
                </div>
                <div class="margin-top-small text-small" th:utext="${link.summary}">SUMMARY</div>
            </td>
        </tr>
    </table>
    <div class="text-center margin-top padding">
        <a class="btn btn-primary" th:href="${shopUrl}" th:text="#{button.start_shopping}">Shop Now</a>
    </div>
</div>


<div class="padding text-smaller border-top"
     th:utext="#{daily.unsubscribe_text(${context.blog.fullName}, ${context.blog.unsubscribedUrl})}">
    You have received this email because you subscribed to the newsletter of NAME.
    If you don't want to receive such email in the future, please click HERE to unsubscribe.
</div>

<img height="1" th:if="${pixelUrl}" th:src="${pixelUrl}" width="1"/>

