<h1 class="padding no-margin" th:text="${title}">Title</h1>

<h2 class="text-center" th:if="${tagline}" th:text="${tagline}">This is the tagline</h2>

<div class="story-content" th:utext="${content}">Content of Story</div>

<div class="text-center">
    <a class="btn btn-clear margin-right margin-top" th:href="${likeUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/like.png'" width="16"/>
        <span th:text="#{button.like}">Like</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${commentUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/comment.png'" width="16"/>
        <span th:text="#{button.comment}">Comment</span>
    </a>

    <a class="btn btn-clear margin-right margin-top" th:href="${shareUrl}">
        <img style="vertical-align: middle" th:src="${assetUrl} + '/assets/wutsi/img/mail/share.png'" width="16"/>
        <span th:text="#{button.share}">Share</span>
    </a>
</div>

<div class="padding border-top margin-top" th:if="${products} AND !${products.isEmpty()}">
    <h2 class="no-margin text-center" th:utext="#{daily.my_store}">My Store</h2>
    <table border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
            <td width="1%"></td>
            <td class="border border-rounded" th:each="link : ${products}" width="49%">
                <div class="text-center" style="overflow: clip; width: 100%">
                    <a th:href="${link.url}" th:title="${link.title}">
                        <img class="border-rounded-top" style="max-width: 100%"
                             th:if="${link.thumbnailUrl}"
                             th:src="${link.thumbnailUrl}"
                             th:title="${link.title}"
                        />
                    </a>
                </div>
                <a class="margin-top" style="text-decoration: none" th:href="${link.url}" th:title="${link.title}">
                    <div class="padding">
                        <div><b th:text="${link.title}">TITLE</b></div>
                        <div th:text="${link.summary}">SUMMARY</div>
                    </div>
                </a>
            </td>
            <td width="1%"></td>
        </tr>
    </table>
    <div class="text-center margin-top">
        <a class="btn btn-primary" th:href="${shopUrl}" th:text="#{button.start_shopping}">Shop Now</a>
    </div>
</div>


<div class="padding border-top margin-top" th:if="!${otherStoryLinks.isEmpty()}">
    <h2 class="no-margin" th:utext="#{daily.recent_stories}">Latest Stories</h2>
    <p th:utext="#{daily.recent_stories_blurb}">Here are my recent stories:</p>
    <ul>
        <li th:each="link : ${otherStoryLinks}">
            <a th:href="${link.url}" th:title="${link.title}">
                <span th:text="${link.title}">Title</span>
            </a>
        </li>
    </ul>
</div>

<div class="padding text-smaller border-top"
     th:utext="#{daily.unsubscribe_text(${context.blog.fullName}, ${context.blog.unsubscribedUrl})}">
    You have received this email because you subscribed to the newsletter of NAME.
    If you don't want to receive such email in the future, please click HERE to unsubscribe.
</div>

<img th:if="${pixelUrl}" th:src="${pixelUrl}"/>

