<div th:if="${adsBanner}">
    <div th:replace="~{mail/components/ads :: banner(${adsBanner}, ${adsBannerPixelUrl})}"></div>
</div>

<h1 class="padding no-margin" th:text="#{weekly_digest.title}">WEEKLY DIGEST</h1>
<div th:if="${adsLogo}">
    <div th:replace="~{mail/components/ads :: banner(${adsLogo}, ${adsLogoPixelUrl})}"></div>
</div>

<div class="padding-bottom margin-top card">
    <div class="padding card-body">
        <div th:if="${recipientName}">
            <b th:text="${recipientName}">Ray Sponsible</b>
        </div>
        <div th:text="#{weekly_digest.message}">Here are our suggestions assembled for you</div>
    </div>
</div>

<div class="card padding-bottom" th:each="story,it : ${stories}">
    <div class="card-body padding rounded border">
        <table width="100%">
            <tr>
                <td valign="top" width="1%">
                    <a th:href="${story.authorUrl}">
                        <img class="border-rounded" height="32" th:if="${story.authorPictureUrl}"
                             th:src="${story.authorPictureUrl}"
                             width="32"/>
                    </a>
                </td>
                <td valign="middle">
                    <a th:href="${story.authorUrl}" th:if="${story.author}" th:text="${story.author}">
                        Ray Sponsible
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top" width="100%">
                    <a style="color: black; text-decoration: none" th:href="${story.url}">
                        <h2 class="no-margin" th:text="${story.title}">Title</h2>
                        <div class="padding text-center">
                            <img style="max-width: 100%" th:if="${story.thumbnailUrl}" th:src="${story.thumbnailUrl}"/>
                        </div>
                        <div th:if="${story.summary}" th:text="${story.summary}">Description</div>
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <a class="btn btn-primary" th:href="${story.url}" th:text="#{button.read_story}">Read
                        Story</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${it.index} == 2 AND ${adsBox1}">
        <div th:replace="~{mail/components/ads :: banner(${adsBox1}, ${adsBox1PixelUrl})}"></div>
    </div>
    <div th:if="${it.index} == 5 AND ${adsBox2}">
        <div th:replace="~{mail/components/ads :: banner(${adsBox2}, ${adsBox2PixelUrl})}"></div>
    </div>
</div>

<div class="padding-bottom card" th:if="${products}">
    <div class="padding card-body rounded border">
        <h2 class="no-margin" th:utext="#{weekly_digest.store}">STORE</h2>
        <div class="margin-top" th:utext="#{weekly_digest.store_message}">VISIT STORES</div>
        <table border="0" cellpadding="0" cellspacing="0" class="margin-top" style="margin: 0 auto" width="100%">
            <tr th:each="link,it: ${products}">
                <td class="padding-top-small padding-bottom-small border-top" valign="top" width="1">
                    <h2 th:text="${it.index+1} + '.'">XX</h2>
                </td>
                <td class="padding-small border-top" valign="top" width="1">
                    <a th:href="${link.url}" th:title="${link.title}">
                        <img class="border" style="max-height: 200px; max-width: 100px"
                             th:if="${link.thumbnailUrl}"
                             th:src="${link.thumbnailUrl}"
                             th:title="${link.title}"
                        />
                    </a>
                </td>
                <td class="padding-top-small padding-bottom-small border-top" valign="top">
                    <div>
                        <a style="color: black; text-decoration: none" th:href="${link.url}" th:title="${link.title}">
                            <b th:text="${link.title}">TILE</b></a>
                    </div>
                    <div class="margin-top-small text-smaller"
                         th:if="${link.shortDescription}"
                         th:text="${link.shortDescription}">
                        XXX
                    </div>
                    <div class="margin-top-small">
                        <a class="btn btn-primary"
                           th:href="${link.url}"
                           th:text="#{button.read}"
                           th:title="${link.title}"
                        >
                            LIRE
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
