<h1 class="padding no-margin" th:text="#{weekly_digest.title}">
    <b>Wutsi</b> Weekly Digest
</h1>
<div class="padding">
    <div th:if="${recipientName}">
        <b th:text="${recipientName}">Ray Sponsible</b>
    </div>
    <div th:text="#{weekly_digest.message}">Here are our suggestions assembled for you</div>
</div>

<div th:each="story : ${stories}">
    <hr/>
    <div class="padding">
        <table width="100%">
            <tr>
                <td valign="top" width="1%">
                    <a th:href="${story.authorUrl}">
                        <img class="border-rounded" height="32" th:if="${story.authorPictureUrl}"
                             th:src="${story.authorPictureUrl}"
                             width="32"/>
                    </a>
                </td>
                <td valign="middle">
                    <a th:href="${story.authorUrl}" th:if="${story.author}" th:text="${story.author}">
                        Ray Sponsible
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top" width="100%">
                    <a style="color: black; text-decoration: none" th:href="${story.url}">
                        <h2 class="no-margin" th:text="${story.title}">Title</h2>
                        <div class="padding text-center">
                            <img style="max-width: 100%" th:if="${story.thumbnailUrl}" th:src="${story.thumbnailUrl}"/>
                        </div>
                        <div th:if="${story.summary}" th:text="${story.summary}">Description</div>
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <a class="btn btn-primary margin-top" th:href="${story.url}" th:text="#{button.read_story}">Read
                        Story</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="padding border-top margin-top" th:if="${products}">
    <h2 class="no-margin text-center" th:utext="#{weekly_digest.store}">Store</h2>
    <p th:utext="#{weekly_digest.store_message(${recipientName})}">Visit my store to discover by products.</p>
    <table border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
            <td width="1%"></td>
            <td class="border border-rounded" th:each="link : ${products}" width="49%">
                <div class="text-center" style="overflow: clip; width: 100%">
                    <a th:href="${link.url}" th:title="${link.title}">
                        <img class="border-rounded-top" style="max-width: 100%"
                             th:if="${link.thumbnailUrl}"
                             th:src="${link.thumbnailUrl}"
                             th:title="${link.title}"
                        />
                    </a>
                </div>
                <a class="margin-top" style="text-decoration: none" th:href="${link.url}" th:title="${link.title}">
                    <div class="padding">
                        <div><b th:text="${link.title}">TITLE</b></div>
                        <div th:utext="${link.summary}">SUMMARY</div>
                    </div>
                </a>
            </td>
            <td width="1%"></td>
        </tr>
    </table>
</div>

