<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar}"></div>


<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(6, 4)}"></div>

                <h1 class="margin-top" th:text="#{page.create.title}">Login</h1>
                <h4 class="margin-top" th:utext="#{page.create.info.language}"></h4>

                <div class="alert alert-danger padding-top" th:if="${error}" th:text="${error}">Error</div>

                <form action="/create/language/submit" class="margin-top-2x">
                    <select class="form-control" name="value" required="required">
                        <option
                                th:each="language :${languages}"
                                th:selected="${language.language} == ${value} ? 'selected'"
                                th:text="${language.displayLanguage}"
                                th:value="${language.language}"
                        >
                            Francais
                        </option>
                    </select>

                    <div class="margin-top-2x">
                        <a class="btn btn-light float-start" href="/create/country" id="btn-previous"
                           th:text="#{button.previous}">Previous</a>
                        <button class="btn btn-primary float-end" id="btn-next" th:text="#{button.next}"
                                type="submit">Next
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener("DOMContentLoaded", function () {
        $("#country").countrySelect({
            initialCountry: /*[[${value}]]*/''
        });
    });

    /*]]>*/
</script>
</body>

</html>

