<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(5, 4)}"></div>

                <h1 class="margin-top" th:text="#{page.create.title}">Create your Blog</h1>

                <div class="alert alert-danger padding-top" th:if="${error}" th:text="${error}">Error</div>

                <form action="/create/review/create-blog" method="GET">
                    <div class="margin-top border border-rounded" id="writer-container" th:if="${writers}">
                        <h5 class="padding margin-none"
                            th:text="#{page.create.info.review-recommendation(${writers.size})}">
                            Blog we recommend you to follow
                        </h5>
                        <div class="flex author-suggestion-card padding border-top"
                             th:each="writer : ${writers}">
                            <img height="48" th:alt="${writer.fullName}"
                                 th:if="${writer.pictureSmallUrl}" th:src="${writer.pictureSmallUrl}" width="48"/>

                            <div class="margin-left margin-right text-left">
                                <b th:text="${writer.fullName}">Ray Sponsible</b>
                                <div th:text="${writer.biography}">This is the biography</div>
                            </div>

                            <div class="btn-follow">
                                <input checked="checked" name="writer-id" th:value="${writer.id}" type="checkbox"/>
                            </div>
                        </div>
                    </div>

                    <div class="margin-top-2x">
                        <a class="btn btn-light float-start" href="/create/country" id="btn-previous"
                           th:text="#{button.previous}">Previous</a>

                        <button class="btn btn-primary float-end" id="btn-create" th:text="#{button.create_blog}"
                                type="submit">
                            Create
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
