<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(6, 6)}"></div>

                <h1 class="margin-top" th:text="#{page.create.title}">Login</h1>

                <div class="margin-top alert alert-success" th:text="#{page.create.info.success}">Create your Blog</div>

                <div class="margin-top-2x">
                    <div th:utext="#{page.create.info.success-whats-next(${user.email})}">
                        Invite your followers to join your blog
                    </div>
                </div>
                <div class="margin-top-2x">
                    <a id="btn-next" th:href="${user.slug}">
                        <span th:text="#{button.not_now}">Not now</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
