<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(5, 4)}"></div>

                <h1 class="margin-top" th:text="#{page.create.title}">Login</h1>

                <div class="margin-top alert alert-success" th:text="#{page.create.info.success}">Create your Blog</div>

                <div class="margin-top-2x">
                    <div th:text="#{page.create.info.invite}">Invite your followers to join your blog</div>
                    <div class="margin-top" id="share-modal">
                        <a class="social" data-target="facebook"
                           href="javascript: wutsi.share_modal_callback('facebook');"
                           th:data-title="#{page.create.info.invite-message}"
                           th:data-url="${shareUrl}">
                            <i class="fa-brands fa-square-facebook fa-3x"></i>
                        </a>
                        <a class="social margin-left-2x" data-target="twitter"
                           href="javascript: wutsi.share_modal_callback('twitter');"
                           th:data-title="#{page.create.info.invite-message}"
                           th:data-url="${shareUrl}">
                            <i class="fa-brands fa-square-twitter fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="margin-top-2x">
                    <a id="btn-next" th:href="${user.slug}">
                        <span th:text="#{button.not_now}">Not now</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
