<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <h1 class="margin-top" th:text="#{page.create.title}">Login</h1>

                <div class="margin-top alert alert-success" th:text="#{page.create.info.success}">Create your Blog</div>

                <div class="margin-top-2x">
                    <a class="btn btn-primary" href="/me/settings/monetization" th:if="${toggles.monetization}"
                       th:text="#{button.enable_monetization}">
                        Enable Monetization
                    </a>
                    <a class="btn btn-primary" href="/me/settings" th:if="!${toggles.monetization}"
                       th:text="#{button.update_profile}">
                        Update your Profile
                    </a>
                </div>
                <div class="margin-top">
                    <a class="btn btn-light" th:href="${user.slug}" th:text="#{button.my_blog}">
                        My Blog
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
