<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="border border-rounded padding margin-top text-center box-filled-highlight" th:fragment="format-panel(type)">
    <h2 class="text-uppercase" th:text="#{'ads.type.' + ${type.name()}}">TITLE</h2>
    <h4>
        <span th:text="${type.width}">1200</span>
        x
        <span th:text="${type.height}">600</span>
    </h4>
    <div class="img-container padding">
        <a target="_new" th:href="'/ads/formats/' + ${type.name().toLowerCase()}">
            <img th:alt="${type.name()}"
                 th:src="${page.assetUrl} + '/assets/wutsi/img/ads/' + ${type.name().toLowerCase()} + '.png'"/>
        </a>
    </div>
    <a class="btn btn-light margin-top" target="_new"
       th:href="'/ads/formats/' + ${type.name().toLowerCase()}"
       th:text="#{button.learn_more}">LEARN MORE</a>
</div>

<div id="ads-container-navbar" th:fragment="navbar(blog, type)">
    <div th:replace="~{components/ads :: banner(${blog}, ${type})}"></div>
</div>

<div class="ads-banner-container"
     th:fragment="banner(blog, type)"
     th:if="${toggles.ads}"
     th:wutsi-ads-blog-id="${blog?.id}"
     th:wutsi-ads-type="${type}"
>
</div>

<div class="ads flex" th:fragment="listitem(ads)">
    <div class="img-container margin-right">
        <a th:href="'/me/ads/campaigns/' + ${ads.id}" th:title="${ads.title}">
            <img th:alt="${ads.title}" th:src="${ads.thumbnailUrl}" th:title="${ads.title}" width="64"/>
        </a>
    </div>
    <div>
        <div class="flex">
            <div>
                <a class="title text-larger" th:href="'/me/ads/campaigns/' + ${ads.id}" th:title="${ads.title}">
                    <b th:text="${ads.title}">TITLE</b>
                </a>
            </div>
            <div>
                <div th:if="${ads.draft}">
                    <span class="badge bg-secondary margin-left" th:text="#{label.draft}">DRAFT</span>
                </div>
                <div th:if="${ads.published}">
                    <span class="badge bg-primary margin-left" th:text="#{label.published}">PUBLISHED</span>
                </div>
                <div th:if="${ads.running}">
                    <span class="badge bg-success margin-left"
                          th:text="#{label.running} + ': ' + ${ads.percentageComplete} + '%'"
                    >RUNNING</span>
                </div>
                <div th:if="${ads.completed}">
                    <span class="badge bg-secondary margin-left" th:text="#{label.completed}">COMPLETED</span>
                </div>
            </div>
            <div class="progress" style="margin-left: 1em; margin-top: .75em; width:100px; height: .5em"
                 th:if="${ads.running}">
                <div aria-valuemax="100" aria-valuemin="0" class="progress-bar" role="progressbar"
                     th:aria-valuenow="${ads.percentageComplete}"
                     th:style="'width:' + ${ads.percentageComplete} + '%'"
                ></div>
            </div>
        </div>
        <div class="flex margin-top-small">
            <div>
                <div th:text="#{'ads.type.' + ${ads.type.name}}">BOX</div>
                <div th:if="${ads.startDate}">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="margin-left-small" th:text="${ads.startDateText}">20 Jun</span>
                    <span th:if="${ads.endDate}"> - </span>
                    <span th:if="${ads.endDate}" th:text="${ads.endDateText}">20 Jun</span>
                </div>
                <div th:if="!${ads.budget.free}">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span class="margin-left-small" th:text="${ads.budget}">MONEY</span>

                    <i class="fa-solid fa-check-circle margin-left" th:if="${ads.paid}"></i>
                    <span class="success" th:if="${ads.paid}" th:text="#{label.paid}">PAID</span>

                    <a class="btn btn-secondary btn-sm margin-left"
                       th:href="'/me/ads/pay?ads-id=' + ${ads.transactionId}"
                       th:if="!${ads.paid} AND ${toggles.adsPayment}"
                       th:text="#{button.proceed_payment}">
                        PAY
                    </a>
                </div>
            </div>

            <!-- KPI -->
            <div class="margin-left-2x text-center border padding-small" th:if="${ads.completed} OR ${ads.running}">
                <div class="ads-kpi-title" th:text="#{label.impressions}">IMPRESSIONS</div>
                <div th:text="${ads.totalImpressionsText}">111</div>
            </div>
            <div class="margin-left text-center border padding-small" th:if="${ads.completed} OR ${ads.running}">
                <div class="ads-kpi-title" th:text="#{label.clicks}">CLICKS</div>
                <div th:text="${ads.totalClicksText}">111</div>
            </div>
            <div class="margin-left text-center border padding-small" th:if="${ads.completed} OR ${ads.running}">
                <div class="ads-kpi-title">CTR</div>
                <div th:text="${ads.clickThroughRatePercentageText}">111</div>
            </div>
        </div>
    </div>
</div>

<div class="ads-summary-card" th:fragment="ads-summary-card(ads)">
    <div class="flex">
        <div class="img-container margin-bottom" th:if="${ads.thumbnailUrl}">
            <a th:href="'/me/ads/campaigns/' + ${ads.id}">
                <img th:alt="${ads.title}" th:src="${ads.thumbnailUrl}"/>
            </a>
        </div>
        <div class="margin-left-small">
            <a th:href="'/me/ads/campaigns/' + ${ads.id}">
                <h2 class="title margin-none" th:text="${ads.title}">This is a tile</h2>
            </a>
            <div class="margin-top-small">
                <i class="fa-solid fa-calendar-days"></i>
                <span th:text="${ads.startDateYYYYMMDD}">2023/01/02</span>
                -
                <span th:text="${ads.endDateYYYYMMDD}">2023/01/02</span>
            </div>
            <div class="margin-top-small">
                <span class="price" th:text="${ads.budget}">1500 FCFA</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
