<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div class="book-card padding-bottom" th:fragment="book-card(book)" th:id="'book-card-' + ${book.id}">
    <a th:alt="${book.product.title}" th:href="${book.playUrl}" wutsi-track-event="book-card-click">
        <div class="img-container" th:if="${book.product.thumbnailUrl}">
            <img th:alt="${book.product.title}" th:src="${book.product.thumbnailUrl}"/>
        </div>
        <div class="progress" th:if="${book.readPercentage > 0}">
            <div aria-valuemax="100" aria-valuemin="0" class="progress-bar" role="progressbar"
                 th:aria-valuenow="${book.readPercentage}"
                 th:style="'width:' + ${book.readPercentage} + '%'"
            ></div>
        </div>
    </a>
</div>

</body>
</html>
