<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div class="comment-widget" th:fragment="widget(story)" th:id="'comment-widget-' + ${story.id}">
    <a rel="nofollow" th:href="'/comments?story-id=' + ${story.id}" th:title="#{comment.title}">
        <div th:replace="~{components/comment :: badge(${story})}"></div>
    </a>
</div>

<div class="comment-badge flex" th:fragment="badge(story)" th:id="'comment-badge-' + ${story.id}"
     th:if="${toggles.comment}">
    <div>
        <i class="comment-icon fa-comment"
           th:classappend="${story.commented} ? 'fa-solid comment-icon-commented' : 'fa-regular'"></i>
    </div>
    <div>
        &nbsp;
        <span class="comment-count"
              th:classappend="${story.commented} ? 'comment-icon-commented'"
              th:data-comment-story-id="${story.id}" th:id="'comment-count-' + ${story.id}"
              th:text="${story.commentCount} GT 0 ? ${story.commentCount}"
        ></span>
    </div>
</div>

<div class="border-top comment padding flex" th:fragment="entry(comment)">
    <img class="margin-right" th:if="${comment.user.pictureUrl}" th:src="${comment.user.pictureUrl}"
         th:title="${comment.user.fullName}"/>
    <div>
        <a th:href="${comment.user.slug}">
            <div class="author" th:if="${comment.user}" th:text="${comment.user.fullName}">Ray Sponsible</div>
        </a>
        <div class="date" th:text="${comment.timestamp}">2 days ago</div>

        <div class="utext" th:utext="${comment.html}"/>
    </div>
</div>

<div class="text-center" id="load-more-comments" th:fragment="load-more(moreUrl)">
    <div class="padding" th:if="${moreUrl}">
        <button class="btn btn-light btn-block" id="btn-load-more-comments" th:data-url="${moreUrl}">
            <span th:text="#{label.more_comments}">More Comments</span> ....
        </button>

        <script>
            $(document).ready(function () {
                $('#load-more-comments button').click(function () {
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fas fa-spinner fa-spin">');

                    const url = $(this).attr('data-url');
                    wutsi.httpGet(url, false)
                        .then(function (html) {
                            $('#load-more-comments').replaceWith(html)
                        })
                });
            })
        </script>
    </div>
</div>


</body>
</html>
