<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div class="comment-widget" th:fragment="widget(story)" th:id="'comment-widget-' + ${story.id}">
    <a href="javascript: wcomment.show()" th:title="#{comment.title}" wutsi-track-event="comment_click">
        <div th:replace="components/comment :: badge(${story})"></div>
    </a>
    <div class="border comment-widget-content"></div>
</div>

<div class="comment-badge flex" th:fragment="badge(story)" th:if="${toggles.comment}">
    <div>
        <i class="far fa-comment-alt comment-icon"></i>
        <i th:class="${story.commented} ? 'fas fa-comment-alt comment-icon comment-icon-commented' : 'far ffa-comment-alt comment-icon comment-icon'"></i>
    </div>
    <div>
        &nbsp;
        <span class="comment-count"
              th:data-comment-story-id="${story.id}" th:id="'comment-count-' + ${story.id}"
              th:text="${story.commentCount} GT 0 ? ${story.commentCount}"
        ></span>
    </div>
</div>


</body>
</html>
