<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="widget(story)" class="comment-widget" th:id="'comment-widget-' + ${story.id}">
    <a href="javascript: wcomment.show()" th:title="#{comment.title}" wutsi-track-event="comment_click">
        <div th:replace="components/comment :: badge(${story})"></div>
    </a>
    <div class="border comment-widget-content"></div>
</div>

<div th:fragment="badge(story)" class="comment-badge flex" th:if="${toggles.comment}">
    <div><i class="far fa-comment-alt comment-icon"></i></div>
    <div>
        &nbsp;
        <span class="comment-count" th:id="'comment-count-' + ${story.id}" th:data-comment-story-id="${story.id}"></span>
    </div>
</div>


</body>
</html>
