<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="padding donation-container"
     th:fragment="panel(blog)"
     th:if="${blog.blog} AND ${blog.walletId}"
>
    <div th:text="#{label.please_support_us}">If you can, please support us with a donation. Thank you</div>
    <div class="margin-top">
        <div th:replace="~{components/donate :: button(${blog})}"></div>
    </div>
</div>


<a class="btn btn-primary btn-donate" rel="nofollow"
   th:fragment="button(blog)"
   th:href="${blog.slug} + '/donate'"
   th:if="${toggles.monetization} AND ${blog.blog} AND ${blog.walletId}"
   th:text="#{button.donate}"
   wutsi-track-event="donate">
    Donate
</a>

<a class="btn btn-primary btn-donate" href="/me/settings/monetization" rel="nofollow"
   th:fragment="enable(blog)"
   th:if="${toggles.monetization} AND ${blog.id} == ${user?.id} AND !${blog.walletId}"
   th:text="#{button.enable_monetization}">
    Enable Monetization
</a>

<div class="modal fade" id="donate-modal" tabindex="-1" th:fragment="modal(story, amount)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="text-left padding-2x" th:utext="#{page.donate.modal.description(${amount})}">MSG</div>
                </div>
                <div class="margin-top">
                    <div>
                        <a class="btn btn-primary" id="btn-donate" rel="nofollow"
                           th:href="${story.user.slug} + '/donate?redirect=' + ${story.slug}"
                           th:text="#{button.donate}"
                           wutsi-track-event="donate">
                            Donate
                        </a>
                    </div>
                    <div class="margin-top">
                        <a href="javascript: javascript: $('#donate-modal').modal('toggle');" id="donate-modal-close"
                           wutsi-track-event="continue-reading">
                            <span th:text="#{button.continue_reading}">Continue Reading</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const donate_modal = new bootstrap.Modal('#donate-modal', {
                keyboard: true
            });

            let displayed = false;
            $(window).on('scroll', function () {
                const s = $(window).scrollTop();
                const d = $(document).height();
                const c = $(window).height();

                const scrollPercent = ((s / (d - c)) * 100) | 0;
                // console.log('>>> donation-modal scroll-percent=' + scrollPercent, 'displayed=' + displayed);
                if (scrollPercent > 30 && !wutsi.google_one_tap_displayed && !displayed) {
                    displayed = true;
                    donate_modal.show();
                    wutsi.ga_track('donate-modal', 'loaded');
                }
            });
        });
    </script>
</div>

</body>
</html>
