<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="padding text-center box-filled-highlight-light"
     th:fragment="panel(blog, returnUrl, story, referer)"
     th:if="!${user} OR ${user.canSubscribeTo(blog)}"
>
    <div th:text="#{label.please_subscribe}">If you can, please support us with a donation. Thank you</div>
    <div class="margin-top">
        <div
            th:replace="~{components/follow :: follow-button(${blog}, ${returnUrl}, true, true,${story}, ${referer})}"></div>
    </div>
</div>

<a class="btn btn-follow btn-follow" rel="nofollow"
   th:classappend="${primaryButton ? 'btn-primary' : 'btn-light'}"
   th:fragment="follow-button(blog, returnUrl, primaryButton, bigButton, story, referer)"
   th:href="${story} ? '/@/' + ${blog.name} + '/subscribe?story-id=' + ${story.id} + '&return-url=' + ${returnUrl} : '/@/' + ${blog.name} + '/subscribe?return-url=' + ${returnUrl} + '&referer=' + ${referer}"
   th:if="!${user} OR ${user.canSubscribeTo(blog)}"
>
    <span th:if="!${bigButton}" th:text="#{button.follow}">Follow</span>
    <span th:if="${bigButton}" th:text="#{button.subscribe_to_my_blog}">Follow</span>
</a>

<a class="btn btn-light btn-unfollow" rel="nofollow"
   th:fragment="unfollow-button(blog, returnUrl)"
   th:href="'/@/' + ${blog.name} + '/unsubscribe?return-url=' + ${returnUrl}"
   th:if="${blog.blog} AND ${blog.subscribed}"
>
    <span th:text="#{button.unfollow}">Unfollow</span>
</a>

<div class="modal fade" id="follow-modal" tabindex="-1"
     th:fragment="modal(blog, story, returnUrl, referer)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img alt="${blog.fullName}" height="64" th:src="${blog.pictureUrl}" width="64"/>
                <div class="margin-top">
                    <h4 th:text="#{label.discover_more_from(${blog.fullName})}">Discover more from Ray Sponsible</h4>
                    <p class="margin-none" th:if="${blog.biography}" th:text="${blog.biography}">This is the bio...</p>
                </div>

                <div class="margin-top-2x">
                    <div>
                        <div
                            th:replace="~{components/follow :: follow-button(${blog}, ${returnUrl}, true, true, ${story}, ${referer})}"></div>
                    </div>
                    <div class="margin-top">
                        <a href="javascript: follow_modal.hide();" id="follow-modal-close">
                            <span th:text="#{button.continue_reading}">Continue Reading</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const follow_modal = new bootstrap.Modal('#follow-modal', {
            keyboard: true
        });

        $(document).ready(function () {
            let displayed = false;

            $(window).on('scroll', function () {
                const s = $(window).scrollTop();
                const d = $(document).height();
                const c = $(window).height();

                const scrollPercent = ((s / (d - c)) * 100) | 0;
                if (scrollPercent > 30 && !wutsi.google_one_tap_displayed && !displayed) {
                    console.log('scroll-percent=' + 60, 'displayed=' + displayed)

                    displayed = true;
                    follow_modal.show();
                    wutsi.ga_track('follow-modal', 'loaded');
                }
            });

            $('#follow-modal-close').click(function () {
                wutsi.ga_track('follow-modal', 'continue-reading');
            });

            $('#follow-modal .btn-follow').click(function () {
                wutsi.ga_track('follow-modal', 'subscribe');
            });
        });
    </script>
</div>

</body>
</html>
