<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="padding text-center box-filled-highlight-light border-highlight"
     th:fragment="panel(blog,returnUrl)"
     th:if="!${user} OR ${user.canSubscribeTo(blog)}"
>
    <div class="margin-bottom" th:text="#{label.dont_miss_future_post}">Subscribe now</div>
    <div th:replace="~{components/follow :: follow-button(${blog}, ${returnUrl}, true, false, false)}"></div>
</div>

<a class="btn btn-follow" rel="nofollow"
   th:classappend="${(primaryButton ? 'btn-primary' : 'btn-light') + ' ' + (bigButton ? 'btn-block' : '')}"
   th:fragment="follow-button(blog, returnUrl, primaryButton, bigButton, includeNameInCaption)"
   th:href="'/@/' + ${blog.name} + '/subscribe?return-url=' + ${returnUrl}"
   th:if="!${user} OR ${user.canSubscribeTo(blog)}"
>
    <span th:text="#{button.follow}">Follow</span>
    <span th:if="${includeNameInCaption}" th:text="' @' + ${blog.name}">@ray.sponsible</span>
</a>

<a class="btn btn-light btn-unfollow" rel="nofollow"
   th:fragment="unfollow-button(blog, returnUrl)"
   th:href="'/@/' + ${blog.name} + '/unsubscribe?return-url=' + ${returnUrl}"
   th:if="${blog.blog} AND ${blog.subscribed}"
>
    <span th:text="#{button.unfollow}">Unfollow</span>
</a>


</body>
</html>
