<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="analytics">
    <script async
            th:if="${page.googleAnalyticsCode}"
            th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${page.googleAnalyticsCode}"></script>
    <script id="ga-code" th:inline="javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', /*[[${page.googleAnalyticsCode}]]*/'0');
    </script>
</div>

<div th:fragment="one-tap(${story}, ${product})">
    <div th:if="!${user} AND ${page.showGoogleOneTap} AND ${toggles.googleOneTapSignIn}">
        <div data-callback="g_one_tap_callback"
             data-moment_callback="g_one_tap_moment"
             id="g_id_onload"
             th:data-client_id="${page.googleClientId}"
        >
        </div>
        <script id="g_one_tap_script" src="https://accounts.google.com/gsi/client"></script>
        <script id="g_one_tap_callback" th:inline="javascript">
            function g_one_tap_callback(response) {
                console.log('g_one_tap_callback', response);

                const storyId = /*[[${story?.id}]]*/'';
                const productId = /*[[${product?.id}]]*/'';
                wutsi.httpGet('/login/onetap/callback?credential=' + response.credential + '&story-id=' + storyId + '&product-id=' + productId, true)
                    .then(function (data) {
                        wutsi.httpGet(data.url, false);
                    });
            }

            function g_one_tap_moment(notification) {
                console.log('g_one_tap_moment',
                    'type=' + notification.getMomentType(),
                    'displayed=' + notification.isDisplayed(),
                    'reason=' + notification.getNotDisplayedReason()
                );
                if (notification.getMomentType() === 'display') {
                    wutsi.google_one_tap_displayed = notification.isDisplayed();
                }
            }
        </script>
    </div>
</div>


</body>
</html>
