<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" id="kpi-overview" th:fragment="blog-overview(blog, wallet)">
    <div class="row">
        <div class="col-12 col-md-2" id="kpi-overview-read"
             th:classappend="${wallet} ? 'offset-md-1' : 'offset-md-2'">
            <div class="text-center padding border border-rounded box-filled-white">
                <div th:text="#{label.views}">Views</div>
                <div class="highlight text-larger">
                    <b th:text="${blog.readCountText}">0</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2" id="kpi-overview-read-time">
            <div class="text-center padding border border-rounded box-filled-white">
                <div th:text="#{label.read_time}">Read Time</div>
                <div class="highlight text-larger">
                    &nbsp;<b th:text="${blog.totalDurationText}">0</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2" id="kpi-overview-subscriber">
            <div class="text-center padding border border-rounded box-filled-white">
                <div th:text="#{label.subscribers}">Subscribers</div>
                <div class="highlight text-larger">
                    <b th:text="${blog.subscriberCountText}">0</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2" id="kpi-overview-balance" th:if="${wallet}">
            <div class="text-center padding border border-rounded box-filled-white">
                <div th:text="#{label.balance}">Balance</div>
                <div class="highlight">
                    <b class="text-larger" th:text="${wallet.balanceText}">0</b>
                    <span class="text-small" th:text="${wallet.country.currencySymbol}">FCFA</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2" id="kpi-overview-more">
            <div class="text-center padding border border-rounded box-filled-white">
                <a href="/me/stats/user" th:text="#{button.stats}">Stats</a>
                <div class="highlight text-larger">
                    <a href="/me/stats/user">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kpi-badge flex" th:fragment="badge(story)" th:id="'kpi-badge-' + ${story.id}">
    <div>
        <i class="fa-solid fa-chart-simple"></i>
    </div>
    <div>&nbsp;
        <span class="kpi-count" th:if="${story.readCount} GT 0" th:text="${story.readCountText}">6.2K</span>
    </div>
</div>

<div class="kpi-overview" rel="nofollow" th:fragment="widget(story)" th:id="'kpi-widget-' + ${story.id}">
    <a th:href="'/me/stats/story?story-id=' + ${story.id}" th:if="${superUser} OR ${user?.id} == ${story.user.id}"
       th:title="#{view.title}" wutsi-track-event="kpi">
        <div th:replace="~{components/kpi :: badge(${story})}"></div>
    </a>
    <div th:if="!${superUser} AND ${user?.id} != ${story.user.id}">
        <div th:replace="~{components/kpi :: badge(${story})}"></div>
    </div>
</div>

<div class="padding-small margin-top border border-rounded box-filled-white"
     th:fragment="chart(id, title, url, width, height)"
>
    <b th:text="${title}">TITLE</b>

    <div id="subscriber-icons" th:if="${id} == 'subscription'"></div>

    <ul class="nav nav-pills margin-top-small" th:id="'nav-pills-' + ${id}">
        <li class="nav-item">
            <button aria-current="page" class="nav-link active" th:data-target="'chart-area-' + ${id}"
                    th:data-url="${url} + '&period=l30'"
                    th:text="#{label.last_30d}"
            >
                Last 30 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'chart-area-' + ${id}"
                    th:data-url="${url} + '&period=l90'"
                    th:text="#{label.last_90d}"
            >
                Last 90 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'chart-area-' + ${id}"
                    th:data-url="${url} + '&period=l180'"
                    th:text="#{label.last_180d}"
            >
                Last 90 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'chart-area-' + ${id}"
                    th:data-url="${url}"
                    th:text="#{label.overall}"
            >
                Overall
            </button>
        </li>
    </ul>
    <div th:data-height="${height}" th:data-width="${width}" th:id="'chart-area-' + ${id}"></div>
</div>


<div class="padding-small margin-top border border-rounded box-filled-white"
     th:fragment="table(id, title, url, height)">
    <b th:text="${title}">TITLE</b>
    <ul class="nav nav-pills margin-top-small" th:id="'nav-pills-' + ${id}">
        <li class="nav-item">
            <button aria-current="page" class="nav-link active" th:data-target="'table-' + ${id}"
                    th:data-url="${url} + '&period=l30'"
                    th:text="#{label.last_30d}"
            >
                Last 30 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'table-' + ${id}"
                    th:data-url="${url} + '&period=l90'"
                    th:text="#{label.last_90d}"
            >
                Last 90 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'table-' + ${id}"
                    th:data-url="${url} + '&period=l180'"
                    th:text="#{label.last_180d}"
            >
                Last 90 days
            </button>
        </li>
        <li class="nav-item">
            <button aria-current="page" class="nav-link" th:data-target="'table-' + ${id}"
                    th:data-url="${url}"
                    th:text="#{label.overall}"
            >
                Overall
            </button>
        </li>
    </ul>

    <div class="margin-top overflow-scroll" th:id="'table-' + ${id}" th:style="'height:' + ${height} + 'px;'"></div>
</div>

<div th:fragment="tui-chart">
    <link href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css" rel="stylesheet">
    <script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.min.js"></script>
    <script th:inline="javascript">
        function refresh_chart(id, url) {
            wutsi.http_get(url, true)
                .then(function (data) {
                    const selector = '#' + id;
                    $(selector).html('');
                    const width = $(selector).attr('data-width');
                    const height = $(selector).attr('data-height');
                    const bg = wutsi.is_dark_mode() ? '#1e1e1e' : '#fff';
                    const fc = wutsi.is_dark_mode() ? '#fff' : '#000';

                    const container = document.getElementById(id);
                    const theme = {
                        chart: {
                            backgroundColor: bg,
                        },
                        title: {
                            color: fc,
                        },
                        plot: {
                            backgroundColor: bg,
                            lineColor: fc,
                            vertical: {
                                lineColor: fc
                            },
                            horizontal: {
                                lineColor: fc
                            }
                        },
                    }

                    const options = {
                        chart: {
                            width: width ? width : 600,
                            height: height ? height : 250,
                            title: '',
                            format: '1,000',
                        },
                        series: {
                            showLabel: false
                        },
                        chartExportMenu: {
                            visible: false
                        },
                        legend: {
                            visible: (data.series.length > 1),
                            showCheckbox: false
                        },
                        theme: 'wutsi',
                    };

                    tui.chart.registerTheme('wutsi', theme);
                    tui.chart.columnChart(container, data, options);
                })
        }
    </script>
</div>
</body>
</html>
