<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="like-widget" th:fragment="widget(story)" th:id="'like-widget-' + ${story.id}">
    <a th:href="'javascript: wutsi.like(' + ${story.id} + ')'" th:title="#{like.title}" wutsi-track-event="like_click">
        <div th:replace="components/like :: badge(${story})"></div>
    </a>
</div>


<div class="like-badge flex" th:fragment="badge(story)" th:id="'like-badge-' + ${story.id}" th:if="${toggles.like}">
    <div>
        <i class="fa-heart like-icon"
           th:classappend="${story.liked} ? 'fas like-icon-liked' : 'far'"></i>
    </div>
    <div>&nbsp;
        <span class="like-count"
              th:classappend="${story.liked} ? 'like-icon-liked'"
              th:text="${story.likeCount} GT 0 ? ${story.likeCount}"
        ></span>
    </div>
</div>

</body>
</html>
