<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="like-widget" th:fragment="widget(story)" th:id="'like-widget-' + ${story.id}">
    <a rel="nofollow" th:href="'javascript: wutsi.like(' + ${story.id} + ')'" th:title="#{like.title}">
        <div th:replace="~{components/like :: badge(${story})}"></div>
    </a>
</div>


<div class="like-badge flex" th:fragment="badge(story)" th:id="'like-badge-' + ${story.id}" th:if="${toggles.like}">
    <div>
        <i class="fa-heart like-icon"
           th:classappend="${story.liked} ? 'fas like-icon-liked' : 'far'"></i>
    </div>
    <div>&nbsp;
        <span class="like-count"
              th:classappend="${story.liked} ? 'like-icon-liked'"
              th:text="${story.likeCount} GT 0 ? ${story.likeCount}"
        ></span>
    </div>
</div>

<div th:fragment="panel(story)">
    <div class="padding text-center box-filled-highlight-light border-highlight"
         th:id="'like-panel-' + ${story.id}">
        <div class="text-larger" th:utext="#{label.encourage_the_author(${story.user.fullName})}">
            If you liked the story
        </div>
        <button class="btn btn-light margin-top like-badge"
                th:onclick="'wutsi.like(' + ${story.id} + ',like_panel_callback)'">
            <i class="fas fa-heart like-icon like-icon-liked"></i>
            <span th:text="#{button.like}">Like</span>
        </button>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function like_panel_callback() {
            const storyId = /*[[${story.id}]]*/ '';
            $('#like-panel-' + storyId).hide();
        }

        /*]]>*/
    </script>
</div>

</body>
</html>
