<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="product-widget" th:fragment="widget(product)" th:id="'product-widget-' + ${product.id}"
     th:if="${product.orderCount} GT 0">
    <div th:replace="~{components/product :: badge(${product})}"></div>
</div>

<div class="product-badge flex" th:fragment="badge(product)" th:id="'product-badge-' + ${product.id}">
    <div>
        <i class="fa-solid fa-bag-shopping"></i>
    </div>
    <div th:if="${product.orderCount} GT 0">
        &nbsp;
        <span class="order-count" th:text="${product.orderCount}"></span>
    </div>
</div>


<div class="product flex" th:fragment="listitem(product)">
    <div class="img-container margin-right" th:if="${product.thumbnailUrl}">
        <img th:alt="#{label.sales}" th:src="${product.thumbnailUrl}" th:title="#{label.sales}"/>
    </div>
    <div>
        <h3 class="title margin-none" th:text="${product.title}">Title</h3>
        <div class="highlight" th:text="${product.price}">1000</div>
        <div class="error" th:if="!${product.available}" th:text="#{label.not_available}">Not Available</div>
        <div>
            <div th:replace="~{components/product :: widget(${product})}"></div>
        </div>
    </div>
</div>

<div class="flex product-attaches" th:fragment="attachment(product)">
    <div class="ext">
        <span th:class="${product.fileExtension}" th:text="${product.fileExtension}">TXT</span>
    </div>
    <div class="filesize margin-left" th:text="${product.fileContentLengthText}">150 Kb</div>
</div>

<div class="product-summary-card" th:fragment="product-summary-card(product, cta)">
    <div class="flex">
        <div class="img-container margin-bottom" th:if="${product.thumbnailUrl}">
            <a th:href="${product.slug}" th:title="${product.title}">
                <img th:alt="${product.title}" th:src="${product.thumbnailUrl}"/>
            </a>
        </div>
        <div class="margin-left-small">
            <a th:href="${product.slug}" th:title="${product.title}">
                <h2 class="title margin-none" th:text="${product.title}">This is a tile</h2>
                <div class="price" th:text="${product.price}">1000 FCFA</div>
            </a>
            <a class="btn btn-primary margin-top-small" th:href="${product.slug}" th:if="${cta}"
               th:text="#{button.start_shopping}" th:title="${product.title}">
                Shop Now
            </a>
        </div>
    </div>
</div>

<div class="product-card" th:fragment="product-card(product)" th:id="'product-' + ${product.id}">
    <a th:alt="${product.title}" th:href="${product.url}">
        <div class="img-container margin-bottom" th:if="${product.thumbnailUrl}">
            <img th:alt="${product.title}" th:src="${product.thumbnailUrl}"/>
        </div>
        <div class="file-extension" th:classappend="'file-extension-' + ${product.fileExtension}"
             th:text="${product.fileExtension}">
            PDF
        </div>
        <h2 class="title margin-bottom" th:text="${product.title}">This is a tile</h2>
        <div class="padding-bottom" th:text="${product.price}">1000 FCFA</div>
    </a>
</div>


<div class="border border-rounded margin-bottom-small box-filled-white padding"
     th:fragment="shop-panel(products)"
>
    <h3 class="text-center" th:text="#{label.shop}">Shop</h3>
    <div th:each="product: ${products}">
        <div th:replace="~{components/product :: product-summary-card(${product}, false)}"></div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" th:href="${blog.shopUrl}" th:text="#{button.start_shopping}">
            Start Shopping
        </a>
    </div>
</div>

<div class="product-summary-ads padding border border-rounded" id="product-summary-ads"
     th:fragment="product-summary-ads(product)">
    <div class="text-right">
        <button aria-label="Close" class="btn-close btn-close-white" type="button"></button>
    </div>
    <div th:replace="~{components/product :: product-summary-card(${product}, true)}"></div>

    <script>
        $(document).ready(function () {
            $('#product-summary-ads .btn-close').click(function () {
                $('#product-summary-ads').hide();
            });
        });
    </script>
</div>


</body>
</html>
