<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="a2hs-card">
    <div id="a2hs-container" class="ads-card box-filled-highlight-light padding" th:if="${toggles.pwa} AND ${toggles.pwaAddToHomescreen}">
        <div class="flex">
            <img width="64" height="64"  class="margin-right" th:src="${page.assetUrl} + '/assets/wutsi/img/pwa_a2hs.png'" />
            <div>
                <p th:utext="#{component.pwa.a2hs.message}">Message</p>
                <button class="btn btn-primary btn-install" th:text="#{button.install}">Install</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="push-card">
    <div id="push-container" class="ads-card box-filled-highlight-light padding" th:if="${toggles.pwa} AND ${toggles.pwaPushNotification}">
        <div class="flex">
            <img width="64" height="64"  class="margin-right"  th:src="${page.assetUrl} + '/assets/wutsi/img/pwa_push.png'" />
            <div>
                <p th:utext="#{component.pwa.push.message}">Message</p>
                <button class="btn btn-primary btn-allow" th:text="#{button.activate_notifications}">Install</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="reset-badge">
    <script id="pwa-badge-js" th:if="${toggles.pwa} AND ${toggles.pwaBadge}">
        $(document).ready(function(){
            if (navigator.clearAppBadge) {
                console.log('Resetting the AppBadge');
                navigator.clearAppBadge()
                    .catch(function (ex) {
                        console.error('Unable to clear the AppBadge', ex);
                    });
            } else {
                console.log('navigator.clearAppBadge not supported');
            }
        });
    </script>
</div>


</body>
</html>
