<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="inline_input_form(title, name, value, maxlen, control, type, placeholder)"
     th:id="${name} + '-form'">
    <h4 th:text="${title}">Title</h4>
    <div class="alert alert-danger hidden"></div>
    <input class="old-value" type="hidden"/>
    <div class="row">
        <div class="col-12 col-md-9 margin-bottom">
            <input class="form-control" disabled="disabled"
                   th:attrappend="required = ${name == 'name'} ? 'required': null"
                   th:data-key="${name}"
                   th:if="${control == 'input'}"
                   th:maxlength="${maxlen}"
                   th:min="${min} ? ${min}"
                   th:name="${name}"
                   th:placeholder="${placeholder}"
                   th:step="${type == 'number'} ? 1"
                   th:type="${type}"
                   th:value="${value}"
            />

            <div class="input-group-text" th:if="${control == 'money'}">
                <input class="form-control" disabled="disabled" step="1" th:data-key="${name}"
                       th:maxlength="10"
                       th:min="${min} ? ${min}"
                       th:name="${name}"
                       th:placeholder="${placeholder}"
                       th:value="${value}"
                       type="number"
                />
                <span class="input-group-text" th:if="${country}" th:text="${country.currencySymbol}">.00</span>
            </div>

            <textarea class="form-control" disabled="disabled" rows="5"
                      th:data-key="${name}"
                      th:if="${control == 'textarea'}"
                      th:maxlength="${maxlen}"
                      th:name="${name}"
                      th:placeholder="${placeholder}"
                      th:text="${value}"
            ></textarea>

            <select class="form-control" disabled="disabled"
                    required="required"
                    th:data-key="${name}"
                    th:if="${control == 'language'}"
                    th:name="${name}"
            >
                <option
                        th:each="language :${languages}"
                        th:selected="${language.language} == ${value} ? 'selected'"
                        th:text="${language.displayLanguage}"
                        th:value="${language.language}"
                >
                    Francais
                </option>
            </select>

            <select class="form-control" disabled="disabled"
                    th:data-key="${name}"
                    th:if="${control == 'yes-no'}"
                    th:name="${name}"
            >
                <option th:selected="${value} ? 'selected'" th:text="#{label.yes}" value="true">
                    Yes
                </option>
                <option th:selected="!${value} ? 'selected'" th:text="#{label.no}" value="false">
                    No
                </option>
            </select>

            <select class="form-control" disabled="disabled"
                    required="required"
                    th:data-key="${name}"
                    th:if="${control == 'product-type'}"
                    th:name="${name}"
            >
                <option value=""></option>
                <option th:selected="${value} == 'EBOOK' ? 'selected'" th:text="#{product.type.EBOOK}"
                        value="EBOOK">
                    E-Book
                </option>
                <option th:selected="${value} == 'DOCUMENT' ? 'selected'" th:text="#{product.type.DOCUMENT}"
                        value="DOCUMENT">
                    Document
                </option>
            </select>

            <select class="form-control" disabled="disabled"
                    th:data-key="${name}"
                    th:if="${control == 'ads-type'}"
                    th:name="${name}"
            >
                <option th:selected="${value} == 'BOX' ? 'selected'" th:text="#{ads.type.BOX}" th:value="BOX">
                    BOX
                </option>
                <option th:selected="${value} == 'BOX_2X' ? 'selected'" th:text="#{ads.type.BOX_2X}" th:value="BOX_2X">
                    BOX_2X
                </option>
                <option th:selected="${value} == 'BANNER_WEB' ? 'selected'" th:text="#{ads.type.BANNER_WEB}"
                        th:value="BANNER_WEB">
                    BANNER_WEB
                </option>
                <option th:selected="${value} == 'BANNER_MOBILE' ? 'selected'" th:text="#{ads.type.BANNER_MOBILE}"
                        th:value="BANNER_MOBILE">
                    BANNER_MOBILE
                </option>
            </select>

            <select class="form-control" disabled="disabled"
                    required="required"
                    th:data-key="${name}"
                    th:if="${control == 'category'}"
                    th:name="${name}"
            >
                <option value=""></option>
                <option th:each="category : ${categories}" th:selected="${value} == ${category.id} ? 'selected'"
                        th:text="${category.longTitle}"
                        th:value="${category.id}"
                >
                    Title
                </option>
            </select>

            <select class="form-control" disabled="disabled"
                    required="required"
                    th:data-key="${name}"
                    th:if="${control == 'day_of_week'}"
                    th:name="${name}"
            >
                <option th:text="${placeholder}" value="-1"></option>
                <option th:attr="selected=${value} == '1'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.1}"
                        value="1">Monday
                </option>
                <option th:attr="selected=${value} == '2'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.2}"
                        value="2">Monday
                </option>
                <option th:attr="selected=${value} == '3'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.3}"
                        value="3">Monday
                </option>
                <option th:attr="selected=${value} == '4'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.4}"
                        value="4">Monday
                </option>
                <option th:attr="selected=${value} == '5'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.5}"
                        value="5">Monday
                </option>
                <option th:attr="selected=${value} == '6'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.6}"
                        value="6">Monday
                </option>
                <option th:attr="selected=${value} == '7'?selected : null"
                        th:text="#{page.settings.newsletter.every.day.7}"
                        value="7">Monday
                </option>
            </select>

            <div class="input-group" th:if="${control == 'country'}">
                <input id="country_code" name="value" th:data-key="${name}" th:name="${name}" type="hidden"/>
                <input class="form-control" disabled="disabled" id="country" type="text"/>

                <script th:inline="javascript" type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function () {
                        $("#country").countrySelect({
                            defaultCountry: /*[[${value}]]*/''
                        });
                    });
                </script>
            </div>

        </div>
        <div class="col-12 col-md-3 text-right margin-bottom">
            <button class="btn btn-light btn-sm btn-edit"
                    th:data-key="${name}"
                    th:text="#{button.edit}"
            >Edit
            </button>

            <div class="hidden toolbar">
                <button class="btn btn-primary btn-sm margin-right btn-save"
                        th:data-key="${name}"
                        th:text="#{button.save}"
                >Save
                </button>

                <button class="btn btn-light btn-sm btn-cancel"
                        th:data-key="${name}"
                        th:text="#{button.cancel}"
                >Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="inline_social_input_form(title, name, value, placeholder)"
     th:id="${name} + '-form'">
    <div class="alert alert-danger hidden"></div>
    <input class="old-value" type="hidden"/>
    <div class="row">
        <div class="col-12 col-md-9 margin-bottom">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" th:text="${title}">https://www.fdlfkd.com</span>
                </div>
                <input class="form-control" disabled="disabled" pattern="^[A-Za-z0-9_.-]{1,30}$"
                       th:data-key="${name}"
                       th:maxlength="30"
                       th:name="${name}"
                       th:placeholder="${placeholder}"
                       th:value="${value}"
                />
            </div>
        </div>
        <div class="col-12 col-md-3 text-right margin-bottom">
            <button class="btn btn-light btn-sm btn-edit"
                    th:data-key="${name}"
                    th:text="#{button.edit}"
            >Edit
            </button>

            <div class="hidden toolbar">
                <button class="btn btn-primary btn-sm margin-right btn-save"
                        th:data-key="${name}"
                        th:text="#{button.save}"
                >Save
                </button>

                <button class="btn btn-light btn-sm btn-cancel"
                        th:data-key="${name}"
                        th:text="#{button.cancel}"
                >Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="phone_input_form(title, name, value, placeholder, country, showPaymentOptions)"
     th:id="${name} + '-form'">
    <div class="alert alert-danger hidden"></div>
    <input class="old-value" type="hidden"/>
    <input th:name="${name}" type="hidden"/>
    <h4 th:if="${title}" th:text="${title}">Title</h4>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="input-group">
                <input autocomplete="off" class="form-control w-100" disabled="disabled"
                       th:data-key="${name}"
                       th:maxlength="30"
                       th:placeholder="${placeholder}"
                       th:value="${value}"
                />
            </div>
        </div>
        <div class="col-12 col-md-3 text-right margin-bottom">
            <button class="btn btn-light btn-sm btn-edit"
                    th:data-key="${name}"
                    th:text="#{button.edit}"
            >Edit
            </button>

            <div class="hidden toolbar">
                <button class="btn btn-primary btn-sm margin-right btn-save"
                        th:data-key="${name}"
                        th:text="#{button.save}"
                        type="submit"
                >Save
                </button>

                <button class="btn btn-light btn-sm btn-cancel"
                        th:data-key="${name}"
                        th:text="#{button.cancel}"
                >Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="row" th:if="${showPaymentOptions}">
        <div class="col-12 margin-bottom">
            <img th:each="type : ${country.paymentProviderTypes}"
                 th:if="${type.mobileMoney}"
                 th:src="${type.logoUrl}"
                 width="32"/>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const name = /*[[${name}]]*/ '';
            const input = document.querySelector('[data-key=' + name + ']');
            // console.log('>>>> input', input);
            window.intlTelInput(input, {
                initialCountry: /*[[${country?.code}]]*/ '',
                hiddenInput: () => ({phone: "number", country: "number_country"}),
            });

            input.addEventListener('blur', function () {
                const iti = window.intlTelInputGlobals.getInstance(input);
                const number = iti.getNumber(intlTelInputUtils.numberFormat.E164);
                $('input[name=' + name + ']').val(number);
            });
        });
    </script>
</div>

<script th:fragment="script(postUrl)" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        $('.btn-edit').click(function () {
            begin_edit($(this).attr('data-key'));
        });

        $('.btn-cancel').click(function () {
            cancel_edit($(this).attr('data-key'));
        });

        $('.btn-save').click(function () {
            const key = $(this).attr('data-key');
            const selector = '#' + key + '-form';
            const name = $(this).attr('data-key');
            const value = $(selector + ' [name=' + name + ']').val();

            save_attribute(name, value);
        });

        $('.form-control').keyup(function () {
            const key = $(this).attr('data-key');
            validate(key);
        });
    });

    function save_attribute(name, value) {
        const data = {
            name: name,
            value: value
        };
        return wutsi
            .http_post(/*[[${postUrl}]]*/'', data, true)
            .then(function (data) {
                console.log('>>> saved', data);
                if (data.error) {
                    show_error(name, data.error);
                } else {
                    end_edit(name);

                    // Callback
                    if (typeof settings_editor_callback == 'function') {
                        settings_editor_callback(name, value);
                    }
                }
            });
    }

    function begin_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .btn-edit').addClass('hidden');
        $(selector + ' .toolbar').removeClass('hidden');

        $(selector + ' .form-control').removeAttr('disabled');
        $(selector + ' .form-control').focus();

        $(selector + ' .old-value').val($(selector + ' .form-control').val());

        validate(key);
    }

    function cancel_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .form-control').val($(selector + ' .old-value').val());
        end_edit(key);
    }

    function end_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .toolbar').addClass('hidden');
        $(selector + ' .btn-edit').removeClass('hidden');

        $(selector + ' .form-control').attr('disabled', 'disabled');

        $(selector + ' .old-value').val('');

        $(selector + ' .alert-danger').addClass('hidden');
    }

    function validate(key) {
        const selector = form_selector(key);

        if (!$(selector + ' .form-control')[0].checkValidity()) {
            $('.btn-save').attr('disabled', 'disabled');
        } else {
            $('.btn-save').removeAttr('disabled');
        }
    }

    function show_error(key, error) {
        const selector = form_selector(key);

        $(selector + ' .alert-danger').html(error);
        $(selector + ' .alert-danger').removeClass('hidden');
    }

    function form_selector(key) {
        return '#' + key + '-form';
    }
</script>

<div class="channel" th:fragment="channel(channel)" th:id="'channel-' + ${channel.type.name()}">
    <img class="channel-logo margin-right"
         th:src="${page.assetUrl} + '/assets/wutsi/img/social/' + ${channel.type.name()} + '.png'"
    />

    <div class="margin-right">
        <h6>
            <span th:if="${channel.connected}"
                  th:text="#{'page.settings.channel.' + ${channel.type.name()} + '.connected'}">Title</span>
            <span th:if="!${channel.connected}"
                  th:text="#{'page.settings.channel.' + ${channel.type.name()} + '.disconnected'}">Title</span>
        </h6>

        <div class="text-small"
             th:if="!${channel.connected}"
             th:text="#{'page.settings.channel.' + ${channel.type.name()} + '.description'}">
            Description
        </div>

        <div th:if="${channel.connected}">
            <img class="channel-picture" th:if="${channel.pictureUrl}" th:src="${channel.pictureUrl}"/>
            <b th:text="${channel.name}">Name</b>
        </div>
    </div>

    <div class="btn-container">
        <a class="btn btn-light btn-disconnect"
           th:href="'/me/settings/channel/disconnect?channelId=' + ${channel.id}"
           th:if="${channel.connected}"
           th:text="#{button.disconnect}">
            Disconnect your Blog
        </a>

        <a class="btn btn-primary btn-connect"
           th:href="'/me/settings/channel/connect?type=' + ${channel.type.name()}"
           th:if="!${channel.connected}"
        >
            <span th:text="#{button.connect}">Connect</span>
        </a>
    </div>
</div>

</body>
</html>
