<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div class="share-widget" th:fragment="widget(story)">
    <a th:href="'javascript: wutsi.share(' + ${story.id} + ');'" th:title="#{label.share}">
        <div class="share"
             th:data-title="${story.title}"
             th:data-url="${story.url}"
             th:id="'share-badge-' + ${story.id}"
        >
            <i class="fa-solid fa-arrow-up-from-bracket share-icon"></i>
        </div>
    </a>
</div>

</body>
</html>
