<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<div class="share-widget" th:fragment="widget(story)" th:id="'share-widget-' + ${story.id}">
    <a th:href="'javascript: wutsi.share(' + ${story.id} + ');'" th:title="#{label.share}" wutsi-track-event="share">
        <div th:replace="~{components/share :: badge(${story})}"></div>
    </a>
</div>

<div class="share-widget" th:fragment="widget-alt(title, url)">
    <a th:href="'javascript: wutsi.share_link(null,\'' + ${title} + '\',\'' + ${url} + '\');'"
       th:title="#{label.share}" wutsi-track-event="share">
        <i class="share fa-solid fa-arrow-up-from-bracket share-icon"></i>
    </a>
</div>

<i class="share fa-solid fa-arrow-up-from-bracket share-icon"
   th:data-title="${story.title}"
   th:data-url="${story.url}"
   th:fragment="badge(story)"
   th:id="'share-badge-' + ${story.id}"
>
</i>

<div class="modal" id="share-modal" role="dialog" tabindex="-1" th:fragment="popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="margin-none" th:text="#{label.share}">Share</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">X</button>
            </div>
            <div class="modal-body text-center">
                <a class="social" data-target="facebook"
                   href="javascript: wutsi.share_modal_callback('facebook');">
                    <img height="40"
                         th:src="${page.assetUrl} + '/assets/wutsi/img/social/whatsapp.png'"
                         width="40"/>
                </a>
                <a class="social margin-left-2x" data-target="twitter"
                   href="javascript: wutsi.share_modal_callback('twitter');">
                    <img height="45"
                         th:src="${page.assetUrl} + '/assets/wutsi/img/social/twitter.png'"
                         width="45"/>
                </a>
                <a class="social margin-left-2x" data-target="linkedin"
                   href="javascript: wutsi.share_modal_callback('linkedin');">
                    <img height="40"
                         th:src="${page.assetUrl} + '/assets/wutsi/img/social/linkedin.png'"
                         width="40"/>
                </a>
                <a class="social margin-left-2x" data-target="reddit"
                   href="javascript: wutsi.share_modal_callback('reddit');">
                    <img height="40"
                         th:src="${page.assetUrl} + '/assets/wutsi/img/social/reddit.png'"
                         width="40"/>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
