<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="toolbar">
    <a class="btn btn-light float-end" href="/me/syndicate" id="toolbar-syndicate"
       th:text="#{button.syndicate_story}">Syndicate Story</a>
    <a class="btn btn-primary margin-right float-end" href="/editor" id="toolbar-create"
       th:text="#{button.create_story}">New Story</a>
    <div class="clearfix"></div>
</div>

<ul class="nav nav-tabs" th:fragment="tabs(status, blog)">
    <li class="nav-item">
        <a class="nav-link" href="/me/draft" id="tab-draft" th:classappend="${status} == 'draft' ? 'active' : null">
            <span th:text="#{story.status.draft}">Draft</span>
            <span class="story-count badge badge-light"
                  th:if="${blog.draftStoryCount} GT 0"
                  th:text="${blog.draftStoryCount}"
            >9</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/me/published" id="tab-published"
           th:classappend="${status} == 'published' ? 'active' : null">
            <span th:text="#{story.status.published}">Published</span>
            <span class="story-count badge badge-light"
                  th:if="${blog.publishStoryCount} GT 0"
                  th:text="${blog.publishStoryCount}"
            >9</span>
        </a>
    </li>
</ul>

<div class="story col-12 flex" th:fragment="listitem(story)">
    <div class="img-container margin-right">
        <img th:if="${story.thumbnailUrl}" th:src="${story.thumbnailUrl}"/>
    </div>
    <div>
        <a th:href="${story.draft} ? '/editor/' + ${story.id} : ${story.slug}">
            <div>
                <h3 class="title">
                    <span th:text="${story.title}">Title</span>
                </h3>
                <h3 class="disabled" th:if="${story.title.isEmpty()}" th:text="#{story.no_title}">Title</h3>

                <div class="summary" th:text="${story.summary}">Summary</div>
                <div class="disabled" th:if="${story.summary.isEmpty()}" th:text="#{story.no_summary}">Summary</div>

                <div class="access" th:if="!${story.publicAccess}">
                    <i class="fa-solid fa-lock"></i>
                    <span th:text="#{'story.access.' + ${story.access}}">Access</span>
                </div>
            </div>
        </a>

        <div class="meta">
            <span th:text="#{label.modified}">Last Modified</span>: <span
            th:text="${story.modificationDateTime}">2 days ago</span>
            -
            <span th:if="${story.readingMinutes} GT 0"
                  th:text="#{story.read_time(${story.readingMinutes})}">6 min</span>
            (<span th:text="#{story.word_count(${story.wordCount})}">250 mots</span>)

            <a th:href="'/me/stats/story?story-id=' + ${story.id}" th:if="${story.readCount} GT 0">
                <span class="margin-left margin-right">-</span>
                <i class="fa-solid fa-chart-simple"></i>
                <span th:text="${story.readCountText}">1.2K</span>
                <span th:text="#{label.views}">Views</span>
            </a>

            <a class="btn btn-light margin-left"
               th:data-story-id="${story.id}"
               th:data-title="${story.title}"
               th:data-url="${story.url}"
               th:href="'javascript: wutsi.share(' + ${story.id} + ');'"
               th:if="${story.published}"
            >
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <span th:text="${story.shareCountText}">1.2K</span>
                <span class="margin-left" th:text="#{button.share}"></span>
            </a>

            <div class="dropdown show story-dropdown-menu margin-left">
                <button aria-expanded="false" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                        type="button">
                    <i class="fas fa-ellipsis-h"></i>
                </button>

                <ul class="dropdown-menu" th:aria-labelledby="'story-menu' + ${story.id}"
                    th:id="'story-menu' + ${story.id}">
                    <li>
                        <a class="dropdown-item menu-item-edit" th:href="'/editor/' + ${story.id}">
                            <span th:text="#{button.edit_text}">Edit Text</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item menu-item-edit"
                           th:href="'/me/story/' + ${story.id} + '/tag?for=edit'">
                            <span th:text="#{button.edit_info}">Edit Infos</span>
                        </a>
                    </li>
                    <li th:if="${story.draft}">
                        <a class="dropdown-item menu-item-preview" target="_new"
                           th:href="'/me/story/' + ${story.id} + '/preview'"
                           th:text="#{button.preview}"
                        >Preview</a>
                    </li>
                    <li th:if="${story.draft}">
                        <a class="dropdown-item menu-item-publish"
                           th:href="'/me/story/' + ${story.id} + '/publish'"
                           th:text="#{button.publish}"
                        >Publish</a>
                    </li>
                    <li th:if="!${story.draft}">
                        <a class="dropdown-item menu-item-unpublish"
                           th:href="'/me/published/unpublish?story-id=' + ${story.id}"
                           th:onclick="'return confirm(\'' + #{label.confirm_unpublish} + '\')'"
                           th:text="#{button.draft}"
                        >Unpublish</a>
                    </li>
                    <li class="dropdown-divider" th:if="${story.published}"></li>
                    <li th:if="${story.published}">
                        <a class="dropdown-item menu-item-stats" th:href="'/me/stats/story?story-id=' + ${story.id}">
                            <i class="fa-solid fa-chart-simple"></i>
                            <span th:text="#{button.stats}">Stats</span>
                        </a>
                    </li>
                    <li class="dropdown-divider" th:if="${story.draft}"></li>
                    <li th:if="${story.draft}">
                        <a class="dropdown-item menu-item-delete"
                           th:href="'/me/draft/delete?story-id=' + ${story.id}"
                           th:onclick="'return confirm(\'' + #{label.confirm_delete_story} + '\')'"
                           th:text="#{button.delete}"
                        >Delete</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="publish-schedule" th:if="${story.draft} AND ${story.scheduledPublishDateTimeAsDate}">
            <span th:text="#{label.publish_date}">Publish Date Modified</span>:
            <i class="far fa-calendar-alt"></i>
            <span class="date" th:text="${story.scheduledPublishDateTime}">Tomorrow</span>
        </div>
    </div>
</div>

<div th:fragment="widgets(story, showPin)">
    <div class="widget-container">
        <div th:replace="~{components/like :: widget(${story})}"></div>
        <div th:replace="~{components/comment :: widget(${story})}"></div>
        <div th:replace="~{components/kpi :: widget(${story})}"></div>
        <div th:replace="~{components/share :: widget(${story})}"></div>
        <div th:replace="~{components/pin :: widget(${story}, ${showPin})}"></div>
    </div>
</div>


<div class="meta flex text-small" th:fragment="meta(story)">
    <div class="margin-right" th:if="!${story.publicAccess}">
        <i class="fa-solid fa-lock"></i>
    </div>
    <div class="margin-right" th:text="${story.publishedDateTime}">12 May</div>
    <div th:if="${story.readingMinutes} GT 0">
        <span th:text="${story.readingMinutes}">2</span>
        <span th:text="#{label.minutes}">min</span>
    </div>
</div>

<div class="story-card border-rounded"
     th:classappend="${story.pinned} ?story-card-pinned"
     th:fragment="story-card(story, showPin)"
     th:id="'story-card-' + ${story.id}"
>
    <a th:href="${story.slug}" th:title="${story.title}">
        <h2 class="title">
            <i class="fa-solid fa-video" th:if="${story.video}"></i>
            <span th:text="${story.title}">Title</span>
        </h2>

        <div class="img-container margin-bottom" th:if="${story.thumbnailUrl} AND !${story.thumbnailUrl.isEmpty()}">
            <img loading="lazy"
                 th:alt="${story.title}"
                 th:attr="height=${story.thumbnailLargeHeight} ? ${story.thumbnailLargeHeight}"
                 th:src="${story.thumbnailLargeUrl}"
            />
        </div>

        <div class="summary margin-bottom" th:text="${story.summary}">Summary</div>
    </a>
    <div class="margin-bottom">
        <div th:replace="~{components/story :: meta(${story})}"></div>
    </div>

    <div th:replace="~{components/story :: widgets(${story}, ${showPin})}"></div>
</div>

<div class="story-summary-card"
     th:fragment="story-summary-card(story, showPin)">
    <div class="padding-right-small">
        <a th:href="${story.slug}" th:title="${story.title}">
            <h6>
                <i class="fa-solid fa-video" th:if="${story.video}"></i>
                <span th:text="${story.title}">Title</span>
            </h6>
        </a>

        <a th:href="${story.user.slug}" th:title="${story.user.fullName}">
            <div class="author margin-top text-small" th:text="${story.user.fullName}">Ray Sponsible</div>
        </a>

        <div class="margin-bottom">
            <div th:replace="~{components/story :: meta(${story})}"></div>
        </div>

        <div th:replace="~{components/story :: widgets(${story}, ${showPin})}"></div>
    </div>

    <div class="img-container" th:if="${story.thumbnailUrl} AND !${story.thumbnailUrl.isEmpty()}">
        <a th:href="${story.slug}" th:title="${story.title}">
            <img loading="lazy"
                 th:attr="width=${story.thumbnailSmallWidth} ? ${story.thumbnailSmallWidth}"
                 th:src="${story.thumbnailSmallUrl}"
            />
        </a>
    </div>
</div>


<div class="wizard" th:fragment="wizard(steps, current)">
    <ul class="step-indicator">
        <li th:classappend="${current} GE 1 ? active" th:if="${steps} GE 1"></li>
        <li th:classappend="${current} GE 2 ? active" th:if="${steps} GE 2"></li>
        <li th:classappend="${current} GE 3 ? active" th:if="${steps} GE 3"></li>
        <li th:classappend="${current} GE 4 ? active" th:if="${steps} GE 4"></li>
        <li th:classappend="${current} GE 5 ? active" th:if="${steps} GE 5"></li>
        <li th:classappend="${current} GE 6 ? active" th:if="${steps} GE 6"></li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="story-read-also border-rounded" th:fragment="read-also(story, stories)"
     th:if="${stories} AND !${stories.isEmpty()}">
    <h3 class="padding margin-none" th:text="#{label.read_also}">Read Also</h3>
    <div class="padding-left padding-right margin-bottom-small" th:each="item : ${stories}">
        <div th:replace="~{components/story :: story-summary-card(${item}, false)}"></div>
    </div>
    <div class="padding text-center">
        <a class="btn btn-light btn-read-more" th:href="${story.user.slug}">
            <span th:text="#{button.read_more_stories}">Discover Move Stories</span>
            &nbsp;
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>

<div th:fragment="carousel(id, topicId, title)" th:id="'story-carousel-' + ${id}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            setTimeout(function () {
                const id = /*[[${id}]]*/ '';
                const title = /*[[${title}]]*/ '';
                const topicId = /*[[${topicId}]]*/ '';
                var url = '/story/carousel?title=' + encodeURIComponent(title);
                if (topicId && topicId > 0) {
                    url = url + '&topicId=' + topicId;
                }
                wutsi.httpGet(url, false)
                    .then(function (html) {
                        $('#story-carousel-' + id).html(html);
                    })
            }, 500);
        });
        /*]]>*/
    </script>
</div>

<div id="load-more" th:fragment="load-more(moreUrl)">
    <div class="padding text-center" id="story-load-more" th:if="${moreUrl}">
        <button class="btn btn-light btn-block" th:data-url="${moreUrl}">
            <span th:text="#{label.load_more}">More Stories</span> ....
        </button>

        <script>
            $(document).ready(function () {
                $('#load-more button').click(function () {
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fas fa-spinner fa-spin">');

                    const url = $(this).attr('data-url');
                    console.log('Get', url);
                    wutsi.httpGet(url, false)
                        .then(function (html) {
                            $('#load-more').replaceWith(html)
                        })
                });
            })
        </script>
    </div>
</div>

<div id="story-paywall" th:fragment="story-paywall(story)">
    <div class="story-paywall-fadeout"></div>
    <div class="story-paywall box-filled-highlight-light">
        <div class="padding" id="story-paywall-subscriber" th:if="${story.access.name() == 'SUBSCRIBER'}">
            <h2 th:text="#{page.read.paywall.subscriber.title}">
                This Story is restricted only for Subscribers
            </h2>
            <p class="padding text-larger" th:utext="#{page.read.paywall.subscriber.message}">
                The author made this story available to his subscribers.
                Subscribe to his blog to unlock this Story.
            </p>
            <div class="margin-top">
                <div
                    th:replace="~{components/follow :: follow-button(${story.user}, ${story.slug}, true)}"></div>
            </div>
            <div class="margin-top" th:if="!${user}">
                <span th:text="#{page.read.paywall.subscriber.already-subscribed}">
                    Already a Subscribed?
                </span>
                <b>
                    <a th:href="'/login?redirect=' + ${story.slug}" th:text="#{label.login}"
                       wutsi-track-event="already-subscribed">
                        Login
                    </a>
                </b>
            </div>
        </div>

        <div class="padding" id="story-paywall-donor" th:if="${story.access.name() == 'DONOR'}">
            <h2 th:text="#{page.read.paywall.donor.title}">
                This Story is restricted only for Donor
            </h2>
            <p class="padding text-larger" th:utext="#{page.read.paywall.donor.message}">
                The author made this story available to his subscribers.
                Subscribe to his blog to unlock this Story.
            </p>
            <div class="margin-top">
                <a class="btn btn-primary"
                   th:href="'/@/' + ${story.user.name} + '/donate' + '?redirect=' + ${story.slug}"
                   th:text="#{button.donate}"
                   wutsi-track-event="donate">
                    Donate
                </a>
            </div>
            <div class="margin-top" th:if="!${user}">
                <span th:text="#{page.read.paywall.donor.already-donated}">
                    Already a Subscribed?
                </span>
                <b>
                    <a th:href="'/login?redirect=' + ${story.slug}" th:text="#{label.login}"
                       wutsi-track-event="already-donated">
                        Login
                    </a>
                </b>
            </div>
        </div>
    </div>
</div>

</body>
</html>
