<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<tr id="load-more" th:fragment="load-more(moreUrl)" th:if="${moreUrl}">
    <td class="text-center" colspan="7">
        <button class="btn btn-light btn-block" id="transaction-load-more" th:data-url="${moreUrl}">
            <span th:text="#{label.load_more}">Load more</span> ....
        </button>

        <script>
            $(document).ready(function () {
                $('#load-more button').click(function () {
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fas fa-spinner fa-spin">');

                    const url = $(this).attr('data-url');
                    console.log('Get', url);
                    wutsi.http_get(url, false)
                        .then(function (html) {
                            $('#load-more').replaceWith(html)
                        })
                });
            })
        </script>
    </td>
</tr>

<tr th:fragment="columns(tx)" th:remove="tag">
    <td class="text-left" th:text="${tx.creationDateTimeText}">2020/20/20</td>
    <td class="text-left" th:text="#{'transaction.type.' + ${tx.type}}">Donation</td>
    <td class="text-left">
        <div th:text="${tx.paymentMethodOwner}">RAY SPONSIBLE</div>
        <div class="text-small" th:if="${tx.paymentMethodType.name() == 'MOBILE_MONEY'}">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span th:text="${tx.paymentMethodNumber}">xxxx</span>
        </div>
        <div class="text-small" th:if="${tx.paymentMethodType.name() == 'PAYPAL'}">
            <i class="fa-brands fa-cc-paypal fa-2x"></i>
        </div>
    </td>
    <td class="text-right">
        <div th:text="${tx.amount.text}">2000 FCFA</div>
        <div class="text-small" th:if="${tx.successful}">
            <span th:text="#{label.fees}">FEES</span>:
            <span th:text="${tx.fees.text}">100 FCFA</span>
        </div>
    </td>
    <td class="text-right"><b th:if="${tx.successful}" th:text="${tx.net.text}">1900 FCFA</b></td>
    <td>
        <span th:if="${tx.product}" th:text="${tx.product.title}">Product</span>
    </td>
    <td>
        <div th:class="${tx.status.name().toLowerCase()}"
             th:text="#{'transaction.status.' + ${tx.status}}">SUCCESS
        </div>
        <div class="text-small" th:classappend="${tx.status.name().toLowerCase()}" th:if="!${tx.successful}">
            <span th:if="${tx.errorCode}" th:text="${tx.errorCode}">ERROR_CODE</span>
        </div>
    </td>
</tr>

</body>
</html>
