<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
            <div class="main-content border border-rounded margin-bottom-4x">
                <form method="POST"
                      onsubmit="document.getElementById('btn-submit').disabled=true; return true"
                      th:action="@{/buy/submit}"
                      th:object="${form}">

                    <input id="txt-amount" th:field="*{amount}" type="hidden"/>
                    <input th:field="*{idempotencyKey}" type="hidden"/>
                    <input th:field="*{productId}" type="hidden"/>

                    <div class="padding">
                        <div th:replace="~{components/product :: product-summary-card(${product}, false)}"></div>
                    </div>

                    <div class="padding border-top">
                        <div class="error alert alert-danger margin-top" th:if="${form.error}"
                             th:text="${form.error}">
                            Error
                        </div>

                        <div class="margin-top">
                            <div class="text-left">
                                <b th:text="#{page.donate.input.full-name}">Your Name</b>
                            </div>
                            <input class="w-100 form-control" id="full-name" maxlength="100" th:field="*{fullName}"/>
                        </div>

                        <div class="margin-top">
                            <div class="text-left">
                                <b th:text="#{page.donate.input.email}">Email Address</b>
                                <span class="required">*</span>
                            </div>
                            <input class="w-100 form-control" id="email" maxlength="100" name="email" required="true"
                                   th:field="*{email}"
                                   type="email"/>
                        </div>

                        <div class="margin-top text-left" th:if="!${product.offer.price.free}">
                            <div>
                                <b th:text="#{page.donate.input.phone-number}">Phone Number</b>
                                <span class="required">*</span>
                            </div>
                            <input autocomplete="off" class="w-100 form-control" id="phone-number" maxlength="100"
                                   required="true"
                            />
                            <div class="margin-top-small">
                                <div th:replace="~{components/product :: mobile-money-icons(${paymentProviderTypes})}"></div>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary margin-top w-100" id="btn-submit" type="submit"
                                wutsi-track-event="pay">
                            <span th:text="#{button.pay}">Pay</span>
                            <span th:text="${product.offer.price}">1000 FCFA</span>
                        </button>

                        <div class="margin-top padding box-filled-highlight-light"
                             th:text="${product.streamable} ? #{page.product.delivery-digital-streaming-description}: #{page.product.delivery-digital-download-description}"
                        >
                            A link to download the file will be included in the receipt email that you
                            will receive, once the payment is confirmed.
                        </div>
                    </div>
                </form>
            </div>

            <div class="padding margin-top border border-rounded box-filled-highlight-light" id="paypal-container"
                 th:if="!${product.offer.price.free} AND ${product.offer.internationalPrice} AND ${toggles.paypal}">
                <div class="text-center padding text-larger" th:utext="#{page.buy.paypal}">
                    You can purchase the product in <b class='highlight'>Euro</b> using <b>PayPal</b>
                </div>
                <div id="paypal-button-container"></div>
                <p id="result-message"></p>
                <script data-sdk-integration-source="integrationbuilder_sc"
                        th:src="'https://www.paypal.com/sdk/js?currency=' + ${product.offer.internationalPrice.currency} + '&client-id=' + ${paypalClientId} + '&components=buttons&enable-funding=card&disable-funding=paylater,venmo'"></script>
                <script th:inline="javascript">
                    var transactionId = '';
                    window.paypal
                        .Buttons({
                            style: {
                                shape: "pill",
                                layout: "vertical",
                            },
                            async createOrder() {
                                console.log('createOrder');
                                transactionId = '';
                                try {
                                    const response = await wutsi.httpPost(
                                        '/paypal/orders',
                                        {
                                            productId: /*[[${product.id}]]*/'-1',
                                            email: $('#email').val(),
                                            fullName: $('fullName').val(),
                                            idempotencyKey: /*[[${form.idempotencyKey}]]*/'',
                                            paypal: true
                                        },
                                        true
                                    );
                                    console.log(">>>", response);
                                    transactionId = response.transactionId;
                                    return response.orderId;
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
                                }
                            },
                            async onApprove(data, actions) {
                                console.log('onApprove', data, actions);
                                try {
                                    wutsi.httpPost(
                                        '/paypal/orders/' + data.orderID + '/capture',
                                        {},
                                        true
                                    ).then(function (response) {
                                        console.log('>>> ', response);
                                        window.location.href = '/processing?id=' + transactionId;
                                    });
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(
                                        `Sorry, your transaction could not be processed...<br><br>${error}`,
                                    );
                                }
                            },
                        })
                        .render("#paypal-button-container");

                    // Example function to show a result to the user. Your site's UI library can be used instead.
                    function resultMessage(message) {
                        const container = document.querySelector("#result-message");
                        container.innerHTML = message;
                    }
                </script>
            </div>

            <div class="padding margin-bottom-4x">&nbsp;</div>
        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<script th:inline="javascript" type="text/javascript">

    const input = document.querySelector("#phone-number");
    const countries = /*[[${countryCodeCSV}]]*/ '';
    window.intlTelInput(input, {
        initialCountry: /*[[${form.country}]]*/ '',
        onlyCountries: countries.split(','),
        hiddenInput: () => "number",
        autoPlaceholder: false,
    });

    wutsi.ga_track('buy', 'loaded');

</script>
</body>
</html>
