<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 offset-lg-3 col-lg-6">
            <div class="main-content border border-rounded">
                <form method="POST"
                      onsubmit="return begin_checkout()"
                      th:action="@{/buy/submit}"
                      th:object="${form}">

                    <input id="txt-amount" th:field="*{amount}" type="hidden"/>
                    <input th:field="*{idempotencyKey}" type="hidden"/>
                    <input th:field="*{productId}" type="hidden"/>

                    <div class="padding">
                        <div th:replace="~{components/product :: product-summary-card(${product}, false)}"></div>
                    </div>

                    <div class="padding border-top">
                        <div class="error alert alert-danger margin-top" th:if="${form.error}"
                             th:text="${form.error}">
                            Error
                        </div>

                        <div class="margin-top">
                            <div class="text-left">
                                <b th:text="#{page.donate.input.full-name}">Your Name</b>
                            </div>
                            <input class="w-100 form-control" id="full-name" maxlength="100" th:field="*{fullName}"/>
                        </div>

                        <div class="margin-top">
                            <div class="text-left">
                                <b th:text="#{page.donate.input.email}">Email Address</b>
                                <span class="required">*</span>
                            </div>
                            <input class="w-100 form-control" id="email" maxlength="100" name="email" required="true"
                                   th:field="*{email}"
                                   type="email"/>
                        </div>

                        <div class="margin-top text-left" th:if="!${product.offer.price.free}">
                            <div>
                                <b th:text="#{page.donate.input.phone-number}">Phone Number</b>
                                <span class="required">*</span>
                            </div>
                            <input autocomplete="off" class="w-100 form-control" id="phone-number" maxlength="100"
                                   required="true"
                            />
                            <div class="margin-top-small">
                                <div th:replace="~{components/product :: country-flags(${momoCountries})}"></div>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary margin-top w-100" id="btn-submit" type="submit">
                            <span th:text="#{button.pay}">Pay</span>
                            <span th:text="${product.offer.price}">1000 FCFA</span>
                        </button>

                        <div class="margin-top padding box-filled-highlight-light"
                             th:text="${product.streamable} ? #{page.product.delivery-digital-streaming-description}: #{page.product.delivery-digital-download-description}"
                        >
                            A link to download the file will be included in the receipt email that you
                            will receive, once the payment is confirmed.
                        </div>
                    </div>
                </form>
            </div>

            <div class="padding margin-top border border-rounded box-filled-highlight-light" id="liretama-container"
                 th:if="${toggles.liretama} AND ${product.liretamaUrl}">
                <h2 class="text-center">
                    <img height="32" style="margin-top: -5px"
                         th:src="${page.assetUrl} + '/assets/wutsi/img/liretama.png'"/>
                    <span>Tama</span>
                </h2>

                <div class="text-center padding text-larger" th:utext="#{page.buy.liretama}">
                    You can purchase this product on <b>Tama</b>
                </div>

                <a class="btn btn-lg btn-primary w-100" id="btn-buy-liretama" target="_new"
                   th:href="'/liretama/' + ${product.id}"
                   th:text="#{button.buy_at_liretama}"
                   th:wutsi-track-value="${product.id}"
                   wutsi-track-event="buy-liretama"
                >
                    Buy on LireTama
                </a>
                <div class="margin-top-small">
                    <div th:replace="~{components/product :: country-flags(${liretamaCountries})}"></div>
                </div>
            </div>

            <div class="padding margin-top border border-rounded box-filled-highlight-light" id="paypal-container"
                 th:if="!${product.offer.price.free} AND ${product.offer.internationalPrice} AND ${toggles.paypal}">
                <div class="text-center padding text-larger" th:utext="#{page.buy.paypal}">
                    You can purchase the product in <b class='highlight'>Euro</b> using <b>PayPal</b>
                </div>
                <div id="paypal-button-container"></div>
                <p id="result-message"></p>
                <script data-sdk-integration-source="integrationbuilder_sc"
                        th:src="'https://www.paypal.com/sdk/js?currency=' + ${product.offer.internationalPrice.currency} + '&client-id=' + ${paypalClientId} + '&components=buttons&enable-funding=card&disable-funding=paylater,venmo'"></script>
                <script th:inline="javascript">
                    var transactionId = '';
                    window.paypal
                        .Buttons({
                            style: {
                                shape: "pill",
                                layout: "vertical",
                            },
                            async createOrder() {
                                console.log('createOrder');
                                transactionId = '';
                                try {
                                    // Create order
                                    const response = await wutsi.http_post(
                                        '/paypal/orders',
                                        {
                                            productId: /*[[${product.id}]]*/'-1',
                                            email: $('#email').val(),
                                            fullName: $('fullName').val(),
                                            idempotencyKey: /*[[${form.idempotencyKey}]]*/'',
                                            paypal: true
                                        },
                                        true
                                    );
                                    console.log(">>>", response);
                                    transactionId = response.transactionId;

                                    // GA Event
                                    wutsi.ga_track(wutsi.page_name(), 'begin_checkout', /*[[${product.price.value}]]*/ '', 'PAYPAL', /*[[${product.id}]]*/ '', /*[[${product.title}]]*/ '', /*[[${product.price.currency}]]*/ '');

                                    return response.orderId;
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
                                    wutsi.ga_track(wutsi.page_name(), 'begin_checkout_error', error);
                                }
                            },
                            async onApprove(data, actions) {
                                console.log('onApprove', data, actions);
                                try {
                                    wutsi.http_post(
                                        '/paypal/orders/' + data.orderID + '/capture',
                                        {},
                                        true
                                    ).then(function (response) {
                                        console.log('>>> ', response);
                                        window.location.href = '/processing?id=' + transactionId;
                                    });

                                    // Tracking
                                    wutsi.ga_track(wutsi.page_name(), 'buy-approve-paypal');
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(
                                        `Sorry, your transaction could not be processed...<br><br>${error}`,
                                    );
                                    wutsi.ga_track(wutsi.page_name(), 'buy-approve-paypal-error', error);
                                }
                            },
                        })
                        .render("#paypal-button-container");

                    // Example function to show a result to the user. Your site's UI library can be used instead.
                    function resultMessage(message) {
                        const container = document.querySelector("#result-message");
                        container.innerHTML = message;
                    }
                </script>
            </div>

            <div class="padding margin-bottom-4x">&nbsp;</div>
        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<script th:inline="javascript" type="text/javascript">
    const input = document.querySelector("#phone-number");
    const countries = /*[[${countryCodeCSV}]]*/ '';
    window.intlTelInput(input, {
        initialCountry: /*[[${form.country}]]*/ '',
        onlyCountries: countries.split(','),
        hiddenInput: () => ({phone: "number", country: "number_country"}),
    });

    document.addEventListener("DOMContentLoaded", function () {
        // GA Event
        wutsi.ga_track(wutsi.page_name(), 'view_cart', /*[[${product.price.value}]]*/ '', null, /*[[${product.id}]]*/ '', /*[[${product.title}]]*/ '', /*[[${product.price.currency}]]*/ '');
    });

    function begin_checkout() {
        document.getElementById('btn-submit').disabled = true;

        // GA Event
        wutsi.ga_track(wutsi.page_name(), 'begin_checkout', /*[[${product.price.value}]]*/ '', 'MOBILE', /*[[${product.id}]]*/ '', /*[[${product.title}]]*/ '', /*[[${product.price.currency}]]*/ '');

        return true;
    }
</script>
</body>
</html>
