<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${product.slug})}"></div>
<div th:replace="~{components/layout :: tabs(${blog}, 'shop')}"></div>

<div class="container margin-top product">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="box-filled-white border border-rounded img-container" th:if="${product.imageUrl}">
                <img class="d-block"
                     th:alt="${product.imageUrl}"
                     th:src="${product.imageUrl}"
                     th:title="${product.title}"
                />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="border border-rounded box-filled-white">
                <div class="padding">
                    <h1 class="title margin-none" th:text="${product.title}">Product Title</h1>
                    <div class="text-small">
                        <a th:href="${blog.shopUrl}" th:text="${blog.fullName}">Ray Sponsible</a>
                    </div>

                    <div class="margin-top text-larger">
                        <b class="price" th:text="${product.price}">1000 FCFA</b>
                    </div>
                    <div class="success" th:if="${product.orderCount} GT 0">
                        <span th:if="${product.orderCount} == 1" th:utext="#{page.product.1_orders}">1 sales</span>
                        <span th:if="${product.orderCount} GT 1"
                              th:utext="#{page.product.n_orders(${product.orderCount})}"
                        >
                            10 sales
                        </span>
                    </div>

                    <div class="margin-top">
                        <a class="btn btn-primary w-100" id="btn-buy"
                           th:href="'/buy?product-id=' + ${product.id}"
                           th:if="${product.available}"
                           th:text="#{button.buy_now}">
                            Buy Now
                        </a>
                        <span class="error" th:if="!${product.available}" th:text="#{label.not_available}">
                            Not Available
                        </span>
                    </div>
                    <div class="margin-top">
                        <a class="btn btn-secondary w-100" id="btn-share"
                           th:href="'javascript: wutsi.share_link(null,\'' + ${product.title} + '\',\'' + ${product.url} + '\');'">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <span th:text="#{label.share}">Share</span>
                        </a>
                    </div>
                </div>

                <div class="padding border-top" th:if="${product.description}" th:text="${product.description}">
                    Description
                </div>

                <div class="padding border-top">
                    <div class="margin-top" id="product-delivery">
                        <h3 th:text="#{page.product.delivery-digital-download}">Delivery: Instant Download</h3>

                        <div th:replace="~{components/product :: attachment(${product})}"></div>

                        <div class="margin-top padding box-filled-highlight-light"
                             th:text="#{page.product.delivery-digital-download-description}"
                        >
                            A link to download the file will be included in the receipt email that you will receive,
                            once the payment is confirmed.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row padding">
        <div class="col-12 padding border border-rounded box-filled-white">
            <h2 th:text="#{page.product.more_product}">More from this store</h2>

            <div class="container margin-top">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 border box-filled-white"
                         th:each="product : ${otherProducts}"
                         th:id="'product-' + ${product.id}"
                    >
                        <div th:replace="~{components/product :: product-card(${product})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/google :: one-tap(null, null)}"></div>
<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<script th:if="!${preview}" th:inline="javascript">

    $(document).ready(function () {
        /* Tracking */
        track('productview');
    });

    function track(event, value) {
        console.log('track', event, value);

        const productId = /*[[${product.id}]]*/'0';
        const data = {
            time: new Date().getTime(),
            event: event,
            ua: navigator.userAgent,
            value: (value ? value : null),
            hitId: /*[[${hitId}]]*/'',
            url: window.location.href,
            referrer: document.referrer,
        };

        // Track
        return wutsi.httpPost('/product/' + productId + "/track", data, true)
            .catch(function (e) {
                console.error('Failed to track', event, value, e)
            });
    }

</script>

</body>
</html>
