<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${product.slug})}"></div>
<div th:replace="~{components/layout :: tabs(${blog}, 'shop')}"></div>

<div class="container margin-top product">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="box-filled-white border border-rounded img-container" th:if="${product.imageUrl}">
                <img class="d-block"
                     th:src="${product.imageUrl}"
                     th:title="${product.title}"
                />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="border border-rounded box-filled-white">
                <div class="padding">
                    <h1 class="title margin-none" th:text="${product.title}">Product Title</h1>
                    <div class="text-small">
                        <a th:href="${blog.shopUrl}" th:text="${blog.fullName}">Ray Sponsible</a>
                    </div>

                    <div class="margin-top">
                        <b class="price  text-larger" th:text="${product.offer.price}">1000 FCFA</b>
                        <span class="price-strikethrough"
                              th:if="${product.offer.hasSavings}"
                              th:text="${product.offer.referencePrice}">3243</span>
                    </div>
                    <div class="price-savings" th:if="${product.offer.hasSavings}"
                         th:utext="#{page.product.deal-message(${product.offer.savingAmount}, ${product.offer.savingPercentage})}">
                        Buy and save <b>25</b>
                    </div>
                    <div th:replace="~{components/product :: urgency(${product.offer.discount})}"></div>

                    <div class="success margin-top" th:if="${product.orderCount} GT 0">
                        <span th:if="${product.orderCount} == 1" th:utext="#{page.product.1_orders}">1 sales</span>
                        <span th:if="${product.orderCount} GT 1"
                              th:utext="#{page.product.n_orders(${product.orderCount})}">
                            10 sales
                        </span>
                    </div>

                    <div class="margin-top">
                        <a class="btn btn-primary btn-lg w-100" id="btn-buy"
                           th:href="'/buy?product-id=' + ${product.id}"
                           th:if="${product.available} AND ${product.fileUrl}"
                           th:text="#{button.buy_now}"
                           wutsi-track-event="buy-now">
                            Buy Now
                        </a>
                        <div class="margin-top-small" th:if="${wallet} AND ${product.available} AND ${product.fileUrl}">
                            <img
                                th:each="type : ${wallet.country.paymentProviderTypes}"
                                th:src="${type.logoUrl}"
                                width="48"
                            />
                        </div>
                        <span class="error" th:if="!${product.available} OR !${product.fileUrl}"
                              th:text="#{label.not_available}">
                            Not Available
                        </span>
                    </div>
                    <div class="margin-top">
                        <a class="btn btn-secondary w-100" id="btn-share"
                           th:href="'javascript: wutsi.share_link(null,\'' + ${product.title} + '\',\'' + ${product.url} + '\');'"
                           wutsi-track-event="share">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <span th:text="#{label.share}">Share</span>
                        </a>
                    </div>
                </div>

                <div class="padding border-top">
                    <table class="table table-striped margin-none">
                        <tr th:if="${product.category}">
                            <td th:text="#{label.category}">Category</td>
                            <td th:text="${product.category.longTitle}">Category</td>
                        </tr>
                        <tr th:if="${product.fileUrl}">
                            <td th:text="#{label.file_size}">File size</td>
                            <td>
                                <div th:replace="~{components/product :: attachment(${product})}"></div>
                            </td>
                        </tr>
                        <tr th:if="${product.numberOfPages}">
                            <td th:text="#{label.number_of_pages}">Number of page</td>
                            <td th:text="${product.numberOfPages}">111</td>
                        </tr>
                        <tr th:if="${product.language}">
                            <td th:text="#{label.language}">Language</td>
                            <td th:text="${product.displayLanguage}">111</td>
                        </tr>
                    </table>
                </div>

                <div class="padding border-top" th:if="${product.description}" th:text="${product.description}">
                    Description
                </div>

                <div class="padding border-top" id="merchant-container">
                    <h3 th:text="#{page.product.meet_vendor}">Meet the vendor</h3>
                    <div class="flex margin-top">
                        <img class="author-picture margin-right" height="64" th:if="${blog.pictureUrl}"
                             th:src="${blog.pictureUrl}"
                             th:title="${blog.fullName}" width="64"
                        />
                        <div class="w-100">
                            <h5 th:text="${blog.fullName}">MERCHANT</h5>
                            <div>
                                <span class="margin-right-2x" th:if="${store.publishProductCount} == 1"
                                      th:utext="#{page.product.1_products}">
                                    1 products
                                </span>
                                <span class="margin-right-2x" th:if="${store.publishProductCount} GT 1"
                                      th:utext="#{page.product.n_products(${store.publishProductCount})}">
                                    10 products
                                </span>

                                <span th:if="${store.orderCount} == 1" th:utext="#{page.product.1_orders}">
                                    1 sales
                                </span>
                                <span th:if="${store.orderCount} GT 1"
                                      th:utext="#{page.product.n_orders(${store.orderCount})}">
                                    10 sales
                                </span>
                            </div>
                            <a class="btn btn-light w-100 margin-top" id="btn-whatstapp" target="_new"
                               th:href="${whatsappUrl}" th:if="${whatsappUrl}" wutsi-track-event="whatsapp">
                                <img height="24" style="vertical-align: bottom"
                                     th:src="${page.assetUrl} + '/assets/wutsi/img/social/whatsapp.png'"
                                     width="24"/>
                                WhatsApp
                            </a>
                        </div>
                    </div>
                </div>

                <div class="padding border-top" th:if="${product.available} AND ${product.fileUrl}">
                    <div id="product-delivery">
                        <h3 th:text="#{page.product.delivery-digital-download}">Delivery: Instant Download</h3>

                        <div class="padding border border-rounded">
                            <div th:replace="~{components/product :: attachment(${product})}"></div>
                        </div>

                        <div class="margin-top padding box-filled-highlight-light"
                             th:text="#{page.product.delivery-digital-download-description}"
                        >
                            A link to download the file will be included in the receipt email that you will receive,
                            once the payment is confirmed.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top" th:if="${otherProducts}">
    <div class="row">
        <div class="col-12">
            <div class="padding border border-rounded box-filled-white">
                <h2 th:text="#{page.product.more_product}">More from this store</h2>
                <div class="container margin-top">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3 border box-filled-white"
                             th:each="product : ${otherProducts}"
                             th:id="'product-' + ${product.id}"
                        >
                            <div th:replace="~{components/product :: product-card(${product})}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/google :: one-tap(null, null)}"></div>
<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<script th:if="!${preview}" th:inline="javascript">

    $(document).ready(function () {
        /* Tracking */
        track('productview');
    });

    function track(event, value) {
        console.log('track', event, value);

        const productId = /*[[${product.id}]]*/'0';
        const data = {
            time: new Date().getTime(),
            event: event,
            ua: navigator.userAgent,
            value: (value ? value : null),
            hitId: /*[[${hitId}]]*/'',
            url: window.location.href,
            referrer: document.referrer,
        };

        // Track
        return wutsi.httpPost('/product/' + productId + "/track", data, true)
            .catch(function (e) {
                console.error('Failed to track', event, value, e)
            });
    }

</script>

</body>
</html>
