<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.shopUrl})}"></div>
<div th:replace="~{components/layout :: tabs(${blog}, 'shop')}"></div>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 border box-filled-white"
             th:each="product : ${products}"
             th:id="'product-' + ${product.id}"
        >
            <div th:replace="~{components/product :: product-card(${product})}"></div>
        </div>
    </div>
</div>

<div th:replace="~{components/google :: one-tap(null, null)}"></div>
<div th:replace="~{components/layout :: footer}"></div>

</body>
</html>
