<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(3, 1)}"></div>

                <h1 th:text="#{page.partner.header1}">WPP</h1>
                <p th:text="#{page.partner.description}">Description</p>

                <h2 class="margin-top" th:text="#{page.partner.how_it_works}">How does it work</h2>
                <div class="container-fluid margin-top-2x">
                    <div class="row">
                        <div class="col-12 col-md-4 padding box-filled rounded border">
                            <h5>1. <span th:text="#{page.partner.how_it_works.1}">Step</span></h5>
                            <div th:text="#{page.partner.how_it_works.1.details}"></div>
                        </div>
                        <div class="col-12 col-md-4 padding">
                            <h5>2. <span th:text="#{page.partner.how_it_works.2}">Step</span></h5>
                            <div th:text="#{page.partner.how_it_works.2.details}"></div>
                        </div>
                        <div class="col-12 col-md-4 padding box-filled rounded border">
                            <h5>3. <span th:text="#{page.partner.how_it_works.3}">Step</span></h5>
                            <div th:text="#{page.partner.how_it_works.3.details}"></div>
                        </div>
                    </div>
                </div>

                <div class="margin-top-2x text-center">
                    <a class="btn btn-primary" href="/me/partner/join" id="btn-join" th:text="#{button.continue}">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>
</html>
