<div class="padding">
    <div th:if="${order.type == 'DONATION'}" th:utext="#{email.notify-merchant.body.intro-donation(${merchant.name})}">
        Thank your for your order. Here is your invoice details:
    </div>
    <div th:if="${order.type != 'DONATION'}" th:utext="#{email.notify-merchant.body.intro(${merchant.name})}">
        Thank your for your order. Here is your invoice details:
    </div>
</div>

<div class="padding">
    <table cellpadding="0" cellspacing="0" class="border">
        <tr>
            <td class="border-bottom padding">
                <b th:text="#{email.notify-merchant.body.order-id}">Order ID</b>
            </td>
            <td class="border-bottom padding" th:text="${order.id}">11111</td>
        </tr>
        <tr>
            <td class="border-bottom padding" valid="top">
                <b th:text="#{email.notify-merchant.body.customer-name}">Customer</b>
            </td>
            <td class="border-bottom padding" valign="top">
                <div th:text="${order.customerName}">Ray Sponsible</div>
                <div th:text="${order.customerEmail}">ray.sponsible@gmail.com</div>
                <div th:if="${order.payment.paymentMethod.type == 'MOBILE_MONEY'}"
                     th:text="${order.payment.paymentMethod.number}">
                    51475555999
                </div>
            </td>
        </tr>
        <tr th:if="${order.notes}">
            <td class="padding" colspan="2" valid="top">
                <b th:text="#{email.notify-merchant.body.instructions}">Instructions</b>
                <br/>
                <div th:text="${order.notes}">Instruction....</div>
            </td>
        </tr>
    </table>
</div>

<div class="padding" th:if="${order.type != 'DONATION'}" th:text="#{email.notify-merchant.body.delivery}">
    Please contact the customer directly to organize the delivery of the product.
</div>

<div class="padding">
    <table cellpadding="0" cellspacing="0" class="border" width="100%">
        <tr>
            <th class="padding border-bottom" width="50%"></th>
            <th align="right" class="padding border-bottom" th:text="#{email.notify-merchant.body.quantity}"
                width="20%">
                Quantity
            </th>
            <th align="right" class="padding border-bottom" th:text="#{email.notify-merchant.body.price}" width="30%">
                Price
            </th>
        </tr>
        <tr th:each="item : ${order.items}">
            <td class="padding">
                <div th:text="${item.title}">Title of the product</div>
                <div class="text-small">
                    <span th:text="#{email.notify-merchant.body.unit-price}">Unit Price</span>:
                    <span th:text="${item.unitPrice}">1000</span>
                </div>
            </td>
            <td align="right" class="padding" th:text="${item.quantity}">3</td>
            <td align="right" class="padding" th:text="${item.subTotalPrice}">10,000 FCFA</td>
        </tr>
        <tr>
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-merchant.body.sub-total}">
                SUB TOTAL:
            </td>
            <td align="right" class="padding border-top">
                <span th:text="${order.subTotalPrice}">30,000 FCFA</span>
            </td>
        </tr>
        <tr th:if="${order.totalDiscount}">
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-merchant.body.discount}">
                Discounts:
            </td>
            <td align="right" class="padding border-top success">
                -<span th:text="${order.totalDiscount}">30,000 FCFA</span>
            </td>
        </tr>
        <tr>
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-merchant.body.total}">
                TOTAL:
            </td>
            <td align="right" class="padding border-top text-larger highlight">
                <b th:text="${order.totalPrice}">30,000 FCFA</b>
            </td>
        </tr>
        <tr th:if="${order.payment}">
            <td align="right" class="padding" colspan="2">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img height="32" style="vertical-align: center"
                                 th:src="${order.payment.paymentMethod.provider.logoUrl}"
                                 width="32"/>
                        </td>
                        <td>&nbsp;</td>
                        <td th:text="${order.payment.paymentMethod.maskedNumber}">
                            1111
                        </td>
                    </tr>
                </table>
            </td>
            <td class="padding" style="text-align: right" valign="right">
                <div class="btn-success rounded" th:text="#{email.notify-merchant.body.paid}">PAID</div>
            </td>
        </tr>
    </table>
</div>
