<div class="padding">
    <div th:if="${order.type == 'DONATION'}"
         th:utext="#{email.notify-customer.body.intro-donation(${order.customerName})}">
        Thank your for your order. Here is your invoice details:
    </div>
    <div th:if="${order.type == 'SALES'}" th:utext="#{email.notify-customer.body.intro(${order.customerName})}">
        Thank your for your order. Here is your invoice details:
    </div>
</div>

<div class="padding">
    <table cellpadding="0" cellspacing="0" class="border">
        <tr>
            <td class="border-bottom padding">
                <b th:text="#{email.notify-customer.body.order-id}">Order ID</b>
            </td>
            <td class="border-bottom padding" th:text="${order.id}">11111</td>
        </tr>
        <tr th:if="${order.notes}">
            <td class="border-bottom padding" colspan="2" valid="top">
                <b th:if="${order.type == 'DONATION'}" th:utext="#{email.notify-customer.body.message}">
                    Message
                </b>
                <b th:if="${order.type == 'SALES'}" th:utext="#{email.notify-customer.body.instructions}">
                </b>
                <br/>
                <div th:text="${order.notes}">...</div>
            </td>
        </tr>
    </table>
</div>

<div class="padding" th:if="${order.physicalProduct}" th:text="#{email.notify-customer.body.delivery}">
    Please contact the customer directly to organize the delivery of the product.
</div>

<div class="padding">
    <table cellpadding="0" cellspacing="0" class="border" width="100%">
        <tr>
            <th class="padding border-bottom" width="50%"></th>
            <th align="right" class="padding border-bottom" th:text="#{email.notify-customer.body.quantity}"
                width="20%">
                Quantity
            </th>
            <th align="right" class="padding border-bottom" th:text="#{email.notify-customer.body.price}" width="30%">
                Price
            </th>
        </tr>
        <tr th:each="item : ${order.items}">
            <td class="padding">
                <div th:text="${item.title}">Title of the product</div>
                <div class="text-small">
                    <span th:text="#{email.notify-customer.body.unit-price}">Unit Price</span>:
                    <span th:text="${item.unitPrice}">1000</span>
                </div>
            </td>
            <td align="right" class="padding" th:text="${item.quantity}">3</td>
            <td align="right" class="padding" th:text="${item.subTotalPrice}">10,000 FCFA</td>
        </tr>
        <tr>
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-customer.body.sub-total}">
                SUB TOTAL:
            </td>
            <td align="right" class="padding border-top">
                <span th:text="${order.subTotalPrice}">30,000 FCFA</span>
            </td>
        </tr>
        <tr th:if="${order.totalDiscount}">
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-customer.body.discount}">
                Discounts:
            </td>
            <td align="right" class="padding border-top success">
                -<span th:text="${order.totalDiscount}">30,000 FCFA</span>
            </td>
        </tr>
        <tr>
            <td align="right" class="padding border-top" colspan="2" th:text="#{email.notify-customer.body.total}">
                TOTAL:
            </td>
            <td align="right" class="padding border-top text-larger highlight">
                <b th:text="${order.totalPrice}">30,000 FCFA</b>
            </td>
        </tr>
        <tr th:if="${order.payment}">
            <td align="right" class="padding" colspan="2">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img height="32" style="vertical-align: center"
                                 th:src="${order.payment.paymentMethod.provider.logoUrl}"
                                 width="32"/>
                        </td>
                        <td>&nbsp;</td>
                        <td th:text="${order.payment.paymentMethod.maskedNumber}">
                            1111
                        </td>
                    </tr>
                </table>
            </td>
            <td class="padding" style="text-align: right" valign="right">
                <div class="btn-success rounded" th:text="#{email.notify-customer.body.paid}">PAID</div>
            </td>
        </tr>
    </table>
</div>

<!-- EVENTS -->
<hr th:if="${order.itemsWithEvent.size() GT 0}"/>
<div class="padding">
    <h2 class="padding no-padding no-margin"
        th:if="${order.itemsWithEvent.size() GT 0}"
        th:text="#{email.notify-customer.event.title}"
    >
        Title
    </h2>
    <table cellpadding="0" cellspacing="0" class="border" th:each="item : ${order.itemsWithEvent}" width="100%">
        <tr>
            <td colspan="2">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="right" class="padding" valign="middle" width="1">
                            <img height="32"
                                 th:if="${item.event.meetingProviderLogoUrl}"
                                 th:src="${item.event.meetingProviderLogoUrl}"
                                 width="32"
                            />
                        </td>
                        <td class="padding" valign="middle">
                            <h2 class="no-margin" th:text="${item.title}">EVENT</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr th:if="${item.pictureUrl}">
            <td align="center" class="padding  border-top" colspan="2" valign="middle">
                <img style="max-height:300px; max-width: 300px;" th:src="${item.pictureUrl}"/>
            </td>
        </tr>
        <tr th:if="${item.event.starts}">
            <td align="right" class="padding border-top">
                <span th:text="#{email.notify-customer.event.date}">Date</span>:
            </td>
            <td class="padding border-top" th:text="${item.event.starts}">2020-10-01 21-30</td>
        </tr>
        <tr th:if="${item.event.meetingJoinUrl}">
            <td align="right" class="padding border-top">
                <span th:text="#{email.notify-customer.event.url}">URL</span>:
            </td>
            <td class="padding border-top">
                <a th:href="${item.event.meetingJoinUrl}"
                   th:text="${item.event.meetingJoinUrl}">URL</a>
            </td>
        </tr>
        <tr th:if="${item.event.meetingPassword}">
            <td align="right" class="padding border-top" th:text="#{email.notify-customer.event.password}">
                Password
            </td>
            <td class="padding border-top" th:text="${item.event.meetingPassword}">1234343</td>
        </tr>
    </table>
</div>

<!-- DIGITAL DOWNLOADS -->
<hr th:if="${order.itemsWithFiles.size() GT 0}"/>
<div class="padding">
    <h2 class="padding no-padding no-margin"
        th:if="${order.itemsWithFiles.size() GT 0}"
        th:text="#{email.notify-customer.files.title}"
    >
        Files
    </h2>
    <table cellpadding="0" cellspacing="0" class="border" th:each="item : ${order.itemsWithFiles}" width="100%">
        <tr th:each="file:${item.files}">
            <td align="right" class="padding border-top" valign="middle" width="1">
                <img height="64"
                     th:if="${file.extensionUrl}"
                     th:src="${file.extensionUrl}"
                     width="64"
                />
            </td>
            <td class="padding border-top" valign="middle">
                <a th:href="${file.downloadUrl}">
                    <h3 class="no-padding no-margin" th:text="${file.name}">File.PNG</h3>
                </a>
                <div>
                    <span th:text="#{email.notify-customer.files.size(${file.contentSize})}">Size: 12Kb</span>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- THANK YOU -->
<div class="padding" th:utext="#{email.notify-customer.body.thank-you(${merchant.name})}">
    Thank you for your business with [Business Name]
</div>

<!-- POLICY -->
<div th:if="${order.type != 'DONATION'}">
    <div class="padding">&nbsp;</div>
    <hr/>
    <div class="padding text-small">
        <h3 class="no-padding no-margin" th:text="#{email.notify-customer.body.policy}">
            The Merchant's cancellation and return policy:
        </h3>

        <div th:if="${order.itemsWithFiles.size() GT 0}">
            <ul class="no-margin">
                <li th:text="#{email.notify-customer.body.policy-digital-download}">
                    No cancellation, return or exchange for digital downloads.
                </li>
            </ul>
        </div>

        <div th:if="${order.itemsWithFiles.size() == 0}">
            <!-- Cancellation -->
            <h4 class="no-padding no-margin" th:text="#{email.notify-customer.body.policy-cancellation-title}">
                Cancellations</h4>
            <div>
                <b th:if="${store.cancellationPolicy.accepted}" th:text="#{email.notify-customer.body.policy-accepted}">Accepted</b>
                <b th:if="!${store.cancellationPolicy.accepted}"
                   th:text="#{email.notify-customer.body.policy-not-accepted}">Not Accepted</b>

                <ul class="no-margin">
                    <li th:if="${store.cancellationPolicy.accepted}"
                        th:utext="#{email.notify-customer.body.policy-cancellation(${store.cancellationPolicy.window})}">
                        You have <b>{0} hour(s)</b> after your purchase to cancel your order
                    </li>
                    <li th:if="${store.cancellationPolicy.message}" th:text="${store.cancellationPolicy.message}">
                        This is the cancellation message....
                    </li>
                </ul>
            </div>

            <!-- Returns -->
            <div>&nbsp;</div>
            <h4 class="no-padding no-margin" th:text="#{email.notify-customer.body.policy-return-title}">Returns</h4>
            <div>
                <b th:if="${store.returnPolicy.accepted}" th:text="#{email.notify-customer.body.policy-accepted}">Accepted</b>
                <b th:if="!${store.returnPolicy.accepted}" th:text="#{email.notify-customer.body.policy-not-accepted}">Not
                    Accepted</b>

                <ul class="no-margin">
                    <li th:if="${store.returnPolicy.accepted}"
                        th:utext="#{email.notify-customer.body.policy-return(${store.returnPolicy.contactWindow}, ${store.returnPolicy.shipBackWindow})}">
                        You have <b>{0} day(s)</b> from the item delivery to contact the merchant, <b>{1} day(s)</b>
                        from delivery to ship this item back to the merchant
                    </li>
                    <li th:if="${store.returnPolicy.message}" th:text="${store.returnPolicy.message}">
                        This is the return message....
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
