<div class="border-top comment padding" th:each="comment: ${comments}">
    <a th:href="${comment.user.slug}" th:title="${comment.user.fullName}">
        <div class="flex">
            <img class="margin-right" th:if="${comment.user.pictureUrl}" th:src="${comment.user.pictureUrl}" th:title="${comment.user.fullName}"/>
            <div>
                <div class="author" th:text="${comment.user.fullName}" th:if="${comment.user}">Ray Sponsible</div>
                <div class="date" th:text="${comment.modificationDateTime}">2 days ago</div>
            </div>
        </div>
    </a>

    <div class="text" th:text="${comment.text}" />
</div>
