<div class="padding">
    <h3>
        <button type="button" class="close margin-right" aria-label="Close">
            <i class="fas fa-chevron-left"></i>
        </button>
        <span th:text="#{comment.title}">Comments</span>
    </h3>

    <input type="hidden" name="storyId" class="form-control" th:value="${story.id}" />
    <textarea name="text" maxlength="255" rows="1" readonly="readonly" th:placeholder="#{comment.placeholder}" ></textarea>

    <button class="btn btn-block btn-primary margin-top btn-submit" th:text="#{button.publish}">Publish</button>
</div>
<div class="comment-widget-list"></div>


<script>
    $(document).ready(function(){
        wcomment.contentReady();
    });
</script>
