<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar-blog(${user}, null)"></div>

<div class="container border main-content margin-top-2x padding-2x story-list">

    <h1 th:text="#{page.stats.title}">Stats</h1>

    <ul class="pagination">
        <li class="margin-right prev"><a th:href="${previousMonthUrl}" th:text="${previousMonth}">Apr 2020</a></li>
        <li class="margin-right current"><b th:text="${currentMonth}">May 2020</b></li>
        <li class="next"><a th:href="${nextMonthUrl}" th:text="${nextMonth}">Jun 2020</a></li>
    </ul>

    <div class="container-fluid">
        <div class="row margin-top-2x">
            <div class="col-12 col-md-3 border rounded padding margin-bottom text-center">
                <h5 th:text="#{page.stats.kpi.total_read_time}">Total Reading Time</h5>
                <h3 th:text="${summary.totalReadTimeText}">1,235</h3>
            </div>
            <div class="col-12 offset-md-1 col-md-3 border rounded padding margin-bottom text-center">
                <h5 th:text="#{page.stats.kpi.total_views}">Total Views</h5>
                <h3 th:text="${summary.totalViewsText}">1.20923</h3>
            </div>
            <div class="col-12 offset-md-1 col-md-3 border rounded padding margin-bottom text-center">
                <h5 th:text="#{page.stats.kpi.average_read_time}">Average Reading Time</h5>
                <h3 th:text="${summary.averageReadTimeText}">1,235</h3>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#stats-stories" id="tab-draft" role="tab">
                <span th:text="#{label.stories}">Stories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stats-traffic-source" id="tab-published" role="tab">
                <span th:text="#{page.stats.kpi.traffic}">Traffic Source</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane padding active" id="stats-stories">
            <h4 th:text="#{page.stats.tab.stories.title(${currentMonth})}">Daily Reads</h4>
            <table class="table">
                <tr>
                    <th width="40%"></th>
                    <th class="text-center" th:text="#{page.stats.kpi.total_read_time}">Total Read Time</th>
                    <th class="text-center" th:text="#{page.stats.kpi.total_views}">Total Views</th>
                    <th class="text-center" th:text="#{page.stats.kpi.average_read_time}">Avg. Reading Time</th>
                </tr>
                <tr th:each="storySummary: ${storySummaries}">
                    <td>
                        <a th:href="'/stats/story/' + ${storySummary.story.id} + '?year=' + ${year} + '&month=' + ${month}"
                           th:text="${storySummary.story.title}"
                        >Story #1</a>
                        <span th:replace="components/story :: wpp-badge(${storySummary.story})"></span>
                    </td>
                    <td class="text-center" th:text="${storySummary.totalReadTimeText}">3h 30m</td>
                    <td class="text-center" th:text="${storySummary.totalViewsText}">1,443</td>
                    <td class="text-center" th:text="${storySummary.averageReadTimeText}">1m 40s</td>
                </tr>
            </table>
        </div>

        <div class="tab-pane padding" id="stats-traffic-source">
            <h4 th:text="#{page.stats.tab.traffic.title(${currentMonth})}">Daily Reads</h4>
            <table class="table">
                <tr th:each="traffic : ${traffics}">
                    <td align="right" th:text="${traffic.source}" width="33%">SEO</td>
                    <td width="34%">
                        <div class="progress" style="margin-top: 4px">
                            <div aria-valuemax="100" aria-valuemin="0" class="progress-bar" role="progressbar"
                                 th:aria-valuenow="${traffic.percent}"
                                 th:style="'width:' + ${traffic.percentAsInt} + '%'"
                            ></div>
                        </div>
                    </td>
                    <td th:text="${traffic.percentText}" width="33%">30%</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>

</body>

</html>
