<div class="ads-container" th:data-ads-id="'ads-' + ${banner.id}" th:data-ads-type="${banner.type}" th:if="${banner}"
     th:style="'width: ' + ${banner.type.width} + 'px; max-heigth: ' + ${banner.type.height} + 'px'">
    <div class="ads-title" th:text="#{label.ads}">ADS</div>
    <div>
        <a rel="nofollow" target="_new" th:href="${banner.url}">
            <img loading="lazy"
                 th:alt="${banner.title}"
                 th:height="${banner.type.height}"
                 th:src="${banner.imageUrl}"
                 th:width="${banner.type.width}"
            />
        </a>
    </div>
</div>