<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>

<div th:replace="components/layout :: tabs(${blog}, 'about')"></div>

<div class="container margin-top">
    <div class="row">
        <div class="contant-main col-12 col-md-8 offset-md-2">
            <div class="border border-rounded box-filled-white">
                <div class="padding">
                    <h1 class="margin-none" th:text="#{page.blog.about.title(${blog.fullName})}">About X</h1>
                    <div class="margin-top" th:if="${blog.biography}" th:text="${blog.biography}">
                        Biography
                    </div>
                    <a class="margin-top" th:href="${blog.websiteUrl}" th:if="${blog.websiteUrl}"
                       th:text="${blog.websiteUrl}">
                        https://www.fldkl.com
                    </a>
                    <div class="margin-top" th:if="${blog.subscriberCount} GT 0">
                        <span class="follower-count"
                              th:if="${blog.subscriberCount} == 1"
                              th:utext="#{label.1_subscriber(${blog.subscriberCountText})}">
                            1 Subcriber
                        </span>
                        <span class="follower-count"
                              th:if="${blog.subscriberCount} GT 1"
                              th:utext="#{label.n_subscribers(${blog.subscriberCountText})}">
                            40 Subscribers
                        </span>
                    </div>
                </div>
                <div class="padding border-top margin-top" th:if="${blog.hasSocialLinks}">
                    <a class="social-link facebook padding"
                       target="_new"
                       th:href="${blog.facebookUrl}"
                       th:if="${blog.facebookUrl} AND !${blog.facebookUrl.isEmpty()}"
                       title="Facebook"
                    >
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a class="social-link twitter padding"
                       target="_new"
                       th:href="${blog.twitterUrl}"
                       th:if="${blog.twitterUrl} AND !${blog.twitterUrl.isEmpty()}"
                       title="Twitter"
                       wutsi-track-event="link-twitter"
                       wutsi-track-value="twitter"
                    >
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a class="social-link youtube padding"
                       target="_new"
                       th:href="${blog.youtubeUrl}"
                       th:if="${blog.youtubeUrl} AND !${blog.youtubeUrl.isEmpty()}"
                       title="YouTube"
                    >
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                    <a class="social-link linkedin padding"
                       target="_new"
                       th:href="${blog.linkedinUrl}"
                       th:if="${blog.linkedinUrl} AND !${blog.linkedinUrl.isEmpty()}"
                       title="LinkedIn"
                    >
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a class="social-link whatsapp padding"
                       target="_new"
                       th:href="${blog.whatsappUrl}"
                       th:if="${blog.whatsappUrl} AND !${blog.whatsappUrl.isEmpty()}"
                       title="Whatsapp"
                    >
                        <i class="fab fa-whatsapp-square fa-2x"></i>
                    </a>
                    <a class="social-link telegram padding"
                       target="_new"
                       th:href="${blog.telegramUrl}"
                       th:if="${blog.telegramUrl} AND !${blog.telegramUrl.isEmpty()}"
                       title="Telegram"
                    >
                        <i class="fab fa-telegram fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

</body>
</html>
