<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>
<div id="ads-container-navbar">
    <div th:replace="~{components/ads :: banner(${blog}, 'BANNER_WEB,BANNER_MOBILE', null)}"></div>
</div>
<div th:replace="~{components/layout :: tabs(${blog}, 'about')}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="contant-main col-12 col-md-8 offset-md-2">
            <div class="border border-rounded box-filled-white">
                <div class="padding">
                    <h2 class="margin-none title">
                        <div class="title-text">
                            <span th:text="${blog.fullName}">About X</span>
                            <span th:replace="~{components/author :: author-wpp-badge(${blog})}"></span>
                        </div>
                        <div class="title-action">
                            <div th:replace="~{components/share :: widget-alt(${blog.name}, ${blog.url})}"></div>
                        </div>
                        <div class="clearfix"></div>
                    </h2>

                    <div class="margin-top" th:if="${blog.biography}" th:text="${blog.biography}">
                        Biography
                    </div>
                    <div class="text-center">
                        <a class="margin-top" th:href="${blog.websiteUrl}" th:if="${blog.websiteUrl}"
                           th:text="#{label.website}">
                            https://www.fldkl.com
                        </a>
                    </div>
                    <div class="margin-top" th:if="${blog.subscriberCount} GT 0">
                        <span th:replace="~{components/author :: author-meta(${blog}, true)}"></span>
                    </div>
                </div>
                <div class="padding border-top margin-top">
                    <h3 th:text="#{label.your_links}">Your Links</h3>
                    <table>
                        <tr>
                            <td class="padding-top">
                                <a id="blog-link" target="_new" th:href="${blog.url}" th:text="#{label.blog}">BLOG</a>
                                <a class="margin-left" href="javascript: copy_link('blog-link')">
                                    <i class="fa-regular fa-copy"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${blog.shopUrl}">
                            <td class="padding-top">
                                <a id="shop-link" target="_new" th:href="${blog.shopUrl}"
                                   th:text="#{label.store}">BLOG</a>
                                <a class="margin-left" href="javascript: copy_link('shop-link')">
                                    <i class="fa-regular fa-copy"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${blog.donationUrl}">
                            <td class="padding-top">
                                <a id="donation-link" target="_new" th:href="${blog.donationUrl}"
                                   th:text="#{label.donation}">BLOG</a>
                                <a class="margin-left" href="javascript: copy_link('donation-link')">
                                    <i class="fa-regular fa-copy"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <script th:inline="javascript">
                        function copy_link(id) {
                            const href = $('#' + id).attr('href');
                            navigator.clipboard.writeText(href);
                            alert(/*[[#{label.copied}]]*/'');
                        }
                    </script>
                </div>
                <div class="padding" th:if="${blog.hasSocialLinks}">
                    <a class="social-link facebook padding"
                       target="_new"
                       th:href="${blog.facebookUrl}"
                       th:if="${blog.facebookUrl} AND !${blog.facebookUrl.isEmpty()}"
                       title="Facebook"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/facebook.png'"
                             width="40"/>
                    </a>
                    <a class="social-link twitter padding"
                       target="_new"
                       th:href="${blog.twitterUrl}"
                       th:if="${blog.twitterUrl} AND !${blog.twitterUrl.isEmpty()}"
                       title="Twitter"
                       wutsi-track-event="link-twitter"
                       wutsi-track-value="twitter"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/twitter.png'"
                             width="40"/>
                    </a>
                    <a class="social-link youtube padding"
                       target="_new"
                       th:href="${blog.youtubeUrl}"
                       th:if="${blog.youtubeUrl} AND !${blog.youtubeUrl.isEmpty()}"
                       title="YouTube"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/youtube.png'"
                             width="40"/>
                    </a>
                    <a class="social-link linkedin padding"
                       target="_new"
                       th:href="${blog.linkedinUrl}"
                       th:if="${blog.linkedinUrl} AND !${blog.linkedinUrl.isEmpty()}"
                       title="LinkedIn"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/linkedin.png'"
                             width="40"/>
                    </a>
                    <a class="social-link whatsapp padding"
                       target="_new"
                       th:href="${blog.whatsappUrl}"
                       th:if="${blog.whatsappUrl} AND !${blog.whatsappUrl.isEmpty()}"
                       title="Whatsapp"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/whatsapp.png'"
                             width="40"/>
                    </a>
                    <a class="social-link telegram padding"
                       target="_new"
                       th:href="${blog.telegramUrl}"
                       th:if="${blog.telegramUrl} AND !${blog.telegramUrl.isEmpty()}"
                       title="Telegram"
                    >
                        <img height="40"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/social/telegram.png'"
                             width="40"/>
                    </a>
                    <a class="social-link github padding"
                       target="_new"
                       th:href="${blog.githubUrl}"
                       th:if="${blog.githubUrl} AND !${blog.githubUrl.isEmpty()}"
                       title="Github"
                    >
                        <i class="fa-brands fa-github fa-2x"></i>
                    </a>
                </div>
                <div th:replace="~{components/follow :: panel(${blog}, ${blog.slug}, null, 'about')}"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

</body>
</html>
