<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>

<div class="container margin-top" id="pre-subscribe-container">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <div class="box-filled-white border border-rounded margin-bottom text-center margin-top-4x">
                <div class="text-center padding" th:if="${blog.pictureUrl}">
                    <img height="50" th:src="${blog.pictureSmallUrl}"/>
                </div>
                <div class="padding">
                    <h2 class="margin-none" th:text="${blog.fullName}">Blog Name</h2>
                    <div class="margin-top" th:if="${blog.biography}" th:text="${blog.biography}">
                        This is the bio...
                    </div>
                </div>

                <hr class="margin-top-2x margin-bottom-2x">

                <div class="padding">
                    <div class="margin-bottom text-larger" th:utext="#{page.blog.pre-subscribe}">
                        Please subscribe to my Blog
                    </div>
                    <div class="margin-top">
                        <div
                            th:replace="~{components/follow :: follow-button(${blog}, ${blog.slug}, true, true, null, 'blog')}"></div>
                    </div>
                    <div class="margin-top-2x">
                        <a class="text-small" id="btn-no-thanks" th:href="${blog.slug}">
                            <span th:text="#{page.blog.pre-subscribe-no-thanks}">No Thanks</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
