<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>
<div th:replace="~{components/layout :: tabs(${blog}, 'blog')}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="content-main col-12 col-lg-6" th:classappend="!${popularStories}? 'offset-lg-3'">
            <div class="btn-toolbar" th:if="${showCreateStoryButton}">
                <a class="btn btn-primary" href="/editor" id="btn-create-story" th:text="#{button.create_first_story}">
                    Write your first Story</a>
                <a class="btn btn-light margin-left" href="/me/syndicate" id="btn-import-story"
                   th:text="#{button.syndicate_story}">
                    Import</a>
            </div>

            <div class="margin-bottom-small" th:each="story,it: ${stories}">
                <div class="border border-rounded margin-bottom-small text-center"
                     th:if="(${it.index} == 3 OR ${it.index} == 13)  AND ${toggles.monetization} AND ${story.user.walletId}">
                    <div th:replace="~{components/donate :: panel(${story.user})}"></div>
                </div>
                <div th:replace="~{components/story :: story-card(${story}, true)}"></div>
            </div>
            <div th:if="${moreUrl}">
                <div th:replace="~{components/story :: load-more(${moreUrl})}"></div>
            </div>
        </div>
        <div class="col-lg-5 d-none d-lg-block" th:if="${popularStories}">
            <div class="content-sidebar border border-rounded">
                <h5 class="padding" th:text="#{label.popular}">Popular</h5>
                <div class="padding-left padding-right margin-bottom-small" th:each="story: ${popularStories}">
                    <div th:replace="~{components/story :: story-summary-card(${story}, false)}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

</body>
</html>
