<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="box-filled-white">

<div th:replace="~{components/layout :: navbar}"></div>

<div class="container margin-top-2x margin-bottom-4x">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 padding text-center">
            <h1 th:utext="#{page.home.hero.title}">A place for African Writers</h1>
            <div class="margin-top-2x">
                <a id="btn-create-hero" class="btn btn-lg btn-primary margin-top margin-left" href="/create"
                   th:text="#{button.start_for_free}">
                    Create your Blog for Free
                </a>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="container margin-top-2x margin-bottom-2x">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h2 class="text-center padding-bottom" th:text="#{page.home.section-writers.title}">
                A platform for independent writers
            </h2>
            <div class="container-fluid margin-bottom-2x" th:each="writer : ${writers}">
                <div th:replace="~{components/author :: author-summary-card(${writer})}"></div>
            </div>
            <div class="text-center">
                <a href="/writers" class="btn btn-primary" th:text="#{button.see_who_else_on_wutsi}">
                    See who else is on Wutsi
                </a>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <section class="padding-2x text-center value-prop">
                <h2 th:text="#{page.home.in_charge.title}">You are in charge</h2>
                <ul class="margin-top">
                    <li>
                        <i class="fas fa-check"></i>
                        <span th:text="#{page.home.in_charge.option2}">Your Mailing List</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span th:text="#{page.home.in_charge.option1}">A website for your Blog</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span
                        th:text="#{page.home.in_charge.option3}">Simple editor that supports text/image/video/audio</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span th:text="#{page.home.in_charge.option4}">Integrated analytics for your Blog statistics</span>
                    </li>
                </ul>

                <a id="btn-create-bottom" class="btn btn-primary margin-top"  href="/create"
                   th:text="#{button.start_for_free}">
                    Create your Blog
                </a>
            </section>
        </div>
    </div>
</div>

</body>

<div th:replace="~{components/layout :: footer}"></div>
</body>

</html>
