<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="paper">

<div th:replace="components/layout :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="main-content border padding-2x margin-top-2x" th:utext="${content}">
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
