<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(null, null)}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills margin-top">
                <li class="nav-item">
                    <a class="nav-link" href="/" id="pill-following" rel="nofollow"
                       th:text="#{page.home.pill.for-you}">Following</a>
                </li>
                <li class="nav-item" th:if="${user.blog}">
                    <a aria-current="page" class="nav-link" th:href="${user.slug}"
                       th:text="#{label.blog}">Blog</a>
                </li>
                <li class="nav-item" th:if="${user.blog} AND ${user.shopUrl}">
                    <a aria-current="page" class="nav-link" th:href="${user.shopUrl}"
                       th:text="#{label.shop}">Shop</a>
                </li>
                <li class="nav-item active" th:if="${toggles.library}">
                    <a aria-current="page" class="nav-link active" href="/me/library"
                       th:text="#{label.library}">My Library</a>
                </li>
            </ul>

            <div class="container margin-top border border-rounded box-filled-white">
                <div class="row">
                    <div class="padding">
                        <h2 th:text="#{label.my_books}">My Books</h2>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 box-filled-white"
                         th:each="book : ${books}"
                         th:id="'book-' + ${book.id}"
                    >
                        <div th:replace="~{components/book :: book-card(${book})}"></div>
                    </div>
                    <div class="col-12 col-md-6 offset-md-3 text-center" th:if="!${books}">
                        <div class="padding text-larger" th:text="#{page.library.empty}">
                            You have not purchased any book yet
                        </div>
                    </div>

                </div>
            </div>

            <div class="container margin-top border border-rounded box-filled-white" th:if="${products}">
                <div class="row">
                    <div class="padding">
                        <h2 th:text="#{label.recommendation}">Recommendation</h2>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 border box-filled-white" th:each="product : ${products}">
                        <div th:replace="~{components/product :: product-card(${product})}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

</body>
</html>
