<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog?.slug})}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-8">

            <div class="main-content border border-rounded text-center margin-bottom-4x">
                <div id="login-panel">
                    <div class="flex" th:if="${return}">
                        <a class="return" th:href="${return}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <h1 class="margin-top">
                        <span th:text="${title}">Login</span>
                    </h1>
                    <p class="margin-top" th:utext="${info}">Sign up</p>
                </div>

                <div class="alert alert-danger margin padding-top" th:if="${error}" th:text="#{error.login}">Error</div>

                <div class="row">
                    <div class="col-12">
                        <hr/>
                        <div class="padding-2x">
                            <h4 th:if="${toggles.ssoEmail}" th:text="#{page.login.signin-with-social-account}">
                                Sign in with your social account
                            </h4>
                            <a class="sso-button margin-top box-filled-highlight-light btn" id="btn-google"
                               th:href="${googleUrl}"
                               th:if="${toggles.ssoGoogle}">
                                <i class="fab fa-google"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-google}">Sign in with Google</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-google}">Sign in with Google</span>
                            </a>
                            <a class="sso-button margin-top box-filled-highlight-light btn" id="btn-twitter"
                               th:href="${twitterUrl}"
                               th:if="${toggles.ssoTwitter}">
                                <i class="fab fa-twitter-square"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-twitter}">Sign in with Twitter</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-twitter}">Sign in with Twitter</span>
                            </a>
                            <a class="sso-button margin-top box-filled-highlight-light btn" id="btn-facebook"
                               th:href="${facebookUrl}"
                               th:if="${toggles.ssoFacebook}">
                                <i class="fab fa-facebook-square"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-facebook}">Sign in with Facebook</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-facebook}">Sign in with Facebook</span>
                            </a>
                            <a class="sso-button margin-top box-filled-highlight-light btn" id="btn-github"
                               th:href="${githubUrl}"
                               th:if="${toggles.ssoGithub}">
                                <i class="fab fa-github-square"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-github}">Sign in with Github</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-github}">Sign in with Github</span>
                            </a>
                            <a class="sso-button margin-top box-filled-highlight-light btn" id="btn-linkedin"
                               th:href="${linkedinUrl}"
                               th:if="${toggles.ssoLinkedin}">
                                <i class="fab fa-linkedin"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-linkedin}">Sign in with Linkedin</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-linkedin}">Sign in with Linkedin</span>
                            </a>
                            <a class="sso-button margin-top" id="btn-yahoo" th:href="${yahooUrl}"
                               th:if="${toggles.ssoYahoo}">
                                <i class="fab fa-yahoo"></i>
                                <span th:if="!${createBlog}"
                                      th:text="#{page.login.signin-yahoo}">Sign in with Yahoo</span>
                                <span th:if="${createBlog}"
                                      th:text="#{page.login.signup-yahoo}">Sign in with Yahoo</span>
                            </a>
                        </div>

                        <hr th:if="${toggles.ssoEmail}"/>
                        <div class="padding-2x" th:if="${toggles.ssoEmail}">
                            <h4 th:text="#{page.login.signin-with-email}">
                                Sign in with your email
                            </h4>
                            <form class="margin-top" th:action="${emailUrl}">
                                <div class="form-group">
                                    <input class="form-control" name="email" required="required"
                                           th:placeholder="#{label.email}"
                                           type="email"/>
                                </div>
                                <div class="form-group margin-top d-grid">
                                    <button class="btn btn-primary" id="btn-submit" th:text="#{button.continue}"
                                            type="submit">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="value-prop text-center margin-top-4x" th:if="${createBlog}">
                    <h3 th:text="#{page.login.create.why.title}">Why Creating a Blog?</h3>
                    <ul class="margin-top">
                        <li><i class="fas fa-check"></i> <span
                            th:text="#{page.login.create.why.option1}">Its Free</span></li>
                        <li><i class="fas fa-check"></i> <span th:text="#{page.login.create.why.option2}">A website for your Blog</span>
                        </li>
                        <li><i class="fas fa-check"></i> <span th:text="#{page.login.create.why.option3}">Your own mailing list</span>
                        </li>
                        <li><i class="fas fa-check"></i> <span th:text="#{page.login.create.why.option4}">Simple editor that supports text/image/video/audio</span>
                        </li>
                        <li><i class="fas fa-check"></i> <span
                            th:text="#{page.login.create.why.option5}">Integrated analytics for your Blog statistics</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<div th:replace="~{components/layout :: footer}"></div>
</body>

</html>
