<html>
<head>
    <div th:replace="~{components/layout :: head}"></div>
    <div th:replace="~{components/epub :: head}"></div>
</head>
<body>

<div th:replace="~{components/epub :: viewer(${book.product.title}, ${returnUrl})}"></div>
<script th:inline="javascript">

    const bookId = /*[[${book.id}]]*/'0';
    $(document).ready(function () {
        const epubjs = new WutsiEpubJS('/play/' + bookId + '/content.epub', /*[[${book.location}]]*/'', track, relocate);
        epubjs.render();
    });

    function track(event, value) {
        console.log('track', event, value);

        const data = {
            time: new Date().getTime(),
            event: event,
            ua: navigator.userAgent,
            value: (value ? value : null),
            hitId: /*[[${hitId}]]*/'',
            url: window.location.href,
            referrer: document.referrer,
        };

        // Track
        return wutsi.httpPost('/play/' + bookId + "/track", data, true)
            .catch(function (e) {
                console.error('Failed to track', event, value, e)
            });
    }

    function relocate(location, percent) {
        const data = {
            location: location.start.cfi,
            readPercentage: percent
        };
        wutsi.httpPost('/play/' + bookId + '/relocated', data, true);
    }
</script>
</body>
</html>
