<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body class="paper">

<div th:replace="~{components/layout :: navbar-blog(${story.user}, ${story.slug})}"></div>
<div th:replace="~{components/ads :: navbar(${story.user}, 'BANNER_WEB,BANNER_MOBILE')}"></div>

<div class="container content-main">
    <div class="row">
        <div class="col-12 col-lg-8">
            <!-- Article -->
            <article class="border padding reader main-content border-rounded">
                <div th:if="${superUser} OR ${user?.id} == ${story.user.id}">
                    <div class="dropdown show story-dropdown-menu float-end" id="story-menu">
                        <button aria-expanded="false"
                                class="btn btn-light btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                                th:id="'story-menu-' + ${story.id}"
                                type="button">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item menu-item-edit" th:href="'/editor/' + ${story.id}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span th:text="#{button.edit}">Edit</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item menu-item-edit" href="javascript: send_daily_email();"
                                   th:if="${superUser}">
                                    <i class="fa-regular fa-envelope"></i>
                                    <span th:text="#{button.send-to-subscribers}">Send to Subscribers</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item menu-item-edit"
                                   th:href="'/me/stats/story?story-id=' + ${story.id}">
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <span th:text="#{button.stats}">Send to Subscribers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- Title -->
                <h1 class="title" th:text="${story.title}">Title</h1>

                <h2 class="tagline text-center" th:if="!${story.tagline.isEmpty()}" th:text="${story.tagline}">
                    Tagline</h2>

                <!-- Author -->
                <div class="margin-top uppercase text-small">
                    <div>
                        <a th:href="${story.user.slug}">
                            <b th:text="${story.user.fullName}">Ray Sponsible</b></a>
                    </div>
                    <div>
                        <span th:text="${story.publishedDateTime}">1 Nov</span>
                        -
                        <span th:text="${story.readingMinutes}">2</span>
                        <span th:text="#{label.minutes}">min</span>
                    </div>
                </div>

                <!-- Access -->
                <div class="access margin-top" th:if="!${story.publicAccess}">
                    <i class="fa-solid fa-lock"></i>
                    <span th:text="#{'story.access.' + ${story.access}}">Access</span>
                </div>


                <!-- Content -->
                <div class="content margin-top" th:utext="${html}">
                    This is the content of the story
                </div>

                <!-- Paywall -->
                <div class="margin-top" th:if="${showPaywall}">
                    <div th:replace="~{components/story :: story-paywall(${story})}"></div>
                </div>

                <!-- Tags -->
                <div class="tag-container" th:if="!${showPaywall}">
                    <div class="tag margin-top margin-right" th:each="tag : ${story.tags}">
                        <span th:text="${tag.displayName}">Tag</span>
                    </div>
                </div>

                <!-- Comment/Share -->
                <div class="widget-container padding margin-top border-top" th:if="!${preview} AND !${showPaywall}">
                    <div th:if="${toggles.like}">
                        <div th:replace="~{components/like :: widget(${story})}"></div>
                    </div>
                    <div th:if="${toggles.comment}">
                        <div th:replace="~{components/comment :: widget(${story})}"></div>
                    </div>
                    <div>
                        <div th:replace="~{components/share :: widget(${story})}"></div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-lg-4">
            <div id="author-card">
                <div th:replace="~{components/author :: author-sidebar(${story.user})}"></div>
            </div>
            <div class="margin-top" id="ads-container-sidebar" th:if="${toggles.ads}">
                <div th:replace="~{components/ads :: banner(${story.user}, 'BOX_2X')}"></div>
            </div>
            <div id="shop-container"></div>
            <div id="product-container"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="recommendation-container"></div>
        </div>
    </div>

    <div class="row margin-bottom-4x">&nbsp;</div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/google :: one-tap(${story}, null)}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<div th:if="${showSubscribeModal}">
    <div th:replace="~{components/follow :: modal(${story.user}, ${story})}"></div>
</div>
<div th:if="${showDonationModal} AND !${showSubscribeModal}">
    <div th:replace="~{components/donate :: modal(${products}, ${story}, ${donationAmount})}"></div>
</div>

<script charset="utf-8" src="https://platform.twitter.com/widgets.js" th:if="${hasTwitterEmbed}"></script>
<script th:if="${hasYouTubeEmbed}">
    function onYouTubeIframeAPIReady() {
        $('.youtube .player').each(function () {
            const id = jQuery(this).attr('id');
            const videoId = jQuery(this).parent().attr('data-id');
            new YT.Player(id, {
                videoId: videoId
            });
        });
    }
</script>
<script src="https://player.vimeo.com/api/player.js" th:if="${hasVimeoEmbed}"></script>

<link rel="stylesheet" th:href="${page.assetUrl} + '/assets/prettify/css/prettify.min.css'"
      th:if="${hasCode} OR ${hasRaw}" type="text/css"/>
<script th:if="${hasCode} OR ${hasRaw}" th:src="${page.assetUrl} + '/assets/prettify/js/prettify.min.js'"></script>

<script th:if="!${preview} AND !${showPaywall}" th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener("DOMContentLoaded", function () {
        track_events();
        handle_share();
        prettify_code();
        load_shop();
        load_read_also();
    });

    function track_events() {
        /* Tracking */
        const startTime = (new Date()).getTime();
        track('readstart');
        window.addEventListener('beforeunload', function () {
            const durationMillis = (new Date()).getTime() - startTime;
            track('readend', durationMillis);
        });

        let maxScrollPercent = -1;
        $(window).on('scroll', function () {
            const s = $(window).scrollTop();
            const d = $(document).height();
            const c = $(window).height();

            const scrollPercent = ((s / (d - c)) * 100) | 0;
            if ((scrollPercent > 0) && (scrollPercent % 10 == 0) && (scrollPercent > maxScrollPercent)) {
                // console.log('scroll', scrollPercent, maxScrollPercent);

                maxScrollPercent = scrollPercent;
                track('scroll', scrollPercent);
            }
        });

        /* Track subscription click */
        $('.btn-follow').click(function () {
            wutsi.ga_track('story', 'subscribe');
        });
    }

    function prettify_code() {
        const prettify = /*[[${hasCode} OR ${hasRaw}]]*/'0';
        if (prettify) {
            PR.prettyPrint();
        }
    }

    function handle_share() {
        const href = window.location.href;
        const index = href.indexOf('?');
        if (index > 0 && href.indexOf('share=', index) > 0) {
            wutsi.share(/*[[${story.id}]]*/'0');
        }
    }

    function load_shop() {
        const storeId = /*[[${story.user.storeId}]]*/ null;
        if (!storeId) {
            return;
        }

        // Product
        const id = /*[[${story.id}]]*/ '';
        $('#product-container').load('/read/' + id + '/product?store-id=' + storeId);

        // Shop
        const observer = new IntersectionObserver(
            function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        observer.unobserve(entry.target);

                        if (storeId) {
                            $('#shop-container').load('/read/' + id + '/shop?store-id=' + storeId);
                        }
                    }
                });
            },
            {
                threshold: 1,
            }
        );
        const target = document.querySelector('#shop-container');
        observer.observe(target);
    }

    function load_read_also() {
        const id = /*[[${story.id}]]*/ '';
        const observer = new IntersectionObserver(
            function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        observer.unobserve(entry.target);
                        $('#recommendation-container').load('/read/' + id + '/read-also');
                    }
                });
            },
            {
                threshold: 1,
            }
        );
        const target = document.querySelector('#recommendation-container');
        observer.observe(target);
    }

    function send_daily_email() {
        const storyId = /*[[${story.id}]]*/'0';
        return wutsi.http_post('/read/' + storyId + "/send-daily")
            .then(function () {
                alert('The story has been sent to subscribers');
            }).catch(function (e) {
                console.error('Failed to send daily email', e)
            });
    }

    function track(event, value) {
        console.log('track', event, value);

        const storyId = /*[[${story.id}]]*/'0';
        const data = {
            time: new Date().getTime(),
            event: event,
            ua: navigator.userAgent,
            value: (value ? value : null),
            hitId: /*[[${hitId}]]*/'',
            url: window.location.href,
            referrer: document.referrer,
        };

        // Track
        return wutsi.http_post('/read/' + storyId + "/track", data, true)
            .catch(function (e) {
                console.error('Failed to track', event, value, e)
            });
    }

    /*]]>*/
</script>

</body>
</html>
