<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <h1 th:text="#{page.subscribe.title}">Thank you!</h1>
                <p class="margin-top" th:text="#{page.subscribe.description}">
                    Thank you for joining by Blog
                </p>

                <form action="/subscribed" method="GET">
                    <input name="storyId" th:if="${storyId}" th:value="${storyId}" type="hidden"/>
                    <input name="return-url" th:if="${returnUrl}" th:value="${returnUrl}" type="hidden"/>

                    <div class="margin-top border-rounded" id="writer-container" th:if="${writers}">
                        <div
                            th:replace="~{components/author :: author-selector-panel(#{page.subscribe.recommend}, ${writers})}"></div>
                    </div>

                    <div class="margin-top-2x text-center">
                        <button class="btn btn-primary" id="btn-continue" type="submit">
                            <span th:if="${storyId}" th:text="#{button.continue_reading}">Continue Reading</span>
                            <span th:if="!${storyId}" th:text="#{button.continue}">Continue</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
