<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body class="box-filled-white">

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 class="text-center margin-bottom-2x" th:text="#{page.writers.title}">Discover grat stories</h1>

            <div class="author-list" th:each="writer : ${writers}">
                <div th:replace="components/author :: summary-card(${writer})"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>
</body>

</html>
