<div class="who-to-follow author-list" th:if="!${whoToFollow.isEmpty()}">
    <h4 class="title" th:text="#{page.blog.who_to_follow}">Who to Follow</h4>
    <div th:each="follow : ${whoToFollow}">
        <div th:replace="components/author :: summary-card(${follow}, true, false)"></div>
    </div>
    <div class="footer">
        <a href="/writers" wutsi-track>
            <span th:text="#{button.see_more}">Find More</span>
            ...
        </a>
    </div>
    <script>
        $(document).ready(function () {
            wutsi.domReady();
            wutsi.linkify('.who-to-follow .biography');
        })
    </script>
</div>
