<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${blog}, ${blog.slug})}"></div>

<div th:replace="~{components/layout :: tabs(${blog}, 'donation')}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content container-fluid border border-rounded">
                <form method="POST"
                      onsubmit="document.getElementById('btn-submit').disabled=true; return true"
                      th:action="@{/donate/submit}"
                      th:object="${form}">

                    <input id="txt-amount" th:field="*{amount}" type="hidden"/>
                    <input th:field="*{idempotencyKey}" type="hidden"/>
                    <input th:field="*{redirect}" th:if="${form.redirect}" type="hidden"/>
                    <input th:field="*{name}" type="hidden"/>

                    <div class="padding">
                        <h1 class="title margin-none" th:utext="#{page.donate.title}">Support Us</h1>
                    </div>

                    <div class="error alert alert-danger margin" th:if="${form.error}"
                         th:text="${form.error}">
                        Error
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-amount w-100" id="btn-donate-1"
                                    th:classappend="${amount1} == ${amount} ? btn-primary : btn-outline-primary"
                                    th:data-amount="${amount1}"
                                    th:data-button="${amount1Button}"
                                    th:text="${amount1Text}"
                                    type="button">1,000 FCFA
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-amount w-100" id="btn-donate-2"
                                    th:classappend="${amount2} == ${amount} ? btn-primary : btn-outline-primary"
                                    th:data-amount="${amount2}"
                                    th:data-button="${amount2Button}"
                                    th:text="${amount2Text}"
                                    type="button">5,000 FCFA
                            </button>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-6">
                            <button class="btn btn-amount w-100" id="btn-donate-3"
                                    th:classappend="${amount3} == ${amount} ? btn-primary : btn-outline-primary"
                                    th:data-amount="${amount3}"
                                    th:data-button="${amount3Button}"
                                    th:text="${amount3Text}"
                                    type="button">10,000 FCFA
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-amount w-100" id="btn-donate-4"
                                    th:classappend="${amount4} == ${amount} ? btn-primary : btn-outline-primary"
                                    th:data-amount="${amount4}"
                                    th:data-button="${amount4Button}"
                                    th:text="${amount4Text}"
                                    type="button">20.000 FCFA
                            </button>
                        </div>
                    </div>

                    <div class="row" th:if="${toggles.library} AND ${store} AND ${store.enableDonationDiscount}">
                        <div class="col-12">
                            <div class="margin-top border border-rounded box-filled-highlight-light text-left padding">
                                <h4 th:text="#{page.donate.value}">Please, support my work.</h4>
                                <div class="margin-top" th:if="${blog.storeId} ">
                                    <div th:utext="#{page.donate.value-ebook}">You'll access ebook</div>
                                    <ul class="margin-none">
                                        <li th:utext="#{page.donate.value-ebook-1(${amount1Text})}">5 for 1 week</li>
                                        <li th:utext="#{page.donate.value-ebook-2(${amount2Text})}">10 for 1 month</li>
                                        <li th:utext="#{page.donate.value-ebook-3(${amount3Text})}">20 for 3 months</li>
                                        <li th:utext="#{page.donate.value-ebook-4(${amount4Text})}">50 for 6 months</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 padding border-top margin-top">
                            <div>
                                <div class="text-left">
                                    <b th:text="#{page.donate.input.full-name}">Your Name</b>
                                </div>
                                <input class="w-100 form-control" id="full-name" maxlength="100"
                                       th:field="*{fullName}"/>
                            </div>

                            <div class="margin-top">
                                <div class="text-left">
                                    <b th:text="#{page.donate.input.email}">Email Address</b>
                                    <span class="required">*</span>
                                </div>
                                <input class="w-100 form-control" id="email" maxlength="100" name="email"
                                       required="required"
                                       th:field="*{email}"
                                       type="email"/>
                            </div>

                            <div class="margin-top text-left">
                                <div>
                                    <b th:text="#{page.donate.input.phone-number}">Phone Number</b>
                                    <span class="required">*</span>
                                </div>
                                <input autocomplete="off" class="w-100 form-control" id="phone-number" maxlength="100"
                                       required="true"
                                />
                                <div class="margin-top-small">
                                    <div th:replace="~{components/product :: mobile-money-icons(${paymentProviderTypes})}"></div>
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary w-100 margin-top" id="btn-submit"
                                    th:text="${amountButton}"
                                    type="submit"
                                    wutsi-track-event="pay">
                                Donate
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="padding margin-top border border-rounded box-filled-highlight-light" id="paypal-container"
                 th:if="${paypalClientId} AND ${toggles.paypal} AND ${superUser}">
                <div class="text-center padding text-larger" th:utext="#{page.donate.paypal}">
                    You can also support my blog in <b class='highlight'>Euro</b> using <b>PayPal</b>
                </div>
                <div class="margin-top" id="paypal-button-container"></div>
                <p id="result-message"></p>
                <script data-sdk-integration-source="integrationbuilder_sc"
                        th:src="'https://www.paypal.com/sdk/js?currency=' + ${wallet.country.internationalCurrency} + '&client-id=' + ${paypalClientId} + '&components=buttons&enable-funding=card&disable-funding=paylater,venmo'"></script>
                <script th:inline="javascript">
                    var transactionId = '';
                    window.paypal
                        .Buttons({
                            style: {
                                shape: "pill",
                                layout: "vertical",
                            },
                            async createOrder() {
                                console.log('createOrder');
                                transactionId = '';
                                try {
                                    // Donate
                                    const response = await wutsi.httpPost(
                                        '/paypal/donate',
                                        {
                                            name: /*[[${blog.name}]]*/ '',
                                            amount: $('#txt-amount').val(),
                                            email: $('#email').val(),
                                            fullName: $('fullName').val(),
                                            idempotencyKey: /*[[${form.idempotencyKey}]]*/'',
                                            paypal: true
                                        },
                                        true
                                    );
                                    console.log(">>>", response);
                                    transactionId = response.transactionId;

                                    // Tracking
                                    wutsi.ga_track(wutsi.page_name(), 'donate-paypal');

                                    return response.orderId;
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
                                    wutsi.ga_track(wutsi.page_name(), 'donate-paypal-error', error);
                                }
                            },
                            async onApprove(data, actions) {
                                console.log('onApprove', data, actions);
                                try {
                                    // Approve
                                    wutsi.httpPost(
                                        '/paypal/orders/' + data.orderID + '/capture',
                                        {},
                                        true
                                    ).then(function (response) {
                                        console.log('>>> ', response);
                                        window.location.href = '/processing?id=' + transactionId;
                                    });

                                    // Tracking
                                    wutsi.ga_track(wutsi.page_name(), 'donate-approve-paypal');
                                } catch (error) {
                                    console.error(error);
                                    resultMessage(
                                        `Sorry, your transaction could not be processed...<br><br>${error}`,
                                    );
                                    wutsi.ga_track(wutsi.page_name(), 'donate-approve-paypal-error', error);
                                }
                            },
                        })
                        .render("#paypal-button-container");

                    // Example function to show a result to the user. Your site's UI library can be used instead.
                    function resultMessage(message) {
                        const container = document.querySelector("#result-message");
                        container.innerHTML = message;
                    }
                </script>
            </div>

            <div class="padding margin-bottom-4x">&nbsp;</div>
        </div>
    </div>
</div>

<div th:replace="~{components/share :: popup}"></div>
<div th:replace="~{components/layout :: footer}"></div>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('.btn-amount').click(function () {
            $('.btn-amount').removeClass('btn-primary');
            $('.btn-amount').addClass('btn-outline-primary');
            $(this).addClass('btn-primary')

            $('#txt-amount').attr('value', $(this).attr('data-amount'));
            $('#btn-submit').text($(this).attr('data-button'));
        });

        const input = document.querySelector("#phone-number");
        const countries = /*[[${countryCodeCSV}]]*/ '';
        window.intlTelInput(input, {
            initialCountry: /*[[${form.country}]]*/ '',
            onlyCountries: countries.split(','),
            hiddenInput: () => "number",
            autoPlaceholder: false,
        });

    });


    wutsi.ga_track('donate', 'loaded');
    /*]]>*/
</script>
</body>
</html>
