<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${tx.merchant}, ${tx.merchant.slug})}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 offset-lg-2 col-lg-8 margin-top-2x">
            <div class="main-content border border-rounded text-center padding margin-bottom-4x">
                <h1 th:text="#{page.processing.title}">Processing the Payment</h1>

                <div class="padding-2x" id="processing-container" th:if="${tx.status.name} == 'PENDING'">
                    <div>
                        <i class="fa-solid fa-rotate fa-spin fa-2x"></i>
                    </div>
                    <div class="margin-top" th:utext="#{page.processing.wait}">
                        Please wait while we are processing your transaction.<br/>
                        <b>IMPORTANT:</b> Do not close this window
                    </div>

                    <div class="margin-top padding box-filled-highlight-light"
                         th:if="${tx.type.name} == 'CHARGE'"
                         th:text="#{page.product.delivery-digital-download-description}"
                    >
                        A link to download the file will be included in the receipt email that you
                        will receive, once the payment is confirmed.
                    </div>
                </div>

                <div class="padding-2x" id="success-container"
                     th:classappend="${tx.status.name} == 'PENDING' ? 'hidden'"
                     th:if="${tx.status.name} == 'PENDING' OR ${tx.status.name} == 'SUCCESSFUL'">

                    <div th:if="${tx.type.name} == 'CHARGE'">
                        <div class="padding alert alert-success">
                            <div><i class="fa fa-check-circle fa-2x"></i></div>
                            <div th:utext="#{page.processing.success.charge}">
                                The transaction has been successful.<br/>Thank you for your purchase!
                            </div>
                        </div>
                        <div class="padding border border-rounded text-left margin-top">
                            <div th:replace="~{components/product :: product-summary-card(${tx.product})}"></div>
                            <a class="btn btn-primary w-100 margin-top" id="btn-download" th:href="${downloadUrl}"
                               th:text="#{button.download_file}">
                                Download the File
                            </a>
                        </div>
                        <div class="padding">
                            <a th:href="${tx.merchant.shopUrl}" th:text="#{button.continue_shopping}">
                                Continue Shopping</a>
                        </div>
                    </div>

                    <div th:if="${tx.type.name} == 'DONATION'">
                        <div class="padding alert alert-success">
                            <div><i class="fa fa-check-circle fa-2x"></i></div>
                            <div th:utext="#{page.processing.success.donation}">
                                The transaction has been successful.<br/>Thank you for your support!
                            </div>
                        </div>
                        <div class="padding">
                            <a class="btn btn-primary" th:href="${tx.merchant.slug}" th:text="#{button.back_to_blog}">
                                Back to the Blog</a>
                        </div>
                    </div>
                </div>

                <div class="padding-2x" id="failed-container"
                     th:classappend="${tx.status.name} == 'PENDING' ? 'hidden'"
                     th:if="${tx.status.name} == 'PENDING' OR ${tx.status.name} == 'FAILED'">
                    <div class="padding alert alert-danger">
                        <div th:utext="#{page.processing.error}">Transaction Failed</div>
                        <div th:if="${tx.errorMessage}" th:utext="${tx.errorMessage}">Error Message</div>
                    </div>
                    <div class="padding text-center">
                        <a class="btn btn-primary" th:href="${tx.merchant.slug} + '/donate'"
                           th:text="#{button.try_again}">Please try again</a>
                    </div>
                </div>

                <div class="padding-2x hidden" id="expired-container">
                    <div class="padding alert alert-warning" th:utext="#{page.processing.expired(${tx.email})}">
                        The transaction took more time than expected.
                    </div>
                    <div class="padding text-center">
                        <a class="btn btn-primary" th:href="${tx.merchant.slug}" th:text="#{button.back_to_blog}">
                            Back to the Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:if="${tx.status.name} == 'PENDING'" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    let retries = 3;
    let handle = setTimeout(load_transaction, 10 * 1000);  // Wait 10s before fetching the status
    function load_transaction() {
        retries--;
        console.log(retries + ' - Loading transaction...');

        const transactionId = /*[[${tx.id}]]*/ '';
        const url = '/processing/status?id=' + transactionId;
        jQuery.getJSON(url, function (tx) {
            clearTimeout(handle);

            if (retries < 0) {
                console.log('Expired :-(');
                $('#processing-container').addClass('hidden');
                $('#expired-container').removeClass('hidden');

                wutsi.ga_track('processing', 'failure', null, 'Expired');
            } else if (tx.status === 'SUCCESSFUL') {
                $('#processing-container').addClass('hidden');
                $('#success-container').removeClass('hidden');

                wutsi.ga_track('processing', 'success', null, tx.errorCode);
                wutsi.ga_track('processing', 'purchase', /*[[${tx.amount.value}]]*/ '');
            } else if (tx.status === 'FAILED') {
                $('#processing-container').addClass('hidden');
                $('#failed-container').removeClass('hidden');

                wutsi.ga_track('processing', 'failure');
            } else {
                retries--;
                handle = setTimeout(load_transaction, 15 * 1000); // Fetch status in 15 secs
            }
        });
    }

    /*]]>*/

    wutsi.ga_track('processing', 'loaded');
</script>
</body>
</html>
