<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container main-content border border-rounded margin-top padding-2x settings">
    <div class="row">
        <div class="col-12 margin-bottom">
            <a href="/me/stats/user">
                <i class="fa-solid fa-arrow-left"></i>
                <span th:text="#{label.statistics}">Statistiques</span></a>
        </div>
    </div>

    <h1 th:text="#{page.transactions.title}">Transactions</h1>
    <div class="row margin-top">
        <div class="padding text-larger" th:if="${wallet}">
            <span th:text="#{label.balance}">Balance</span>:
            <c class="highlight" th:text="${wallet.balance}">2000 F</c>
        </div>

        <div class="col-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="text-left" th:text="#{page.transactions.header.date}">Date</th>
                    <th class="text-left" th:text="#{page.transactions.header.type}">Type</th>
                    <th class="text-left" th:text="#{page.transactions.header.from}">From</th>
                    <th class="text-right" th:text="#{page.transactions.header.amount}">Amount</th>
                    <th class="text-right" th:text="#{page.transactions.header.net}">Net</th>
                    <th th:text="#{page.transactions.header.product}">Product</th>
                    <th></th>
                </tr>
                <tr th:each="tx: ${transactions}">
                    <td th:replace="~{components/transaction :: columns(${tx})}"></td>
                </tr>
                <tr th:replace="~{components/transaction :: load-more(${moreUrl})}"></tr>
            </table>
        </div>
    </div>

    <hr/>
    <div class="row margin-top">
        <div class="col-12">
            <a href="/me/stats/user">
                <i class="fa-solid fa-arrow-left"></i>
                <span th:text="#{label.statistics}">Statistiques</span></a>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

</body>

</html>
