<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container main-content border border-rounded margin-top padding-2x settings">
    <div class="row">
        <div class="col-12">
            <a href="/me/settings">
                <i class="fa-solid fa-arrow-left"></i>
                <span th:text="#{label.settings}">Settings</span></a>
        </div>
    </div>
    <hr/>

    <h1 th:text="#{page.transactions.title}">Transactions</h1>
    <div class="row margin-top">
        <div class="col-12">
            <table class="table table-striped">
                <tr>
                    <th class="text-left" th:text="#{page.transactions.header.date}">Date</th>
                    <th class="text-left" th:text="#{page.transactions.header.type}">Type</th>
                    <th class="text-left" th:text="#{page.transactions.header.from}">From</th>
                    <th class="text-right" th:text="#{page.transactions.header.amount}">Amount</th>
                    <th class="text-right" th:text="#{page.transactions.header.fees}">Fees</th>
                    <th class="text-right" th:text="#{page.transactions.header.net}">Net</th>
                    <th></th>
                </tr>
                <tr th:each="tx: ${transactions}">
                    <td class="text-left" th:text="${tx.creationDateTimeText}">2020/20/20</td>
                    <td class="text-left" th:text="#{'transaction.type.' + ${tx.type}}">Donation</td>
                    <td class="text-left" th:text="${tx.paymentMethodOwner}">Ray Sponsible</td>
                    <td class="text-right" th:text="${tx.amount.text}">2000 FCFA</td>
                    <td class="text-right" th:text="${tx.fees.text}">100 FCFA</td>
                    <td class="text-right"><b class="highlight" th:text="${tx.net.text}">1900 FCFA</b></td>
                    <td class="text-center">
                        <span th:class="${tx.status.name().toLowerCase()}"
                              th:text="#{'transaction.status.' + ${tx.status}}"
                        >Success</span>
                    </td>
                </tr>
                <tr th:replace="~{components/transaction :: load-more(${moreUrl})}"></tr>
            </table>
        </div>
    </div>

    <hr/>
    <div class="row margin-top">
        <div class="col-12">
            <a href="/me/settings">
                <i class="fa-solid fa-arrow-left"></i>
                <span th:text="#{label.settings}">Settings</span></a>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

</body>

</html>
