<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container main-content border border-rounded margin-top padding-2x settings">
    <div class="row">
        <div class="col-12 col-md-2 picture margin-bottom">
            <div class="settings-sidebar">
                <div class="text-center">
                    <img id="my-picture" th:src="${user.pictureUrl}"/>
                    <button class="btn-upload btn btn-sm btn-light margin-top" th:text="#{button.change}">
                        Upload Logo
                    </button>
                    <input class="hidden" id="file-upload" type="file"/>
                </div>

                <div class="margin-bottom-2x margin-top-2x settings-menu">
                    <div>
                        <a href="#general" id="menu-item-general">
                            <i class="fa-solid fa-user"></i>
                            <span th:text="#{label.general}">General</span>
                        </a>
                    </div>
                    <div class="margin-top" th:if="${user.blog}">
                        <a href="#social_media" id="menu-item-social-media">
                            <i class="fa-brands fa-facebook"></i>
                            <span th:text="#{label.social_media}">Social Media</span>
                        </a>
                    </div>
                    <div class="margin-top" th:if="${user.blog}">
                        <a href="#instant_messaging" id="menu-item-instant-messaging">
                            <i class="fa-brands fa-facebook-messenger"></i>
                            <span th:text="#{label.instant_messaging}">Instant Messaging</span>
                        </a>
                    </div>
                    <div class="margin-top" th:if="${user.blog}">
                        <a href="#import" id="menu-item-import">
                            <i class="fa-solid fa-upload"></i>
                            <span th:text="#{label.import}">Import</span>
                        </a>
                    </div>
                    <div class="margin-top" th:if="${user.blog} AND ${wallet}">
                        <a href="#wallet_account" id="menu-item-wallet-account">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <span th:text="#{label.cashout}">Cashout</span>
                        </a>
                    </div>
                    <div class="margin-top">
                        <a href="#subscriptions" id="menu-item-subscription">
                            <i class="fa-solid fa-envelopes-bulk"></i>
                            <span th:text="#{label.subscriptions}">Subscriptions</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-10">
            <h1 th:text="#{page.settings.title}">Blog Setting</h1>

            <div class="padding" id="monetization-container"
                 th:if="${user.blog} AND ${toggles.monetization} AND !${wallet}">
                <div class="text-center">
                    <a class="btn btn-primary" href="/me/settings/monetization" id="btn-enable-monetization"
                       th:text="#{button.enable_monetization}"
                       type="submit">
                        Enable Monetization
                    </a>
                </div>
            </div>

            <div class="border border-rounded" id="general-container">
                <a name="general"></a>
                <div class="setting-section">
                    <h4 th:text="#{label.username}">Username</h4>
                    <div
                            th:replace="~{components/settings :: inline_social_input_form(title=${page.baseUrl}+'/@/', name='name', value=${user.name}, placeholder=#{page.settings.username.placeholder})}"></div>
                </div>
                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.blogname}, name='full_name', value=${user.fullName}, maxlen=100, control='input', type='text', placeholder=#{page.settings.fullname.placeholder})}"></div>
                </div>
                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.email}, name='email', value=${user.email}, maxlen=100, control='input', type='email', placeholder=#{page.settings.email.placeholder})}"></div>
                </div>
                <div class="setting-section" id="biography-container" th:if="${user.blog}">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.biography}, name='biography', value=${user.biography}, maxlen=200, control='textarea', type='', placeholder=#{page.settings.bio.placeholder})}"></div>
                </div>
                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.language}, name='language', value=${user.language}, maxlen='', control='language', type='', placeholder=#{page.settings.language.placeholder})}"></div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.country}, name='country', value=${user.country}, maxlen='', control='country', type='country', placeholder='')}"></div>
                </div>

                <div class="setting-section" id="website-container" th:if="${user.blog}">
                    <a name="website"></a>
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.website}, name='website_url', value=${user.websiteUrl}, maxlen=200, control='input', type='url', placeholder=#{page.settings.website.placeholder})}"></div>
                </div>
            </div>

            <div class="setting-section border border-rounded margin-top" id="social_media-container"
                 th:if="${user.blog}">
                <a name="social_media"></a>

                <h4 th:text="#{label.social_media}">Social Links</h4>
                <p th:text="#{page.settings.social_media.info}">
                    Add links to your social media accounts to help your reader to follow you
                </p>
                <div
                        th:replace="~{components/settings :: inline_social_input_form(title='https://www.facebook.com/', name='facebook_id', value=${user.facebookId}, placeholder=#{page.settings.facebook.placeholder})}"></div>
                <div
                        th:replace="~{components/settings :: inline_social_input_form(title='https://www.twitter.com/', name='twitter_id', value=${user.twitterId}, placeholder=#{page.settings.twitter.placeholder})}"></div>
                <div
                        th:replace="~{components/settings :: inline_social_input_form(title='https://www.youtube.com/channel/', name='youtube_id', value=${user.youtubeId}, placeholder=#{page.settings.youtube.placeholder})}"></div>
                <div
                        th:replace="~{components/settings :: inline_social_input_form(title='https://www.linked.com/in/', name='linkedin_id', value=${user.linkedinId}, placeholder=#{page.settings.linkedin.placeholder})}"></div>
                <div
                        th:replace="~{components/settings :: inline_social_input_form(title='https://www.github.com/', name='github_id', value=${user.githubId}, placeholder=#{page.settings.github.placeholder})}"></div>
            </div>

            <div class="setting-section border border-rounded margin-top" id="instant_messaging-container"
                 th:if="${user.blog}">
                <a name="instant_messaging"></a>

                <h4 th:text="#{label.instant_messaging}">Social Links</h4>
                <p th:text="#{page.settings.instant_messaging.info}">
                    Configure your messengers to receive direct messages from your readers
                </p>

                <div
                        th:replace="~{components/settings :: inline_social_input_form(title=#{label.whatsapp_number}, name='whatsapp_id', value=${user.whatsappId}, placeholder=#{page.settings.whatsapp.placeholder})}"></div>

                <div
                        th:replace="~{components/settings :: inline_social_input_form(title=#{label.telegram_username}, name='telegram_id', value=${user.telegramId}, placeholder=#{page.settings.telegram.placeholder})}"></div>
            </div>

            <div class="border border-rounded margin-top" id="import-container" th:if="${user.blog}">
                <a name="import"></a>
                <div class="setting-section">
                    <h4 th:text="#{label.import}">Import</h4>
                    <h5 th:text="#{page.settings.import_email.info}">Add subscribers by email</h5>
                    <input class="form-control" id="txt-import-email" maxlength="1000"
                           th:placeholder="#{page.settings.import_email.placeholder}"/>
                    <div class="text-center margin-top" id="btn-import-email-submit">
                        <button class="btn btn-light btn-sm" th:text="#{button.import}">Import</button>
                    </div>
                </div>

                <!--
                <div class="setting-section">
                    <h5 th:text="#{page.settings.import_csv.info}">Add emails by uploading a spreadsheet</h5>
                    <div th:utext="#{page.settings.import_csv.message}">
                        Import a CSV file from platforms like
                        <a href="https://www.patreon.com/portal/how-to/export-pledge-data" target="_new">Patreon</a>,
                        <a href="https://mailchimp.com/help/view-export-contacts/#View_or_export_an_audience"
                           target="_new">Mailchimp</a>
                        to add several subscribers at once.
                    </div>
                    <div class="text-small" th:text="#{page.settings.import_csv.warning}">
                        Please ensure your list is made up of people who explicitly opted-in to receiving emails.
                        Don’t add readers whose information was obtained solely via the exchange of products/services,
                        giveaways, or similar collection methods.
                    </div>
                    <div class="text-center">
                        <button class="btn-upload-csv btn btn-sm btn-light margin-top" th:text="#{button.upload_file}">
                            Upload
                        </button>
                        <input class="hidden" id="file-upload-csv" type="file"/>
                    </div>
                </div>
                -->
                <script th:inline="javascript">
                    $('#btn-import-email-submit').click(function () {
                        const email = $('#txt-import-email').val().trim();
                        if (email.length == 0) {
                            return;
                        }

                        $('#btn-import-email-submit').attr('disabled', 'disabled');
                        wutsi.http_post(
                            '/me/settings/subscribe', {email: email}, true,
                        ).finally(function () {
                            alert(/*[[#{page.settings.import_email_done}]]*/ '');
                            $('#btn-import-email-submit').removeAttr('disabled');
                            $('#txt-import-email').val('');
                        })
                    });

                    $('.btn-upload-csv').click(function () {
                        $('#file-upload-csv').click();
                    });

                    $('#file-upload-csv').change(function () {
                        const file = $(this).prop('files')[0];

                        if (file.type === 'text/csv') {
                            console.log('Uploading ', file);
                            wutsi.upload(file)
                                .then(function (data) {
                                    console.log('Uploaded ', data);
                                    wutsi.http_post('/me/settings/import-subscribers', {url: data.url}, true)
                                        .finally(function () {
                                            alert(/*[[#{page.settings.import_csv_done}]]*/ '');
                                        });
                                });
                        } else {
                            alert(/*[[#{page.settings.import_csv_bad_format}]]*/ '');
                        }
                    });
                </script>
            </div>

            <div class="setting-section border border-rounded margin-top" id="wallet_account"
                 th:if="${user.blog} AND ${wallet}">
                <h4 class="margin-none" th:text="#{label.cashout}">Cashout</h4>

                <div class="margin-top" th:text="#{page.settings.wallet.account.info}">
                    Setup the account
                </div>
                <div
                        th:replace="~{components/settings :: phone_input_form(title=#{label.mobile_phone}, name='wallet_account_number', placeholder='', value=${wallet.account?.number}, country=${wallet.country})}"></div>
                <div th:if="${wallet.nextCashoutDateText}">
                    <b th:text="#{page.settings.next-cashout-date}">Next Transfer Date</b>:
                    <span th:text="${wallet.nextCashoutDateText}">Tomorrow</span>
                </div>
                <div th:text="#{page.settings.cashout-info}">Your earnings will be transfered every 28 days</div>
            </div>

            <a name="subscriptions"></a>
            <div class="border border-rounded margin-top" id="subscription-container">
                <h4 class="padding margin-none" th:text="#{label.subscriptions}">My Subscriptions</h4>
                <div id="subscription-table"></div>
                <script>
                    $(document).ready(function () {
                        $('#subscription-table').load('/me/settings/subscriptions')
                    })

                    function unsubscribe(id) {
                        wutsi.http_get('/me/settings/unsubscribe?user-id=' + id)
                            .then(function () {
                                const btnId = '#subscription-' + id + ' .btn-unsubscribe';
                                $(btnId).attr('disabled', 'disabled')
                                $(btnId).html('<i class="fa-solid fa-rotate fa-spin"></i>');

                                var handle = setTimeout(
                                    function () {
                                        $('#subscription-table').load('/me/settings/subscriptions')
                                        clearTimeout(handle);
                                    },
                                    3000
                                );
                            });
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

</body>

<script th:if="${highlight}" th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        const highlight = /*[[${highlight}]]*/ '';
        const selector = '#' + highlight + '-container';
        $([document.documentElement, document.body]).animate(
            {scrollTop: $(selector).offset().top},
            2000
        );
        $(selector).addClass('flash-highlight');
    });

    /*]]>*/
</script>

<script>
    $('.btn-edit').click(function () {
        begin_edit($(this).attr('data-key'));
    });

    $('.btn-cancel').click(function () {
        cancel_edit($(this).attr('data-key'));
    });

    $('.btn-save').click(function () {
        const key = $(this).attr('data-key');
        const selector = '#' + key + '-form';
        const name = $(this).attr('data-key');
        const value = $(selector + ' [name=' + name + ']').val();

        save_attribute(name, value)
            .then(function (data) {
                console.log('then...', data);
                if (data.error) {
                    console.log('error');
                    show_error(key, data.error);
                } else {
                    end_edit(key);
                }
            });
    });

    $('.form-control').keyup(function () {
        const key = $(this).attr('data-key');
        validate(key);
    });

    $('.btn-upload').click(function () {
        $('#file-upload').click();
    });

    $('#file-upload').change(function () {
        const file = $(this).prop('files')[0];

        console.log('Uploading ', file);
        if (file.type.startsWith('image/')) {
            if (file.size <= 2 * 1024 * 1024) {
                wutsi.upload(file)
                    .then(function (data) {
                        console.log('Uploaded ', data);
                        save_attribute('picture_url', data.url)
                            .then(function () {
                                $('#my-picture').attr('src', data.url)
                            });
                    })
            } else {
                alert('Image should be have than 2Mb');
            }
        } else {
            alert('Not an image!!!');
        }
    });

    function save_attribute(name, value) {
        const data = {
            name: name,
            value: value
        };
        return wutsi.http_post('/me/settings', data, true);
    }

    function begin_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .btn-edit').addClass('hidden');
        $(selector + ' .toolbar').removeClass('hidden');

        $(selector + ' .form-control').removeAttr('disabled');
        $(selector + ' .form-control').focus();

        $(selector + ' .old-value').val($(selector + ' .form-control').val());

        validate(key);
    }

    function cancel_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .form-control').val($(selector + ' .old-value').val());
        end_edit(key);
    }

    function end_edit(key) {
        const selector = form_selector(key);

        $(selector + ' .toolbar').addClass('hidden');
        $(selector + ' .btn-edit').removeClass('hidden');

        $(selector + ' .form-control').attr('disabled', 'disabled');

        $(selector + ' .old-value').val('');

        $(selector + ' .alert-danger').addClass('hidden');
    }

    function validate(key) {
        const selector = form_selector(key);

        if (!$(selector + ' .form-control')[0].checkValidity()) {
            $('.btn-save').attr('disabled', 'disabled');
        } else {
            $('.btn-save').removeAttr('disabled');
        }
    }

    function show_error(key, error) {
        const selector = form_selector(key);

        $(selector + ' .alert-danger').html(error);
        $(selector + ' .alert-danger').removeClass('hidden');
    }

    function form_selector(key) {
        return '#' + key + '-form';
    }
</script>
</html>
