<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar}"></div>

<div class="container margin-top">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="box-filled-white padding border border-rounded">
                <h1 th:text="#{page.error.account_suspended.title}">Account Suspended</h1>
                <p class="alert alert-danger margin-top-2x" th:utext="#{page.error.account_suspended.description}">
                    Your account has been suspended due to a violation of our site policy!
                </p>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
