spring:
  flyway:
    clean-disabled: true
  jpa:
    show-sql: false
  datasource:
    url: ${SPRING_DATABASE_URL}
    username: ${SPRING_DATABASE_USERNAME}
    password: ${SPRING_DATABASE_PASSWORD}
  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        debug: false

swagger:
  protocol: https

wutsi:
  application:
    website-url: https://wutsi-blog-web-test.herokuapp.com
    backend:
      ml-server-url: "https://wutsi-ml-service-test-${WUTSI_ML_DOMAIN_SUFFIX}.herokuapp.com"
    cashout:
      frequency-days: 1
    tracking:
      type: aws
      aws:
        bucket: int-wutsi-data

  platform:
    cache:
      type: memcached
      memcached:
        username: ${MEMCACHIER_USERNAME}
        password: ${MEMCACHIER_PASSWORD}
        servers: ${MEMCACHIER_SERVERS}
    payment:
      flutterwave:
        enabled: true
        secret-key: ${FLUTTERWAVE_SECRET_KEY}
        secret-hash: ${FLUTTERWAVE_SECRET_HASH}
        encryption-key: ${FLUTTERWAVE_ENCRYPTION_KEY}
      paypal:
        enabled: true
        client-id: "${PAYPAL_CLIENT_ID}"
        secret-key: "${PAYPAL_SECRET_KEY}"
    storage:
      type: aws
      aws:
        bucket: int-wutsi
    stream:
      type: rabbitmq
      rabbitmq:
        url: ${CLOUDAMQP_URL}

  website:
    url: "https://int-com-wutsi-blog-web.herokuapp.com"
