database:
  pool-size: 4

spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wutsi?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password:
    hikari:
      connection-timeout: 30000
      connection-test-query: "SELECT 1"
      idle-timeout: 600000             # 10 mins
      leak-detection-threshold: 0
      max-lifetime: 1800000            # 30 mins
      maximum-pool-size: ${database.pool-size}
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048

  flyway:
    clean-disabled: false
    locations: "classpath:db/migration/base,classpath:db/migration/default"
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: com.wutsi.platform.core.util.CustomPhysicalNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  jackson:
    read:
      ALLOW_UNESCAPED_CONTROL_CHARS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
      ACCEPT_EMPTY_STRING_AS_NULL_OBJECT: true
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
      ACCEPT_CASE_INSENSITIVE_PROPERTIES: true
    default-property-inclusion: non_null

  mail:
    default-encoding: UTF-8
    host: localhost
    port: 3025
    username: wutsi
    password: secret
    properties:
      mail:
        debug: true
        smtp:
          from: no-reply@wutsi.com
          auth: true
          starttls:
            enable: true
    test-connection: false

  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  servlet:
    multipart:
      max-file-size: 10240KB
      max-request-size: 10240KB

server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 512

management:
  endpoint:
    health:
      show-details: always
    info:
      git:
        mode: full
  endpoints:
    web:
      exposure:
        include: "beans,flyway,health,info,scheduledtasks,mappings"


logging:
  level:
    root: INFO
    com.amazonaws: ERROR
    com.icegreen.greenmail.smtp.SmtpManager: ERROR
    org.springframework: INFO
    org.hibernate: ERROR
    org.hibernate.engine.jdbc.spi.SqlExceptionHelper: OFF
    com.wutsi: DEBUG
    springfox: ERROR

  pattern:
    console: "%d Type=%level Logger=%c Thread=%thread %m%n"
    file: "%d Type=%level Logger=%c Thread=%thread %m%n"

threadpool:
  value: "wutsi-blog-service"
  minPoolSize: 16
  maxPoolSize: 16
  queueSize: 100

wutsi:
  client-id: wutsi-blog-service
  application:
    name: wutsi-blog-service
    asset-url: ${wutsi.platform.image.image-kit.endpoint-url}/static/wutsi-blog-web
    website-url: http://localhost:8081
    ads:
      budget-per-impression: 10
    backend:
      connection-timeout: 15000
      read-timeout: 15000
      ml-server-url: http://localhost:8082
      similarities:
        endpoint: ${wutsi.application.backend.ml-server-url}/v1/similarities
      personalize:
        endpoint: ${wutsi.application.backend.ml-server-url}/v1/personalize
      ip-api:
        endpoint: http://ip-api.com/json
    mail:
      whitelist: "herve.tchepannou@gmail.com, tchbansi@hotmail.com,blackisted@gmail.com,herve.tchepannou.ci@gmail.com,herve.tchepannou.sn@gmail.com"
      smtp:
        enabled: true
      sqs-notification:
        enabled: false
        delete: true
        region: us-east-1
        queue:
          complaints-queue-name: ses-complaints-queue
          bounces-queue-name: ses-bounces-queue
      import:
        max-rows: 500
      daily-newsletter:
        ses-configuration-set: wutsi-newsletter
      e-book-launch:
        ses-configuration-set: wutsi-ebook-launch
      login-link:
        ses-configuration-set: wutsi-login-link
      order:
        ses-configuration-set: wutsi-order
      order-abandoned:
        ses-configuration-set: wutsi-order-abandoned
      welcome-subscriber:
        ses-configuration-set: wutsi-welcome-subscriber
      weekly-digest:
        ses-configuration-set: wutsi-weekly-digest
        whitelist:
          email: "*"
          country: "bf,cd,cg,ci,cm,ga,gn,ml,ne,sn,bj,fr,ca" # All francophone countries
    tracking:
      type: local
    transaction:
      charge:
        fees-percentage: 0.3
      donation:
        fees-percentage: 0.3
      cashout:
        frequency-days: 28
    webscraper:
      min-bloc-length: 300
    wpp:
      monhtly-budget: 200000

  platform:
    error:
      controller-advice:
        enabled: true
    security:
      type: none
    cache:
      name: ${wutsi.application.name}
      type: local
    image:
      type: image-kit
      image-kit:
        origin-url: "https://s3.amazonaws.com/int-wutsi"
        endpoint-url: "https://ik.imagekit.io/cx8qxsgz4d"
    messaging:
      sms:
        type: none
      push:
        type: none
      url-shortener:
        type: none
      whatsapp:
        type: none
    payment:
      flutterwave:
        enabled: true
        test-mode: true
        secret-key: "FLWSECK_TEST-cf5e2b130a5e6baac1933ba1fa0931fe-X"
        secret-hash: "----"
        encryption-key: "----"
      paypal:
        enabled: true
        test-mode: true
        client-id: "AVd6GRKZ9A1GQR7UcxadqfC0srM17ksKLwABcblGV72xAjm963GcpqPjCYT7Fd8pbWg8fUD3Bef16SOK"
        secret-key: "EDAAywKD2sKieducUAFXKna-MoemX2ur3JtEwNBBMhe3JHDMOBYCjdY_4l327Dch8OYW4WBrOyuLG3y2"
    storage:
      type: local
      local:
        directory: "${user.home}/wutsi/storage"
    stream:
      name: ${wutsi.application.name}
      type: local
      consume: true
      subscriptions:
        - wutsi-blog-web
    tracing:
      client-id: ${wutsi.application.name}

  crontab:
    ads-complete: "0 30 */12 * * *"                 # Every 12 hours
    ads-run: "0 */15 * * * *"                       # Every 15 minutes
    abandoned-order-hourly: "0 0 * * * *"           # Every hour
    abandoned-order-daily: "0 0 16 * * *"           # Every day at 4PM GMT
    abandoned-order-weekly: "0 0 16 * * *"          # Every day at 4PM GMT
    ebook-launch: "0 0 5 * * *"                     # Every day at 5AM GMT
    kpi-monthly-importer: "0 0 */3 * * *"           # Every 3 hours
    mail-daily: "0 0 5 * * *"                       # Every day at 5AM GMT
    mail-weekly: "0 0 7 * * FRI"                    # Every Friday at 7AM GMT
    reader-feed: "0 0 0 * * *"                      # Every day at midnight
    ses-complaints-processor: "0 0 * * * *"         # Every hour
    ses-bounces-processor: "0 0 * * * *"            # Every hour
    session-expirer: "0 0 0 * * *"                  # Every Day at midnight
    story-publisher: "0 0 3 * * *"                  # Every day at 3AM GMT - Should be done after mail-daily
    story-feed: "0 0 0 * * *"                       # Every day at midnight
    transaction-cashout: "0 0 0 * * *"              # Every Day at midnight
    user-activation: "0 0 0 * * *"                  # Every day at midnight
    user-deactivation: "0 0 0 * * *"                # Every day at midnight
    user-feed: "0 0 0 * * *"                        # Every day at midnight
    wpp-monthly-earning-calculator: "0 0 5 2 * *"   # Every 2nd of each month at 5AM
    wpp-daily-earning-calculator: "0 0 5 * * *"     # Every day at 5AM

  readability:
    score-threshold: 50
    max-sentences-per-paragraph: 3
    max-words-per-sentence: 25
    min-paragraph-per-document: 3

  website:
    url: "http://localhost:8081"

  toggles:
    discount-donation: true
