<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="alert alert-danger container margin-top" th:if="${error}" th:text="#{'error.' + ${error}}">Error</div>

<div class="alert alert-danger container margin-top hidden" id="story-load-error">
    <div class="not-found hidden" th:utext="#{story.error.not-found}"></div>
    <div class="permission-denied hidden" th:utext="#{story.error.permission-denied}"></div>
    <div class="unknown hidden" th:utext="#{story.error.load}"></div>
</div>

<div class="container editor border border-rounded margin-top" id="story-editor">

    <div class="row border-bottom">
        <div class="col-12 padding">
            <div class="hidden float-start margin-right" id="story-status-draft" th:text="#{story.status.draft}"></div>
            <div class="hidden float-start margin-right" id="story-status-published"
                 th:text="#{story.status.published}"></div>
            <div class="float-start hidden" id="save-status" th:text="#{label.saving}">Saving...</div>

            <div aria-label="Basic example" class="btn-group float-end" role="group">
                <button class="btn btn-primary btn-sm" id="btn-save" th:text="#{button.save}">Save</button>
                <button class="btn btn-secondary btn-sm" id="btn-publish" th:text="#{button.publish}">Publish</button>
                <button class="btn btn-light btn-sm" id="btn-close" th:text="#{button.close}">Close</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-warning flex margin-top text-center border border-rounded">
                <img class="margin-right" height="32" th:src="${page.assetUrl} + '/assets/wutsi/img/help.png'"
                     width="32"/>
                <a href="https://www.wutsi.com/read/72692/comprendre-l-editeur-de-texte-de-wutsi" target="_new"
                   th:text="#{page.editor.help}">
                    Learn about how to use the editor
                </a>
            </div>
        </div>
    </div>

    <div class="row border-bottom">
        <div class="col-12 title-container">
            <textarea autocomplete="off" id="title" maxlength="200" name="title" rows="3"
                      th:placeholder="#{page.editor.title}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-12 editorjs-container">
            <div id="editorjs"></div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/raw@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@ikbenbas/editorjs-button@latest"></script>

<script th:src="${page.assetUrl} + '/assets/wutsi/js/wutsi-editorjs-16.js'"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener("DOMContentLoaded", function () {
        const editor = new WutsiEJS('editorjs');
        console.log('templates.page.editor', editor);
        editor.setup( /*[[${storyId}]]*/'0');
    });

    /*]]>*/
</script>

<div th:replace="~{components/layout :: footer}"></div>
</body>

</html>
