<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container margin-top-2x">
    <div class="row">
        <div>
            <div>
                <a href="/me/stats/user">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span th:text="#{navbar.stats}">Statistics</span>
                </a>
            </div>
            <h1>
                <span th:text="#{label.story}">Story</span>:
                <span th:text="${story.title}">Title</span>
            </h1>
            <div>
                <span th:text="#{page.stats.story.published_on(${story.publishedDateTime})}">Published on</span>
                -
                <span th:text="#{story.read_time(${story.readingMinutes})}">6 min</span>
            </div>
            <div>
                <a th:href="${story.user.slug}">
                    <img class="author-picture-small" th:if="${story.user.pictureSmallUrl}"
                         th:src="${story.user.pictureSmallUrl}"/>
                    <span th:text="${story.user.fullName}">Ray Sponsible</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-12 col-md-3">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.views}">Views</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${story.readCountText}">0</b>
                </div>
                <div class="text-small text-left">
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.open_rate}">Open Rate</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${story.openRatePercent}">0</b>
                </div>
                <div class="text-small text-left">
                    <div>
                        <b th:text="${story.emailReaderCount}">2000</b>
                        <span th:text="#{label.opens}">Opens</span>
                    </div>
                    <div>
                        <b th:text="${story.recipientCount}">2</b>
                        <span th:text="#{label.recipients}">Recipients</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.click_rate}">Click Rate</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${story.clickRatePercent}">5%</b>
                </div>
                <div class="text-small text-left">
                    <div>
                        <b th:text="${story.clickCount}">1</b> <span th:text="#{label.clicks}">Clicks</span>
                    </div>
                    <div>
                        <b th:text="${story.readerCount}">1</b> <span th:text="#{label.readers}">Readers</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.read_time}">Read Time</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${story.totalDurationText}">50</b>
                </div>
                <div class="text-small text-left">
                    <div>
                        <b th:text="${story.averageDurationText}">1</b>
                        <span th:text="#{label.average_read_time}">Average Read Tim</span>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-12">
            <div class="padding border  border-rounded box-filled-white">
                <table class="table table-striped">
                    <tr>
                        <td align="right">
                            <b class="text-larger highlight" th:text="${story.subscriberCountText}">
                                10
                            </b>
                        </td>
                        <td th:text="#{page.stats-story.engagement-subscriber}" valign="middle">
                            readers(s) subscribed to your blog after reading this story
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <b class="text-larger highlight" th:text="${story.likeCountText}">
                                10
                            </b>
                        </td>
                        <td th:text="#{page.stats-story.engagement-like}" valign="middle">
                            readers(s) liked this story
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <b class="text-larger highlight" th:text="${story.commentCountText}">
                                10
                            </b>
                        </td>
                        <td th:text="#{page.stats-story.engagement-comment}" valign="middle">
                            readers(s) commented on this story
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <b class="text-larger highlight" th:text="${story.shareCountText}">
                                10
                            </b>
                        </td>
                        <td th:text="#{page.stats-story.engagement-share}" valign="middle">
                            readers(s) commented on this story
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="margi" th:classappend="${wallet} ? 'container-fluid' : 'container'">
    <div class="row margin-top">
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'">
            <div
                th:replace="~{components/kpi :: chart('read', #{label.views}, '/me/stats/story/chart/read?story-id=' + ${story.id}, 600, 300)}"></div>
            <div
                th:replace="~{components/kpi :: chart('read-time', #{label.read_time}, '/me/stats/story/chart/read-time?story-id=' + ${story.id}, 600, 300)}">
            </div>
        </div>
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'">
            <div
                th:replace="~{components/kpi :: table('source', #{label.traffic_source}, '/me/stats/story/source?story-id=' + ${story.id}, 300)}"></div>

            <div
                th:replace="~{components/kpi :: table('reader', #{label.readers}, '/me/stats/story/readers?story-id=' + ${story.id}, 300)}"></div>
        </div>
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'" th:if="${wallet}">
            <div
                th:replace="~{components/kpi :: chart('wpp', #{label.wpp} + ' - ' + ${wallet.country.currencySymbol}, '/me/stats/story/chart/wpp?story-id=' + ${story.id}, 600, 300)}"></div>
        </div>
    </div>
</div>


<div th:replace="~{components/layout :: footer}"></div>
<div th:replace="~{components/kpi :: tui-chart}"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        $('[data-bs-toggle="popover"]').popover();

        refresh_chart('chart-area-read', '/me/stats/story/chart/read?period=l30&story-id=' + /*[[${story.id}]]*/'0');
        refresh_chart('chart-area-read-time', '/me/stats/story/chart/read-time?period=l30&story-id=' + /*[[${story.id}]]*/'0');
        $('#table-source').load('/me/stats/story/source?period=l30&story-id=' + /*[[${story.id}]]*/'0')
        $('#table-reader').load('/me/stats/story/readers?story-id=' + /*[[${story.id}]]*/'0')

        const monetization = /*[[${wallet}]]*/ false;
        if (monetization) {
            refresh_chart('chart-area-wpp', '/me/stats/story/chart/wpp?period=l30&story-id=' + /*[[${story.id}]]*/'0');
        }

        $('.nav-link').click(function () {
            const parent = $(this).parents('ul.nav-pills');
            parent.find('.nav-link').removeClass('active');
            $(this).addClass('active');

            const target = $(this).attr('data-target');
            const url = $(this).attr('data-url');
            console.log('>>>>', target, url);
            if (target === 'table-stories' || target === 'table-source') {
                $('#' + target).load(url);
            } else if (target) {
                refresh_chart(target, url);
            }
        });
    });
</script>

</body>

</html>
