<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container margin-top-2x">
    <div class="row">
        <div class="col-12 main-content border border-rounded">
            <div class="padding">
                <h1>
                    <span th:text="#{label.story}">Story</span>:
                    <span th:text="${story.title}">Title</span>
                </h1>
                <div>
                    <span th:text="#{page.stats.story.published_on(${story.publishedDateTime})}">Published on</span>
                    -
                    <span th:text="#{story.read_time(${story.readingMinutes})}">6 min</span>
                </div>
            </div>

            <!-- Overall Stats -->
            <div class="row margin-top">
                <div class="col-12 col-md-2 offset-md-3" id="kpi-overview-like">
                    <div class="text-center padding border border-rounded box-filled-white">
                        <div class="highlight text-larger">
                            <b th:text="${story.likeCountText}">0</b>
                        </div>
                        <div th:text="#{label.likes}">Likes</div>
                    </div>
                </div>
                <div class="col-12 col-md-2" id="kpi-overview-comment">
                    <div class="text-center padding border border-rounded box-filled-white">
                        <div class="highlight text-larger">
                            <b th:text="${story.commentCountText}">0</b>
                        </div>
                        <div th:text="#{label.comments}">Comments</div>
                    </div>
                </div>
                <div class="col-12 col-md-2" id="kpi-overview-share">
                    <div class="text-center padding border border-rounded box-filled-white">
                        <div class="highlight text-larger">
                            <b th:text="${story.shareCountText}">0</b>
                        </div>
                        <div th:text="#{label.shares}">Shares</div>
                    </div>
                </div>
            </div>

            <!-- Tabs -->
            <nav class="margin-top">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button aria-controls="nav-home" aria-selected="true" class="nav-link active"
                            data-bs-target="#nav-read"
                            data-bs-toggle="tab" id="nav-read-tab" role="tab" type="button">

                        <div class="text-center padding" id="kpi-overview-read">
                            <div class="text-larger">
                                <b th:text="${story.readCountText}">0</b>
                            </div>
                            <div th:text="#{label.views}">Views</div>
                        </div>

                    </button>
                    <button aria-controls="nav-traffic" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-traffic"
                            data-bs-toggle="tab" id="nav-traffic-tab" role="tab" type="button">

                        <div class="text-center padding" id="kpi-overview-traffic">
                            <div th:text="#{label.traffic_source}">Traffic Source</div>
                        </div>

                    </button>
                    <button aria-controls="nav-reader" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-reader"
                            data-bs-toggle="tab" id="nav-reader-tab" role="tab" type="button">

                        <div class="text-center padding" id="kpi-overview-reader">
                            <div class="text-larger">
                                <b th:text="${story.subscriberReaderPercent}">55%</b>
                            </div>
                            <div th:text="#{label.subscribers}">% of Subscribers</div>
                        </div>
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div aria-labelledby="nav-read-tab" class="tab-pane fade show active" id="nav-read" role="tabpanel">
                    <div id="chart-area-read"></div>
                </div>
                <div aria-labelledby="nav-traffic-tab" class="tab-pane fade" id="nav-traffic" role="tabpanel">
                    <div id="chart-area-traffic"></div>
                </div>
                <div aria-labelledby="nav-reader-tab" class="tab-pane fade" id="nav-reader" role="tabpanel">
                    <div class="padding">
                        <table class="table table-striped">
                            <tr th:if="${superUser}">
                                <td align="right">
                                    <b class="highlight text-larger">
                                        <span th:text="${story.subscriberReaderPercent}">88</span>
                                        %
                                    </b>
                                </td>
                                <td th:text="#{page.stats-story.subscriber-reader-description}">
                                    of your subscriber(s) read this story
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="1%">
                                    <b class="highlight text-larger" th:text="${story.recipientCountText}">505%</b>
                                </td>
                                <td th:text="#{page.stats-story.recipient-description}">
                                    subscriber(s) received this story by email
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="overflow-scroll padding" id="table-reader" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

<link href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css" rel="stylesheet">
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.min.js"></script>
<script th:inline="javascript">
    function refresh_chart(id, url, type) {
        wutsi.httpGet(url, true)
            .then(function (data) {
                const container = document.getElementById(id);
                const options = {
                    chart: {
                        width: 800,
                        height: 400,
                        title: '',
                        format: '1,000'
                    },
                    series: {
                        showLabel: false
                    },
                    chartExportMenu: {
                        visible: false
                    },
                    legend: {
                        visible: false,
                        showCheckbox: false
                    }
                };
                if (type == 'bar') {
                    tui.chart.barChart(container, data, options);
                } else {
                    tui.chart.columnChart(container, data, options);
                }
            })
    }

    $(document).ready(function () {
        refresh_chart('chart-area-read', '/me/stats/story/chart/read?story-id=' + /*[[${story.id}]]*/'0', 'chart');
        refresh_chart('chart-area-traffic', '/me/stats/story/chart/source?story-id=' + /*[[${story.id}]]*/'0', 'bar');
        $('#table-reader').load('/me/stats/story/readers?story-id=' + /*[[${story.id}]]*/'0')
        $('[data-bs-toggle="popover"]').popover();
    });
</script>

</body>

</html>
