<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container margin-top-2x">
    <div class="row">
        <div>
            <h1 th:text="#{page.stats.title}">My Stats</h1>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-12 col-md-2 offset-md-2">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.views}">Views</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${user.readCountText}">0</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.read_time}">Read Time</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${user.totalDurationText}">0</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.subscribers}">Subscribers</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${user.subscriberCountText}">5%</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="text-center padding border border-rounded box-filled-white">
                <a href="/me/stats/leader">
                    <div class="highlight text-larger">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                    <div class="text-small">
                        <b th:text="#{label.leaders}">Leader Board</b>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row margin-top" th:if="${wallet} AND ${toggles.monetization}">
        <div class="col-12 col-md-2" th:classappend="${store} ? 'offset-md-3' : 'offset-md-4'">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.balance}">Balance</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${wallet.balanceText}">22,000 FCFA</b>
                    <span class="text-small" th:text="${wallet.country.currencySymbol}">FCFA</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.donations}">Donation</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${wallet.donationCountText}">5</b>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2" th:if="${store} AND ${toggles.store}">
            <div class="text-center padding border border-rounded box-filled-white">
                <div class="text-small">
                    <span th:text="#{label.sales}">Sales</span>
                </div>
                <div class="highlight text-larger">
                    <b th:text="${store.orderCount}">5</b>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top" th:if="${wallet} AND ${toggles.monetization}">
        <div class="col-12 text-center margin-top" id="btn-transaction">
            <a class="btn btn-primary" href="/me/transactions"
               th:text="#{button.view_transactions}">Transactions</a>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-warning flex margin-none text-center border border-rounded">
                <img class="margin-right" height="32" th:src="${page.assetUrl} + '/assets/wutsi/img/help.png'"
                     width="32"/>
                <a href="https://www.wutsi.com/read/68411/comprendre-les-statistiques-de-votre-blog" target="_new"
                   th:text="#{page.stats.help}">
                    Learn about how to use the editor
                </a>
            </div>
        </div>
    </div>
</div>

<div th:classappend="${wallet} ? 'container-fluid' : 'container'">
    <div class="row">
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'">
            <div
                    th:replace="~{components/kpi :: chart('read', #{label.views}, '/me/stats/user/chart/read?', 600, 300)}"></div>
            <div
                    th:replace="~{components/kpi :: chart('read-time', #{label.read_time}, '/me/stats/user/chart/read-time?', 600, 300)}"></div>
        </div>
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'">
            <div
                    th:replace="~{components/kpi :: table('source', #{label.traffic_source}, '/me/stats/user/source?', 300)}"></div>
            <div
                    th:replace="~{components/kpi :: chart('subscription', #{label.subscribers}, '/me/stats/user/chart/subscription?', 600, 300)}"></div>
        </div>
        <div class="col-12" th:classappend="${wallet} ? 'col-md-4' : 'col-md-6'" th:if="${wallet}">
            <div
                    th:replace="~{components/kpi :: chart('wpp', #{label.wpp} + ' - ' + ${wallet.country.currencySymbol}, '/me/stats/user/chart/wpp?', 600, 300)}"></div>

            <div
                    th:replace="~{components/kpi :: chart('donation', #{label.donations} + ' - ' + ${wallet.country.currencySymbol}, '/me/stats/user/chart/donation?', 600, 300)}"></div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row margin-top">
        <div class="col-12">
            <div
                    th:replace="~{components/kpi :: table('stories', #{label.stories}, '/me/stats/user/stories?', 600)}"></div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
<div th:replace="~{components/kpi :: tui-chart}"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        refresh_chart('chart-area-read', '/me/stats/user/chart/read?period=l30', 'column');
        refresh_chart('chart-area-read-time', '/me/stats/user/chart/read-time?period=l30', 'column');
        refresh_chart('chart-area-subscription', '/me/stats/user/chart/subscription?period=l30', 'column');
        $('#table-stories').load('/me/stats/user/stories?period=l30')
        $('#table-source').load('/me/stats/user/source?period=l30')
        $('#subscriber-icons').load('/me/stats/user/subscribers');

        const monetization = /*[[${wallet}]]*/ false;
        if (monetization) {
            refresh_chart('chart-area-wpp', '/me/stats/user/chart/wpp?period=l30');
            refresh_chart('chart-area-donation', '/me/stats/user/chart/donation?period=l30');
        }

        $('.nav-link').click(function () {
            const parent = $(this).parents('ul.nav-pills');
            parent.find('.nav-link').removeClass('active');
            $(this).addClass('active');

            const target = $(this).attr('data-target');
            const url = $(this).attr('data-url');
            if (target === 'table-stories' || target === 'table-source') {
                $('#' + target).load(url);
            } else if (target) {
                refresh_chart(target, url, 'column');
            }
        });
    });
</script>

</body>

</html>
