<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container margin-top-2x">
    <div class="row">
        <div>
            <div>
                <a href="/me/stats/user">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span th:text="#{navbar.stats}">Statistics</span>
                </a>
            </div>
            <h1>
                <span th:text="#{label.story}">Story</span>:
                <span th:text="${story.title}">Title</span>
            </h1>
            <div>
                <span th:text="#{page.stats.story.published_on(${story.publishedDateTime})}">Published on</span>
                -
                <span th:text="#{story.read_time(${story.readingMinutes})}">6 min</span>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-12 col-md-3">
                <div class="text-center padding border border-rounded box-filled-white">
                    <div class="text-small">
                        <span th:text="#{label.views}">Views</span>
                    </div>
                    <div class="highlight text-larger">
                        <b th:text="${story.readCountText}">0</b>
                    </div>
                    <div class="text-small text-left">
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center padding border border-rounded box-filled-white">
                    <div class="text-small">
                        <span th:text="#{label.open_rate}">Open Rate</span>
                    </div>
                    <div class="highlight text-larger">
                        <b th:text="${story.openRatePercent}">0</b>
                    </div>
                    <div class="text-small text-left">
                        <div>
                            <b th:text="${story.emailReaderCount}">2000</b>
                            <span th:text="#{label.opens}">Opens</span>
                        </div>
                        <div>
                            <b th:text="${story.recipientCount}">2</b>
                            <span th:text="#{label.recipients}">Recipients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center padding border border-rounded box-filled-white">
                    <div class="text-small">
                        <span th:text="#{label.click_rate}">Click Rate</span>
                    </div>
                    <div class="highlight text-larger">
                        <b th:text="${story.clickRatePercent}">5%</b>
                    </div>
                    <div class="text-small text-left">
                        <div>
                            <b th:text="${story.clickCount}">1</b> <span th:text="#{label.clicks}">Clicks</span>
                        </div>
                        <div>
                            <b th:text="${story.readerCount}">1</b> <span th:text="#{label.readers}">Readers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="text-center padding border border-rounded box-filled-white">
                    <div class="text-small">
                        <span th:text="#{label.read_time}">Read Time</span>
                    </div>
                    <div class="highlight text-larger">
                        <b th:text="${story.totalDurationText}">50</b>
                    </div>
                    <div class="text-small text-left">
                        <div>
                            <b th:text="${story.averageDurationText}">1</b>
                            <span th:text="#{label.average_read_time}">Average Read Tim</span>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-12">
                <div class="padding border  border-rounded box-filled-white">
                    <table class="table table-striped">
                        <tr>
                            <td align="right">
                                <b class="text-larger highlight" th:text="${story.subscriberCountText}">
                                    10
                                </b>
                            </td>
                            <td th:text="#{page.stats-story.engagement-subscriber}" valign="middle">
                                readers(s) subscribed to your blog after reading this story
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <b class="text-larger highlight" th:text="${story.likeCountText}">
                                    10
                                </b>
                            </td>
                            <td th:text="#{page.stats-story.engagement-like}" valign="middle">
                                readers(s) liked this story
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <b class="text-larger highlight" th:text="${story.commentCountText}">
                                    10
                                </b>
                            </td>
                            <td th:text="#{page.stats-story.engagement-comment}" valign="middle">
                                readers(s) commented on this story
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <b class="text-larger highlight" th:text="${story.shareCountText}">
                                    10
                                </b>
                            </td>
                            <td th:text="#{page.stats-story.engagement-share}" valign="middle">
                                readers(s) commented on this story
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-12 col-md-6">
                <div class="padding border  border-rounded box-filled-white">
                    <h6 th:text="#{label.views}">Views</h6>
                    <ul class="nav nav-pills margin-top" id="nav-pills-read">
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link active" data-target="chart-area-read"
                                    id="pill-read-l30"
                                    th:data-url="'/me/stats/story/chart/read?period=l30&story-id=' + ${story.id}"
                                    th:text="#{label.last_30d}">
                                Last 30 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="chart-area-read"
                                    id="pill-read-l90"
                                    th:data-url="'/me/stats/story/chart/read?period=l90&story-id=' + ${story.id}"
                                    th:text="#{label.last_90d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="chart-area-read"
                                    id="pill-read-l180"
                                    th:data-url="'/me/stats/story/chart/read?period=l1800&story-id=' + ${story.id}"
                                    th:text="#{label.last_180d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-target="chart-area-read"
                                    id="pill-read-overall"
                                    th:data-url="'/me/stats/story/chart/read?story-id=' + ${story.id}"
                                    th:text="#{label.overall}">
                                Overall
                            </button>
                        </li>
                    </ul>
                    <div id="chart-area-read"></div>
                </div>

                <div class="padding border border-rounded box-filled-white margin-top">
                    <h6>
                        <span th:text="#{label.read_time}">Read Time</span>
                        -
                        <span th:text="#{label.hours}">Hours</span>
                    </h6>
                    <ul class="nav nav-pills margin-top" id="nav-pills-read-time">
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link active" data-target="chart-area-read-time"
                                    id="pill-read-time-l30"
                                    th:data-url="'/me/stats/story/chart/read-time?period=l30&story-id=' + ${story.id}"
                                    th:text="#{label.last_30d}">
                                Last 30 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="chart-area-read-time"
                                    id="pill-read-time-l90"
                                    th:data-url="'/me/stats/story/chart/read-time?period=l90&story-id=' + ${story.id}"
                                    th:text="#{label.last_90d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="chart-area-read-time"
                                    id="pill-read-time-l180"
                                    th:data-url="'/me/stats/story/chart/read-time?period=l180&story-id=' + ${story.id}"
                                    th:text="#{label.last_180d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-target="chart-area-read-time"
                                    id="pill-read-time-overall"
                                    th:data-url="'/me/stats/story/chart/read-time?story-id=' + ${story.id}"
                                    th:text="#{label.overall}">
                                Overall
                            </button>
                        </li>
                    </ul>
                    <div id="chart-area-read-time"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="padding border border-rounded box-filled-white">
                    <h6 th:text="#{label.traffic_source}">Traffic Source</h6>
                    <ul class="nav nav-pills margin-top" id="nav-pills-source">
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link active" data-target="table-source"
                                    id="pill-source-l30"
                                    th:data-url="'/me/stats/story/source?period=l30&story-id=' + ${story.id}"
                                    th:text="#{label.last_30d}">
                                Last 30 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="table-source"
                                    id="pill-source-l90"
                                    th:data-url="'/me/stats/story/source?period=l90&story-id=' + ${story.id}"
                                    th:text="#{label.last_90d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button aria-current="page" class="nav-link" data-target="table-source"
                                    id="pill-source-l180"
                                    th:data-url="'/me/stats/story/source?period=l180&story-id=' + ${story.id}"
                                    th:text="#{label.last_180d}">
                                Last 90 days
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-target="table-source"
                                    id="pill-source-overall"
                                    th:data-url="'/me/stats/story/source?story-id=' + ${story.id}"
                                    th:text="#{label.overall}">
                                Overall
                            </button>
                        </li>
                    </ul>
                    <div class="margin-top" id="table-source"></div>
                </div>

                <div class="padding border border-rounded box-filled-white margin-top">
                    <h6 th:text="#{label.readers}">Readers</h6>
                    <div class="overflow-scroll margin-top" id="table-reader" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>

<link href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css" rel="stylesheet">
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.min.js"></script>
<script th:inline="javascript">
    function refresh_chart(id, url, type) {
        $('#' + id).html('');
        wutsi.httpGet(url, true)
            .then(function (data) {
                const container = document.getElementById(id);
                const options = {
                    chart: {
                        width: 600,
                        height: 300,
                        title: '',
                        format: '1,000'
                    },
                    series: {
                        showLabel: false
                    },
                    chartExportMenu: {
                        visible: false
                    },
                    legend: {
                        visible: false,
                        showCheckbox: false
                    }
                };
                if (type === 'bar') {
                    tui.chart.barChart(container, data, options);
                } else {
                    tui.chart.columnChart(container, data, options);
                }
            })
    }

    $(document).ready(function () {
        $('[data-bs-toggle="popover"]').popover();

        refresh_chart('chart-area-read', '/me/stats/story/chart/read?period=l30&story-id=' + /*[[${story.id}]]*/'0', 'chart');
        refresh_chart('chart-area-read-time', '/me/stats/story/chart/read-time?period=l30&story-id=' + /*[[${story.id}]]*/'0', 'chart');
        $('#table-source').load('/me/stats/story/source?period=l30&story-id=' + /*[[${story.id}]]*/'0')
        $('#table-reader').load('/me/stats/story/readers?story-id=' + /*[[${story.id}]]*/'0')


        $('.nav-link').click(function () {
            const parent = $(this).parents('ul.nav-pills');
            parent.find('.nav-link').removeClass('active');
            $(this).addClass('active');

            const target = $(this).attr('data-target');
            const url = $(this).attr('data-url');
            console.log('>>>>', target, url);
            if (target === 'table-stories' || target === 'table-source') {
                $('#' + target).load(url);
            } else if (target) {
                refresh_chart(target, url);
            }
        });
    });
</script>

</body>

</html>
