<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container margin-top-2x">
    <div class="row" th:if="${wpp.color} != 'green' AND ${user.wpp}">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="alert alert-secondary flex">
                <img class="margin-right margin-top" height="32"
                     th:src="${page.assetUrl} + '/assets/wutsi/img/warning.png'"
                     width="32"/>
                <div>
                    <div>
                        <span
                                th:text="#{page.story.publish.your_quality_score}">
                            The quality score of your publication
                        </span>
                        :
                        <b th:class="'wpp-score wpp-' + ${wpp.color}">
                            <span th:text="${wpp.score}">99</span>
                            <span>%</span>
                        </b>
                    </div>
                    <div th:utext="#{page.story.publish.your_quality_score_message(${wpp.penalty})}">
                        Having a score below <b>90%</b> will impact your Wutsi Partner Program gains.
                    </div>
                    <div>
                        <a href="https://www.wutsi.com/read/72773/comprendre-le-score-de-qualite-de-wutsi"
                           target="_new" th:utext="#{page.story.publish.your_quality_score_lear_more}">
                            Learn more about quality score
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 main-content col-md-8 border border-rounded padding-2x">

            <!-- Wizard -->
            <div class="margin-top-2x text-center">
                <div th:replace="components/story :: wizard(3, 2)"></div>
                <h1 th:text="#{page.story.publish.header1}">Title</h1>
                <h4 th:text="#{page.story.publish.tag}">Summary</h4>
            </div>

            <!-- Error -->
            <div class="alert alert-danger"
                 th:if="${error}"
                 th:text="#{error.publish_error}"
            >Error
            </div>

            <!-- Publish Form -->
            <form action="/me/story/tag/submit" autocomplete="off" class="margin-top-2x" id="form-publish" method="get">
                <input name="id" th:value="${story.id}" type="hidden"/>

                <div class="form-group">
                    <label><span th:text="#{page.story.publish.title}">Title</span> <b class="required">*</b></label>
                    <input class="form-control" id="title" maxlength="200" name="title" required="required"
                           th:value="${story.title}"/>
                </div>

                <div class="form-group margin-top">
                    <label th:text="#{page.story.publish.tagline}">Tagline</label>
                    <input class="form-control" id="tagline" maxlength="200" name="tagline"
                           th:value="${story.tagline}"/>
                    <small class="form-text text-muted" th:text="#{page.story.publish.tagline.hint}">Help Text</small>
                </div>

                <div class="form-group margin-top">
                    <label><span th:text="#{page.story.publish.summary}">Summary</span> <b
                            class="required">*</b></label>
                    <textarea class="form-control" id="summary" maxlength="255" name="summary" required="required"
                              rows="3"
                              th:text="${story.summary}"></textarea>
                    <small class="form-text text-muted" th:utext="#{page.story.publish.summary.hint}">Help Text</small>
                </div>

                <div class="form-group margin-top">
                    <label><span th:text="#{page.story.publish.topic.info}">Information</span> <b class="required">*</b></label>
                    <select class="form-control" id="topic-id" name="topicId" required="required">
                        <option value=""></option>
                        <option
                                th:attrappend="selected = ${topic.id} == ${story.topic.id} ? selected"
                                th:each="topic : ${topics}"
                                th:text="${topic.displayName}"
                                th:value="${topic.id}"
                        >Topic
                        </option>
                    </select>
                </div>

                <div class="form-group margin-top">
                    <label><span th:text="#{page.story.publish.tag.info}">Information</span> <b
                            class="required">*</b></label>
                    <select class="form-control" id="tags" multiple="multiple" name="tags" required="required">
                        <option selected="selected" th:each="tag : ${story.tags}" th:text="${tag.displayName}"
                                th:value="${tag.displayName}">
                            Tag
                        </option>
                    </select>
                </div>

                <div class="form-group margin-top" th:if="${toggles.monetization}">
                    <label th:text="#{page.story.publish.access}">Who can read the Story?</label>
                    <select class="form-control" id="access" name="access">
                        <option th:attrappend="selected = ${story.access.name()} == 'PUBLIC' ? selected"
                                th:text="#{story.access.PUBLIC}"
                                value="PUBLIC">
                            Everybody
                        </option>
                        <option th:attrappend="selected = ${story.access.name()} == 'SUBSCRIBER' ? selected"
                                th:text="#{story.access.SUBSCRIBER}"
                                value="SUBSCRIBER">
                            My Subscribers ONLY
                        </option>
                        <option th:attrappend="selected = ${story.access.name()} == 'DONOR' ? selected"
                                th:if="${story.user.walletId}"
                                th:text="#{story.access.DONOR}"
                                value="DONOR">
                            My Donors ONLY
                        </option>
                    </select>
                </div>

                <div class="form-group margin-top" th:if="${story.draft}">
                    <label th:text="#{page.story.publish.schedule.info}">When do you want to publish?</label>
                    <div class="form-check  margin-left">
                        <input class="form-check-input" id='publish-now-radio' name="publishNow"
                               th:attrappend="checked = ${publishNow} ? checked"
                               type="radio"
                               value="true"
                        />
                        <label class="form-check-label" th:text="#{page.story.publish.schedule.publish_now}">Now</label>
                    </div>
                    <div class="form-check margin-left">
                        <input class='form-check-input' id='publish-later-radio' name="publishNow"
                               th:attrappend="checked = !${publishNow} ? checked"
                               type="radio"
                               value="false"
                        />
                        <label class="form-check-label">
                            <span id="publish-later-label"
                                  th:text="#{page.story.publish.schedule.publish_later}">Later</span>
                            <span class="required" id='publish-later-required'>*</span>
                            <input class="form-control" id="scheduled-publish-date" name="scheduledPublishDate"
                                   placeholder="yyyy-mm-dd"
                                   th:min="${minScheduledPublishDate}"
                                   th:value="${scheduledPublishDate}"
                                   type="date"
                            />
                        </label>
                    </div>
                </div>

                <!-- Toolbar -->
                <div class="margin-top padding-top">
                    <a class="btn btn-light float-start" id="btn-previous"
                       th:href="'/me/story/' + ${story.id} + '/readability'"
                       th:text="#{button.previous}">Previous</a>

                    <button class="float-end btn btn-primary" id="btn-publish" type="submit">
                        <span th:if="${story.draft}" th:text="#{button.publish}"></span>
                        <span th:if="${story.published}" th:text="#{button.save}"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <div class="border border-rounded content-sidebar" id="sidebar-info">
                <table class="table table-striped margin-none border border-rounded">
                    <tr>
                        <td th:text="#{label.readability}">Readability</td>
                        <td>
                            <div th:class="'readability-score readability-' + ${readability.color}">
                                <span th:text="${story.readabilityScore}">99</span>
                                <span>%</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td th:label="#{label.word_count}">Word Count</td>
                        <td>
                            <span th:text="${story.wordCount}">1000</span>
                            <span th:text="#{label.word_s}">word(s)</span>
                        </td>
                    </tr>
                    <tr>
                        <td th:label="#{label.read_time}">Read Time</td>
                        <td>
                            <span th:text="${story.readingMinutes}">2</span>
                            <span th:text="#{label.minutes}">min</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="border border-rounded content-sidebar margin-top" id="sidebar-wpp">
                <table class="table table-striped margin-none border border-rounded">
                    <tr>
                        <td class="text-center" colspan="2">
                            <span th:text="#{label.quality_score}">Quality Score</span>:
                            <b class="wpp-score" th:classappend="'wpp-' + ${wpp.color}">
                                <span th:text="${wpp.score}">99</span>
                                <span>%</span>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.readabilityRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.readabilityRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-readability}">Readability</td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.thumbnailRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.thumbnailRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-thumbnail}">Thumbnail</td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.wordCountRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.wordCountRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-word-count(${WPPConfig.MIN_WORD_COUNT})}">Word Count</td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.subscriptionRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.subscriptionRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-subscriber(${WPPConfig.MIN_SUBSCRIBER_COUNT})}">
                            Subscribers
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.storyCountRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.storyCountRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-story_published(${WPPConfig.MIN_STORY_COUNT})}">
                            Story Count
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div th:if="${wpp.blogAgeRule}"><i class="fa-solid fa-check"></i></div>
                            <div th:if="!${wpp.blogAgeRule}"><i class="fa-solid fa-xmark error"></i></div>
                        </td>
                        <td th:utext="#{label.wpp-criteria-blog-age(${WPPConfig.MIN_AGE_MONTHS})}">Blog Age</td>
                    </tr>
                </table>
            </div>

            <div class="border border-rounded content-sidebar padding margin-top" id="story-preview">
                <h4 th:text="#{label.preview}">Preview</h4>

                <div>
                    <div th:replace="~{components/story :: story-card(${story}, false)}"></div>
                </div>
                <div class="margin-top">
                    <div th:replace="~{components/story :: story-summary-card(${story}, false)}"></div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('#story-preview a').removeAttr('href');
                    });
                </script>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $('#topic-id').select2();

    $('#tags').select2({
        ajax: {
            url: '/tag/search',
            dataType: 'json',
            delay: 1000,
            processResults: function (tags) {
                const xtags = tags.map(function (tag) {
                    return {
                        id: tag.displayName,
                        text: tag.totalStories == 0
                            ? tag.displayName
                            : tag.displayName + ' (' + tag.totalStories + ')'
                    }
                });
                return {
                    results: xtags
                };
            }
        },
        tokenSeparators: [','],
        minimumInputLength: 3,
        maximumSelectionLength: 5,
        tags: true
    });

    $('.form-check-input').click(function () {
        publish_now_changed();
        publish_social_media_change();
    });

    function publish_now_changed() {
        const publishNow = $('#publish-now-radio').is(':checked');
        console.log('publish-show changed', publishNow)

        if (publishNow) {
            $('#scheduled-publish-date').attr('disabled', 'disabled');
            $('#scheduled-publish-date').removeAttr('required');
            $('#publish-later-required').hide();
        } else {
            $('#scheduled-publish-date').removeAttr('disabled');
            $('#scheduled-publish-date').attr('required', 'required');
            $('#publish-later-required').show();
        }
    }

    function publish_social_media_change() {
        const publish = $('#publish-to-social-media-radio').is(':checked');
        if (publish) {
            $('#social-media-message').removeAttr('disabled');
        } else {
            $('#social-media-message').attr('disabled', 'disabled');
        }
    }

    $(document).ready(function () {
        publish_now_changed();
        publish_social_media_change();
    });
</script>
</html>
