{{#scope}}
[![](https://github.com/{{githubUser}}/wutsi-mono/actions/workflows/sdk-{{apiName}}-master.yml/badge.svg)](https://github.com/{{githubUser}}/wutsi-mono/actions/workflows/sdk-{{apiName}}-master.yml)

[![JDK](https://img.shields.io/badge/jdk-{{jdkVersion}}-brightgreen.svg)](https://jdk.java.net/{{jdkVersion}}/)
[![](https://img.shields.io/badge/maven-3.6-brightgreen.svg)](https://maven.apache.org/download.cgi)
![](https://img.shields.io/badge/language-kotlin-blue.svg)

Kotlin SDK of {{apiName}} API

{{/scope}}
