{{#scope}}
[![](https://github.com/{{githubUser}}/{{githubProject}}/actions/workflows/master.yml/badge.svg)](https://github.com/{{githubUser}}/{{githubProject}}/actions/workflows/master.yml)

![](https://img.shields.io/github/v/tag/{{githubUser}}/{{githubProject}})
[![JDK](https://img.shields.io/badge/jdk-{{jdkVersion}}-brightgreen.svg)](https://jdk.java.net/{{jdkVersion}}/)
[![](https://img.shields.io/badge/maven-3.6-brightgreen.svg)](https://maven.apache.org/download.cgi)
![](https://img.shields.io/badge/language-kotlin-blue.svg)

Kotlin SDK of {{apiName}} API

{{/scope}}
