<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-top-2x margin-bottom-4x">
        <div class="col-12 offset-md-1 col-md-10 margin-top-2x">

            <div class="main-content border padding-2x text-center margin-top-2x">
                <h1 class="margin-top" th:text="#{page.partner.join.header1}">Login</h1>
                <div class="margin-top" th:text="#{page.partner.join.description}"></div>

                <div class="margin-top-2x alert alert-primary text-center offset-md-3 col-md-6 col-12" th:if="${partner}">
                    <div><i class="fa fa-check-circle fa-2x"></i></div>
                    <div th:text="#{page.partner.join.already_member}">Text</div>
                </div>

                <div class="margin-top-2x text-center">
                    <a id="btn-payment" class="btn btn-primary" href="/partner/payment" th:text="#{button.setup_payment}">Setup Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>
</html>
