<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:lang="${page.language}">
<head>
    <div th:replace="components/layout :: head"></div>
</head>

<body>

<div th:replace="components/layout :: navbar"></div>

<div class="container">
    <div class="row margin-top-2x margin-bottom-4x">
        <div class="col-12 offset-md-3 col-md-6 margin-top-2x">

            <div class="main-content border padding-2x margin-top-2x">
                <h1 class="margin-top text-center" th:text="#{page.partner.payment.header1}">Login</h1>
                <div class="margin-top text-center" th:text="#{page.partner.payment.description}"></div>

                <div class="alert alert-danger margin-top" th:text="${error}" th:if="${error}">Error</div>

                <form id="form-payment" method="post" autocomplete="off" class="margin-top-2x"
                      th:action="@{/partner/payment}" th:object="${partner}"
                >
                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.country}">Country</label>
                        <select id="country" class="form-control" name="countryCode" required="required" th:field="*{countryCode}">
                            <option value=""></option>
                            <option
                                    th:value="${country.country}"
                                    th:text="${country.displayCountry}"
                                    th:each="country : ${countries}"
                            >Topic</option>
                        </select>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.country.help}">Help</small>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.mobile_number}">Name</label>
                        <input id="mobile-number" class="form-control" name="mobileNumber" required="required" th:field="*{mobileNumber}" maxlength="30"/>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.mobile_number.help}">Help</small>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.provider}">Provider</label>
                        <select id="mobile-provider" class="form-control" name="mobileProvider" required="required" th:field="*{mobileProvider}">
                            <option value=""></option>
                            <option value="mtn" th:if="${providers.contains('mtn')}">MTN Mobile Money</option>
                            <option value="orange" th:if="${providers.contains('orange')}">Orange Mobile Money</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.name}">Name</label>
                        <input id="full-name" class="form-control" name="fullName" required="required" th:field="*{fullName}" maxlength="100"/>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.name.help}">Help</small>
                    </div>

                    <div class="form-group">
                        <label th:text="#{page.partner.payment.form.email}">Email</label>
                        <input id="email" class="form-control" name="email" required="required" th:field="*{email}" maxlength="200"/>
                        <small class="form-text text-muted" th:text="#{page.partner.payment.form.email.help}">Help</small>
                    </div>

                    <!-- Toolbar -->
                    <div class="margin-top padding-top">
                        <button id="btn-submit" type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="components/layout :: footer"></div>


</body>
</html>
