<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container border main-content padding-2x story-list margin-top">
    <!-- Title -->
    <h1 th:text="#{page.store.import.header1}">Import Products</h1>

    <div class="margin-top-2x padding text-center">
        <div>Your file has been submitted, it will be processed soon.</div>
        <a class="btn btn-primary margin-top" href="/me/store/products" th:text="#{button.ok}">OK</a>
    </div>
</div>

</body>

</html>
