<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, ${user.slug})}"></div>

<div class="container">
    <div class="row margin-bottom-4x">
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">

            <div class="main-content border border-rounded padding-2x text-center">
                <div th:replace="~{components/story :: wizard(4, 1)}"></div>

                <h1 class="margin-top text-center" th:text="#{page.monetization.title}">Monetization</h1>
                <p class="margin-top text-center" th:utext="#{page.monetization.description}"></p>
                <div class="value-prop">
                    <ul class="margin-top">
                        <li>
                            <i class="fas fa-check"></i>
                            <span th:text="#{page.monetization.description_1}">
                            Receive donation from your reader
                        </span>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <span th:text="#{page.monetization.description_2}">
                            You offer paid subscriptions for your readers
                        </span>
                        </li>
                    </ul>
                </div>

                <div class="margin-top-2x">
                    <a class="btn btn-primary float-right" href="/me/settings/monetization/country" id="btn-next"
                       th:text="#{button.next}">
                        Next
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>
</html>
