<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div th:replace="component/layout :: merchant-profile(${merchant}, false, false)"></div>

        <form action="/donate/submit" method="POST"
              onsubmit="document.getElementById('btn-submit').disabled=true; return true">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 offset-md-3">
                    <div class="padding">
                        <h1 class="margin-bottom" th:utext="#{donate.title(${merchant.displayName})}">Support XXX</h1>

                        <div class="error alert alert-danger padding" th:if="${error}" th:text="${error}">Error</div>

                        <div class="margin-bottom">
                            <div th:replace="component/layout :: donation-amount(${merchant})"></div>
                        </div>

                        <input class="w-100" maxlength="100" name="displayName"
                               required="true"
                               th:placeholder="#{donate.displayName}"
                               th:value="${displayName}"
                        />

                        <input class="w-100 margin-top" id="email" maxlength="100" name="email"
                               required="true"
                               th:placeholder="#{donate.email}"
                               type="email"/>
                        <div class="hint" th:text="#{donate.email.hint}">Email hint online</div>

                        <input autocomplete="off" class="w-100" id="confirm" maxlength="100"
                               name="confirm"
                               required="true"
                               th:placeholder="#{donate.email-confirm}"
                               type="email"/>

                        <textarea class="w-100 margin-top" maxlength="255" name="notes"
                                  rows="2"
                                  th:placeholder="#{donate.notes}" th:text="${notes}"></textarea>

                        <div class="g-recaptcha margin-top margin-bottom"
                             th:data-sitekey="${page.recaptchaSiteKey}"
                             th:if="${page.recaptchaSiteKey}"
                        ></div>

                        <button class="btn btn-lg btn-primary w-100" id="btn-submit"
                                th:text="#{donate.submit(${merchant.fundraising.baseAmount})}"
                                type="submit" wutsi-track-event="donate">
                            Continue to Payment
                        </button>
                    </div>
                </div>
            </div>

            <input name="businessId" th:value="${merchant.businessId}" type="hidden"/>
        </form>
    </div>
</div>

<div th:replace="component/layout :: footer"></div>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    window.onload = function () {
        const email = document.getElementById("email");
        const confirm = document.getElementById("confirm");

        function confirm_email() {
            confirm.setCustomValidity("");
            if (email.value != confirm.value) {
                confirm.setCustomValidity(/*[[#{donate.email-confirm-error}]]*/ '');
            }
        }

        email.onchange = confirm_email;
        confirm.onkeyup = confirm_email;
    }

    /*]]>*/
</script>
</body>
</html>
