<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div th:replace="component/layout :: merchant-profile(${merchant}, false, false)"></div>

        <form action="/payment/submit" method="POST"
              onsubmit="document.getElementById('btn-submit').disabled=true; return true;">
            <div class="row">
                <div class="col-12">
                    <div class="border-top"></div>
                    <div class="padding-2x">
                        <h1 th:text="#{payment.title}">Payment Information</h1>

                        <table class="margin-top margin-bottom">
                            <tr>
                                <td class="padding-right" valign="top">
                                    <b>
                                        <span th:text="#{payment.from}">From</span>:
                                    </b>
                                </td>
                                <td>
                                    <div><b th:text="${order.customerName}">Ray Sponsible</b></div>
                                    <div th:text="${order.customerEmail}"></div>
                                </td>
                            </tr>
                        </table>

                        <div class="error alert alert-danger padding" th:if="${error}" th:text="${error}">Error</div>

                        <div>Enter your mobile phone number to complete the transaction</div>
                        <input class="w-100" id="phone-number" name="localPhoneNumber" required="true"/>

                        <div class="flex margin-bottom">
                            <img height="48" th:alt="${provider.name}" th:each="provider : ${mobileProviders}"
                                 th:src="${provider.logoUrl}"
                                 width="48"/>
                        </div>

                        <button class="btn btn-lg btn-primary w-100" id="btn-submit"
                                th:wutsi-track-value="${order.totalPriceValue}"
                                type="submit"
                                wutsi-track-event="payment"
                        >
                            <span th:if="${order.type} == 'DONATION'"
                                  th:text="#{payment.submit-donate(${order.totalPrice})}">Pay 30,000 FCFA</span>
                            <span th:if="${order.type} != 'DONATION'"
                                  th:text="#{payment.submit(${order.totalPrice})}"></span>
                        </button>
                    </div>
                </div>

                <input name="idempotencyKey" th:value="${idempotencyKey}" type="hidden"/>
                <input name="businessId" th:value="${merchant.businessId}" type="hidden"/>
                <input name="orderId" th:value="${order.id}" type="hidden"/>
            </div>
        </form>
    </div>
</div>

<div th:replace="component/layout :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var input = document.querySelector('#phone-number');
    window.intlTelInput(input, {
        initialCountry: /*[[${order.business.country}]]*/ '',
        hiddenInput: "phoneNumber"
    });

    /*]]>*/
</script>
</body>
</html>
