<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div th:replace="component/layout :: merchant-profile(${merchant}, false, false)"></div>

        <div class="row">
            <div class="col-12">
                <div class="tx-status tx-pending padding-2x text-center">
                    <h3 class="padding-2x" th:text="#{processing.pending.title}">Processing Payment</h3>

                    <i class="fa-solid fa-rotate fa-spin"></i>

                    <div class="padding-2x">
                        <div th:text="#{processing.pending.message}">Please wait while we are processing your
                            transaction.
                        </div>
                    </div>
                </div>

                <div class="tx-status tx-expired padding-2x text-center" style="display: none">
                    <h3 class="padding-2x" th:text="#{processing.expired.title}">Error!</h3>

                    <div class="padding-2x">
                        <div th:utext="#{processing.expired.message(${tx.email})}">Your payment failed.</div>
                    </div>

                    <a class="btn btn-primary" th:href="${merchant.url}" th:text="#{processing.expired.button}">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="component/layout :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const url = /*[[${transactionUrl}]]*/ '';
    const transactionId = /*[[${tx.id}]]*/ '';
    const idempotencyKey = /*[[${idempotencyKey}]]*/ '';
    var retries = -1;

    function load_transaction() {
        retries++;
        console.log(retries + ' - Loading transaction...');

        jQuery.getJSON(url, function (tx) {

            if (retries >= 2) {

                jQuery('.tx-pending').hide();
                jQuery('.tx-expired').show();

            } else if (tx.status === 'SUCCESSFUL') {

                window.location.href = '/success?t=' + transactionId;

            } else if (tx.status === 'FAILED') {

                window.location.href = '/payment?e=1000012&o=' + tx.orderId + '&code=' + tx.errorCode + '&i=' + idempotencyKey;

            } else {

                // Reload in 30 secs
                setTimeout(load_transaction, 30 * 1000);

            }
        });
    }

    // Get Status after 10 secs
    setTimeout(load_transaction, 10 * 1000);

    /*]]>*/
</script>

</body>
</html>
