<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>
<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div th:replace="component/layout :: merchant-profile(${member}, true, true)"></div>
        <div th:replace="component/layout :: toolbar(${member})"></div>

        <div th:replace="component/layout :: tabs(${member}, 'home')"></div>

        <div class="row">
            <!-- Donation -->
            <div class="col-12 col-md-6 col-lg-4" th:if="${member.fundraising}">
                <div
                    class="padding margin border donation-box box-filled-highlight-light border-highlight"
                    id="donation">
                    <h2 class="margin-bottom" th:utext="#{profile.donate.title(${member.displayName})}">Support Ray
                        Sponsible</h2>
                    <form th:action="${member.donateUrl}">
                        <div class="margin-bottom">
                            <div th:replace="component/layout :: donation-amount(${member})"></div>
                        </div>

                        <input class="w-100" id="donation-name" name="dn"
                               th:placeholder="#{profile.donate.input.name}"/>
                        <textarea class="w-100" id="donation-description" maxlength="255" name="n"
                                  rows="1" th:placeholder="#{profile.donate.input.description}"></textarea>
                        <div class="toolbar">
                            <button class="btn btn-primary"
                                    th:utext="#{profile.donate.button.donate(${member.fundraising.baseAmount})}"
                                    type="submit"
                            >
                                Donate
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Feature Products -->
            <div class="col-12" id="feature-products"
                 th:classappend="${member.fundraising} ? 'col-md-6 col-lg-8'"
                 th:if="${offers}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-3 border padding"
                             th:each="offer : ${offers}"
                             th:id="'feature-product-' + ${offer.product.id}">
                            <div th:replace="component/layout :: offer-card(${offer})"></div>
                        </div>
                    </div>

                    <div class="padding toolbar">
                        <a class="btn btn-primary" th:href="${member.shopUrl}" th:text="#{profile.more_product}">More
                            Products...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top">
            <div th:replace="component/layout :: social-toolbar(${member})"></div>
        </div>
    </div>
</div>


<div th:replace="component/layout :: footer"></div>

</body>
</html>
