/*
 * Wutsi color:
 *  blue: #1D7EDF
 *  blue-light: #e4edf7
 *  lightgray: #f8f8f8
 */


/* ================================ */
/*                                  */
/*            COMMON                */
/*                                  */
/* ================================ */
body {
    --highlight-color: #1D7EDF;
    --highlight-color-light: #e4edf7;
    --background-light: #f8f8f8;
    --background-pinned: #ffffed;

    --text-color: #404040;
    --text-color-gray: gray;
    --text-color-error: darkred;
    --text-color-success: #4CAF50;
    --text-color-warning: #856404;
    --border-color: rgba(0, 0, 0, .125);

    --margin: 1em;
    --margin-small: 0.5em;
    --padding: 1em;
    --padding-small: 0.5em;

    --card-background-color: #ffffff;

    background: var(--background-light);
    color: var(--text-color);
    font-family: 'PT Sans', sans-serif;
}


a {
    color: var(--highlight-color)
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

ul, ol {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.highlight {
    color: var(--highlight-color);
}

.disabled {
    color: var(--text-color-gray);
    font-style: italic;
}

.required {
    color: darkred;
    font-weight: bold;
}

.fa-facebook-square,
.fa-facebook-f {
    color: #3b5998
}

.fa-linkedin,
.fa-linkedin-in {
    color: #0e76a8;
}

.fa-whatsapp-square,
.fa-whatsapp {
    color: #25D366
}

.fa-telegram,
.fa-telegram-plane {
    color: #0088cc
}

.fa-youtube-square,
.fa-youtube {
    color: #ff0000;
}

.fa-twitter-square,
.fa-twitter {
    color: #0084b4;
}

.fa-whatsapp-square {
    color: #25D366;
}

.fa-facebook-messenger {
    color: #00B2FF;
}

.fa-yahoo {
    color: #400090;
}

.fa-rss, .fa-rss-square {
    color: #ee802f
}

.fa-check-circle, .fa-check {
    color: darkgreen;
}

.border {
    border: 1px solid var(--border-color);
}

.border-highlight {
    border: 1px solid var(--highlight-color)
}

.border-bottom {
    border-bottom: 1px solid var(--border-color);
}

.border-top {
    border-top: 1px solid var(--border-color);
}

.border-right {
    border-right: 1px solid var(--border-color);
}

.border-left {
    border-left: 1px solid var(--border-color);
}

.border-radius {
    border-radius: 1em 1em 1em 1em;
}


.box-filled {
    background-color: var(--background-light);
}

.box-filled-white {
    background-color: white;
}

.box-filled-highlight-light {
    background-color: var(--highlight-color-light);
}

.flash-highlight {
    animation: flash-highlight-annimation 3000ms ease-out;
}


@keyframes flash-highlight-annimation {
    0% {
        background-color: white;
    }
    100% {
        background-color: var(--highlight-color-light);
    }
}

.main-content {
    background: white;
}

.padding {
    padding: 1em;
}

.padding-2x {
    padding: 2em;
}

.padding-top {
    padding-top: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-left {
    padding-left: 1em;
}

.padding-left-none {
    padding-left: 0;
}

.padding-right {
    padding-right: 1em;
}

.padding-right-none {
    padding-right: 0;
}

.padding-none {
    padding: 0;
}

.margin {
    margin: 1em 1em 1em 1em;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.margin-right-2x {
    margin-right: 2em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-bottom-2x {
    margin-bottom: 2em;
}

.margin-bottom-4x {
    margin-bottom: 4em;
}

.margin-bottom-6x {
    margin-bottom: 6em;
}


.margin-top {
    margin-top: 1em;
}

.margin-top-2x {
    margin-top: 2em;
}

.margin-top-4x {
    margin-top: 4em;
}

.margin-top-6x {
    margin-top: 6em;
}

.text-small {
    font-size: 0.8em;
}

.text-right {
    text-align: right;
}

.text-warning {
    color: var(--text-color-warning);
}


.uppercase {
    text-transform: uppercase;
}


/* ==== NAVBAR ==== */
nav.super-user {
    background: #f0f0d0;
}

.navbar {
    background: white;
}

.navbar img.user {
    height: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    float: left;
}

.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8em;
}

.navbar .navbar-brand .blog-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.navbar .nav-link {
    padding: 0;
}

.navbar .fa-caret-down {
    font-size: 2em;
}

.navbar .logo {
    margin: 0 auto;
}

.navbar-nav .dropdown-menu {
    position: fixed;
    float: none;
    top: 50px;
    left: auto;
    width: 350px;
    right: 10px;
    border-radius: 0;
}

.navbar-nav .dropdown-item-user {
    padding: var(--padding-small) 1em;
}

.navbar-nav .dropdown-item-user a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar-nav .dropdown-item-user img {
    height: 64px;
    width: 64px;
    margin-right: 1em;
    float: left;
}

.navbar-nav .dropdown-item-user .user-info {
    font-size: 1em;
    float: left;
    text-overflow: ellipsis;
    max-width: 230px;
    white-space: nowrap;
}

.navbar-brand img {
    height: 50px;
}

.nav-item .btn {
    margin-right: 5px;
}

.navbar-margin {
    margin-top: 67px;
}

#super-user-banner {
    width: 100%;
    border: 1px solid darkred;
    background: lightsalmon;
}

.carousel-control-next, .carousel-control-prev {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
    opacity: 1;
    margin: auto;
    background: gray;
}

.carousel-indicators [data-bs-target] {
    height: 6px;
    width: 6px;
    border-radius: 3px 3px 3px 3px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px gray;
    border-top: none;
    border-bottom: none;
}

.tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

.tab {
    padding: 1em;
    margin-left: 1em;
    text-align: center;
    font-weight: bold;
}

.tab:last-child {
    margin-left: 0em;
}

.tab-selected {
    border-bottom: 4px solid var(--highlight-color);
}

.tab a {
    color: #808080;
    text-decoration: none;
}

.tab-selected a {
    color: var(--highlight-color);
    text-decoration: none;
}

/* ==== FOOTER ==== */
footer.page-footer {
    width: 100%;
}

footer.page-footer a {
    color: white;
    text-decoration: underline;
}

footer.page-footer .follow-us a {
    text-decoration: none;
}

footer.page-footer .follow-us .fab {
    color: white;
    font-size: 1.5em;
    margin-left: var(--margin-small);
    text-decoration: none;
}


/*======= LOGIN =======*/
.sso-button {
    padding: .5em 1em;
    text-align: left;
    display: block;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    text-decoration: none;
}

.sso-button .fab {
    font-size: 1.3em;
    margin-right: var(--margin-small);
}

a.sso-button:hover {
    text-decoration: none;
    border: 1px solid var(--border-color);
}

.sso-button-shared {
    color: var(--text-color-gray);
}

/* ======= FORM =========== */
form input,
form select,
form textarea {
    padding: 10px;
    margin-bottom: 1em;
}

form button,
form .iti {
    margin-bottom: 1em;
}

form button:last-child {
    margin-bottom: 0em;
}

form .hint {
    color: var(--text-color-gray);
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: -0.8em;
}


/* ======= TOOLBAR =========== */
.toolbar {
    display: flex;
    justify-content: space-evenly;
}

.toolbar .button {
    color: var(--highlight-color);
    text-align: center;
    padding: 10px;
}

.toolbar .button .icon {
    border-radius: 20px;
    border: 1px solid var(--highlight-color);
    width: 40px;
    height: 35px;
    text-align: center;
    margin: 0 auto;
}

.toolbar .button .icon .fa-regular,
.toolbar .button .icon .fa-solid,
.toolbar .button .icon .fa-brands {
    margin-top: 8px;
    color: var(--highlight-color);
}

.toolbar .button span {
    display: block;
    text-transform: uppercase;
    color: var(--highlight-color);
    font-size: 0.9em;
    margin-top: 0.5em;
}

.toolbar img {
    width: 32px;
    height: 32px;
}

.toolbar a {
    text-decoration: none;
}

/*======= PROFILE =======*/
.profile img {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    padding: 2px;
    border: 2px solid var(--border-color);
}

.profile a,
.profile a:link,
.profile a:visited,
.profile a:active,
.profile a:hover {
    color: var(--text-color);
    text-decoration: none;
}

.profile .bio {
    font-size: 0.9em;
}

.profile .fa-location-dot {
    color: var(--highlight-color);
}


/* ==== PRODUCT CARD ====== */
.price {
    color: var(--highlight-color);
    white-space: nowrap;
}

.reference-price {
    text-decoration: line-through;
    color: var(--text-color-success);
    white-space: nowrap;
}

.savings {
    color: var(--text-color-success);
    white-space: nowrap;
    font-size: 1.2em;
}

.discount-percent {
    color: var(--text-color-success);
    font-width: bold;
    white-space: nowrap;
}


.product-card {
    background: var(--card-background-color);
}

.product-cart a {
    color: var(--text-color);
    text-decoration: none;
}

.product-card .title {
    font-size: 1em;
    font-weight: bold;
}

.product-card .img-container {
    height: 246px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.product-card .img-container img {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    max-width: 100%;
    max-height: 246px;
    display: block;
}

.product-card .title {
    max-height: 3.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}

.product-card .event-date {
    color: var(--text-color);
}

.product-card .event-provider {
    color: var(--text-color);
}

.product-card .reference-price {
    font-size: 1.0em;
}

.product-card .reference-price {
    font-size: 0.8em;
    margin-left: 0.2em;
}

.product-card .discount-percent {
    font-size: 0.8em;
    margin-left: 0.2em;
}

.product .discount-percent::before,
.product-card .discount-percent::before {
    content: "(";
}

.product .discount-percent::after,
.product-card .discount-percent::after {
    content: ")";
}

.product-card .out-of-stock,
.product-card .out-of-stock .fa-solid {
    color: var(--text-color-error);
    font-size: 0.8em;
}

.product-card .low-stock {
    color: var(--text-color-warning);
    font-size: 0.8em;
}

.product-card a {
    text-decoration: none;
}

/* ==== PRODUCT DETAILS ====== */
.urgency {
    font-size: 0.8em;
    color: white;
    background: var(--text-color-success);
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    display: inline;
}

.product .price {
    font-size: 1.2em;
}

.product .reference-price {
    font-size: 1.0em;
    margin-left: 0.5em;
}

.product .discount-percent {
    font-size: 1.0em;
    margin-left: 0.5em;
}

.product .carousel-item img {
    max-height: 512px;
    max-width: 100%;
    margin: auto;
}

.product .available,
.product .available .fa-solid {
    color: var(--text-color-success);
}

.product .out-of-stock,
.product .out-of-stock .fa-solid {
    color: var(--text-color-error);
}

.product .low-stock {
    color: var(--text-color-warning);
}

.customer-infos {
    color: darkgray;
}

.tx-status .fa-solid,
.tx-status .fa-regular {
    font-size: 4em;
}

.tx-success .fa-regular {
    color: var(--text-color-success);
}

.tx-failure .fa-regular {
    color: var(--text-color-error);
}


/**
 * intl-tel-input
 * See https://github.com/jackocnr/intl-tel-input#demo-and-examples
 */
.iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags@2x.png");
    }
}

/*==== order item === */
.order-item-card .img-container {
    display: flex;
    justify-content: center;
    height: 150px;
    max-width: 150px;
}

.order-item-card .img-container img {
    max-height: 150px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.order-item-card .title {
    font-size: 0.9em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
}

.order-item-card .event-date {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.order-item-card .price {
    font-weight: bold;
}

.order-total-card {
    text-align: right;
    font-size: 1.2em
}

.order-sub-total-card,
.order-savings-card {
    text-align: right;
    font-size: 1em
}

.order-savings-card {
    color: var(--text-color-success);
    font-weight: bold;
}


/* ==== DONATION ====== */
.donation-box {
    border-radius: .5em .5em .5em .5em;
}

.donation-box h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.donation-box .amount-container {
    padding: .5em;
    border: 1px solid gray;
}

.donation-box .fa-heart {
    color: darkred;
}

.donation-box .donation-base-amount {
    font-size: 1.5em;
    font-width: bold;
    color: grey;
}

/* ======================================================================== */
/*                                                                          */
/*  SMALL DEVICES                                                           */
/*                                                                          */
/* ======================================================================== */
@media only screen
and (max-width: 576px)
and (orientation: portrait) {
    .product-card .img-container {
        height: 200px;
    }

    .product-card .img-container img {
        max-height: 200px;
    }

    .product .carousel-item img {
        max-height: 400px;
    }

    .total-price-and-cta {
        position: absolute;
        left: 0;
        bottom: 0;
        background: white;
    }
}
