<div class="story-read-also border-rounded">
    <h3 class="padding margin-none" th:text="#{label.read_also}">Read Also</h3>
    <div class="padding-left padding-right margin-bottom-small" th:each="item,it : ${stories}">
        <div th:replace="~{components/story :: story-summary-card(${item}, false)}"></div>

        <div class="margin-top-small margin-bottom-small"
             th:id="'ads-container-read-also-' + ${it.index}"
             th:if="${it.index} == 2 AND ${toggles.ads}">
            <div th:replace="~{components/ads :: banner(${story.user}, 'BANNER_WEB,BANNER_MOBILE')}"></div>
        </div>
    </div>
    <div class="padding text-center">
        <a class="btn btn-light btn-read-more" th:href="${story.user.slug}">
            <span th:text="#{button.read_more_stories}">Discover Move Stories</span>
            &nbsp;
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<script>
    $(document).ready(function () {
        wutsi.dom_ready();
    });
</script>