<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container product">
    <div class="row">
        <div class="col-12">
            <a href="/me/store/products">
                <i class="fa-solid fa-arrow-left"></i>
                <span th:text="#{navbar.my-store}">My Store</span>
            </a>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-12 col-md-4">
            <div class="border border-rounded box-filled-white text-center">
                <div class="img-container">
                    <img id="product-image" th:src="${product.imageUrl}"/>
                </div>
                <div class="padding">
                    <button class="btn-image-upload btn btn-sm btn-light margin-top" th:text="#{button.upload_picture}">
                        Upload Image
                    </button>
                    <input class="hidden" id="image-upload" type="file"/>
                </div>
            </div>
            <div class="border box-filled-white margin-top">
                <table class="table table-striped margin-none">
                    <tr>
                        <td>
                            <div class="error" th:text="#{label.no_file}" th:unless="${product.fileUrl}">No File</div>
                            <div class="padding-small">
                                <a target="_new" th:href="${product.fileUrl}" th:if="${product.fileUrl}">
                                    <div th:replace="~{components/product :: attachment(${product})}"></div>
                                </a>
                                <button class="btn-file-upload btn btn-sm btn-primary margin-top w-100"
                                        th:if="${product.draft} OR ${superUser}"
                                        th:text="#{button.upload_file}">
                                    Upload File
                                </button>
                                <a class="btn btn-light btn-sm w-100 margin-top" id="btn-preview"
                                   th:href="${previewUrl}"
                                   th:if="${previewUrl}"
                                   th:text="#{button.preview}">
                                    Preview
                                </a>
                            </div>
                            <input class="hidden" id="file-upload" type="file"/>
                        </td>
                    </tr>
                    <tr th:if="${product.numberOfPages}">
                        <td th:text="#{label.n_pages(${product.numberOfPages})}">2 PAGES</td>
                    </tr>
                    <tr th:if="${product.displayLanguage}">
                        <td th:text="${product.displayLanguage}">FRENCH</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="border border-rounded box-filled-white">
                <div class="setting-section">
                    <h1 th:text="#{label.product}">TITLE</h1>
                </div>

                <div class="setting-section flex flex-space-between" th:if="${product.draft}">
                    <div>
                        <span class="badge bg-secondary" th:if="${product.draft}" th:text="#{label.draft}">Draft</span>
                    </div>
                    <div>
                        <a class="btn btn-primary float-right" href="javascript: publish();"
                           th:text="#{button.publish}">
                            Publish
                        </a>
                    </div>
                </div>

                <div class="setting-section" th:if="${product.published}">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-2 offset-md-4">
                                <div class="text-center padding border border-rounded box-filled-white">
                                    <div th:text="#{label.views}">VIEWS</div>
                                    <div class="highlight text-larger">
                                        <b th:text="${product.viewCountText}">0</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="text-center padding border border-rounded box-filled-white">
                                    <div th:text="#{label.sales}">SALES</div>
                                    <div class="highlight text-larger">
                                        &nbsp;<b th:text="${product.orderCountText}">0</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="setting-section text-center" th:if="${error}">
                    <div class="alert alert-danger margin-none" th:text="${error}">Error!!!</div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.type}, name='type', value=${product.type.name}, maxlen=1, control='product-type', type='', placeholder='')}"></div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.title}, name='title', value=${product.title}, maxlen=200, control='input', type='text', placeholder='')}"></div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.price}, name='price', value=${product.price.value}, maxlen=10, control='money', type='', placeholder='')}"></div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.category}, name='category_id', value=${product.category?.id}, maxlen='', control='category', type='', placeholder='')}"></div>
                </div>

                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.description}, name='description', value=${product.description}, maxlen=1000, control='textarea', type='', placeholder='')}"></div>
                </div>
                <div class="setting-section">
                    <div
                            th:replace="~{components/settings :: inline_input_form(title=#{label.available}, name='available', value=${product.available}, maxlen=0, control='yes-no', type='', placeholder='')}"></div>
                </div>
            </div>

            <div class="border border-rounded box-filled-white margin-top" th:if="${toggles.liretama}">
                <div class="setting-section">
                    <h2>
                        <img height="32" style="margin-top: -5px"
                             th:src="${page.assetUrl} + '/assets/wutsi/img/liretama.png'"/>
                        <span>Tama</span>
                    </h2>
                    <div
                            th:replace="~{components/settings :: inline_input_form(title='Connect with Tama', name='liretama_url', value=${product.liretamaUrl}, maxlen=1000, control='input', type='url', placeholder='https://www.liretama.com/livres/....')}"></div>
                    <div>
                        <b>Vous vendez aussi ce livre sur Tama?</b><br/>
                        Saisissez l'addresse du livre sur Tama pour offrir l'option d'acheter le livre sur Tama.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{components/settings :: script(postUrl=${submitUrl})}"></div>
<div th:replace="~{components/layout :: footer}"></div>
<script th:inline="javascript">
    let productId = /*[[${product.id}]]*/'';
    let productType = /*[[${product.type}]]*/'';

    function settings_editor_callback(name, value) {
        console.log('>>> settings_editor_callback', name, value);
        if (name === 'type') {
            productType = value;
        }
    }

    function publish() {
        const msg = /*[[#{page.store.product.confirm-publish}]]*/''
        if (confirm(msg)) {
            window.location.href = '/me/store/products/' + productId + '/publish';
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        $('.btn-image-upload').click(function () {
            $('#image-upload').click();
        });
        $('#image-upload').change(function () {
            const file = $(this).prop('files')[0];
            if (file.type.startsWith('image/')) {
                $('#btn-image-upload').attr('disabled', 'disabled');
                if (file.size <= 5 * 1024 * 1024) {
                    wutsi.upload(file)
                        .then(function (data) {
                            console.log('Uploaded ', data);
                            save_attribute('image_url', data.url)
                                .then(function () {
                                    $('#product-image').attr('src', data.url)
                                });
                        })
                        .finally(function () {
                            $('#btn-image-upload').removeAttr('disabled');
                        });
                } else {
                    alert('Image should have less than 5Mb!');
                }
            } else {
                alert('Not an image!');
            }
        });

        $('.btn-file-upload').click(function () {
            $('#file-upload').click();
        });
        $('#file-upload').change(function () {
            const file = $(this).prop('files')[0];
            console.log('>>> Uploading ' + file.name + ' - size=' + file.size + ' - content-type=' + file.type + ' - productType=' + productType);
            if (file.size > 30 * 1024 * 1024) {
                alert('File should have less than 30Mb!');
                return;
            }

            if (productType === 'EBOOK' && !is_ebook_file(file)) {
                alert('We support only EPUB or PDF files!');
                return;
            } else if (productType === 'NEWSPAPER' && !is_newspaper_file(file)) {
                alert('We support only EPUB or PDF files!');
                return;
            } else if (productType === 'COMICS' && !is_comic_file(file)) {
                alert('We support only ZIP or CBZ files!');
                return;
            }

            $('#btn-file-upload').attr('disabled', 'disabled');
            wutsi.upload(file)
                .then(function (data) {
                    console.log('Uploaded ', data);
                    save_attribute('file_url', data.url)
                        .then(function () {
                            window.location.reload();
                        });
                })
                .finally(function () {
                    $('#btn-file-upload').removeAttr('disabled');
                });
        });
    });

    function is_ebook_file(file) {
        return file.type === 'application/epub+zip' || file.type === 'application/pdf';
    }

    function is_newspaper_file(file) {
        return file.type === 'application/epub+zip' || file.type === 'application/pdf';
    }

    function is_comic_file(file) {
        return file.type === 'application/x-cdisplay' ||
            file.type === 'application/zip' ||
            (file.type === '' && file.name.toLowerCase().endsWith('.cbz'));
    }
</script>
</body>
</html>
