<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 border main-content padding-2x margin-top">
            <h1 th:text="#{page.ads.create.title}">New Campaign</h1>

            <form method="post" th:action="@{/me/ads/campaigns/create}" th:object="${form}">
                <div class="form-group margin-top">
                    <label>
                        <span th:title="#{label.title}">Title</span>
                        <span class="required">*</span>
                    </label>
                    <input class="form-control" id="title" maxlength="200" required="required" th:field="*{title}"/>
                </div>

                <div class="form-group margin-top">
                    <label>
                        <span th:title="#{label.ads_type}">Type</span>
                        <span class="required">*</span>
                    </label>
                    <div class="flex padding" th:each="type : ${types}">
                        <div>
                            <input name="type" th:checked="${type} == ${form.type} ? 'checked'" th:value="${type}"
                                   type="radio"/>
                        </div>
                        <div class="margin-left padding box-filled-highlight">
                            <img height="48"
                                 th:alt="${type.name()}"
                                 th:src="${page.assetUrl} + '/assets/wutsi/img/ads/' + ${type.name().toLowerCase()} + '.png'"
                            />
                        </div>
                        <div class="margin-left">
                            <div>
                                <b class="text-uppercase" th:text="#{'ads.type.' + ${type.name()}}">BOX</b>
                            </div>
                            <div>
                                <span th:text="${type.width}">100</span>
                                x
                                <span th:text="${type.height}">100</span>px
                            </div>
                            <div class="margin-top-small">
                                <i class="fa-solid fa-laptop margin-right" th:if="${type.desktop}"></i>
                                <i class="fa-solid fa-tablet-screen-button margin-right" th:if="${type.tablet}"></i>
                                <i class="fa-solid fa-mobile-screen-button margin-right" th:if="${type.mobile}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Toolbar -->
                <div class="margin-top-2x">
                    <button class="btn btn-primary" id="btn-submit" th:text="#{button.save}" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{components/layout :: footer}"></div>
</body>

</html>
