<!DOCTYPE HTML>
<html th:lang="${page.language}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{components/layout :: head}"></div>
</head>

<body>

<div th:replace="~{components/layout :: navbar-blog(${user}, null)}"></div>

<div class="container ads">
    <div class="row">
        <div class="col-12">
            <div class="border border-rounded box-filled-white padding">
                <a href="/me/ads/campaigns">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span th:text="#{navbar.my-ads}">MY ADS</span>
                </a>
                <h1>Advertising Format</h1>
                <div>General technical specifications and additional information</div>
            </div>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-6" th:each="type : ${types}">
            <div th:replace="~{components/ads :: format-panel(${type})}"></div>
        </div>
    </div>
</div>


</body>
</html>
