<div th:if="${subscriptions}">

    <div class="user-picture-set" th:if="${icons}">
        <a data-bs-target="#subscriber-modal" data-bs-toggle="modal" href="#" type="button">
            <img th:alt="${subscription.subscriber.fullName}"
                 th:each="subscription : ${icons}"
                 th:if="${subscription.subscriber.pictureUrl}"
                 th:src="${subscription.subscriber.pictureUrl}"
            />
        </a>
        <a data-bs-target="#subscriber-modal" data-bs-toggle="modal" href="#" type="button">
            <span th:text="#{label.more}"></span>...
        </a>
    </div>

    <div class="modal" id="subscriber-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subscribers</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="flex padding-small margin-bottom" th:each="subscription : ${subscriptions}">
                        <img height="48" th:alt="${subscription.subscriber.fullName}"
                             th:if="${subscription.subscriber.pictureUrl}"
                             th:src="${subscription.subscriber.pictureUrl}" width="48"/>
                        <div class="padding-left">
                            <div>
                                <span th:text="${subscription.subscriber.fullName}">Ray Sponsible</span>
                                <span th:if="${subscription.subscriber.email}"
                                      th:text="'<' + ${subscription.subscriber.email} + '>'">Ray Sponsible</span>
                            </div>
                            <div class="text-small" th:text="${subscription.subscriptionDateTimeText}">10d</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
