<div th:if="${stories}">
    <table class="table table-striped">
        <tr>
            <th>&nbsp;</th>
            <th th:text="#{label.story}">Title</th>
            <th class="text-center" th:text="#{label.read_time}" width="10%">Read Time</th>
            <th class="text-center" th:text="#{label.views}" width="10%">Views</th>
            <th class="text-center" th:text="#{label.average_read_time}" width="10%">Average Read Time</th>
            <th class="text-center" th:text="#{label.open_rate}" width="10%">Open Rate</th>
            <th class="text-center" th:text="#{label.click_rate}" width="10%">Click Rate</th>
            <th class="text-center" th:text="#{label.readers}" width="10%">Readers</th>
        </tr>
        <tr th:each="story,it:${stories}">
            <td class="text-right">
                <b th:text="${it.index+1}">1</b>
            </td>
            <td>
                <a th:href="'/me/stats/story?story-id=' + ${story.id}" th:text="${story.title}">
                    Tilte
                </a>
            </td>
            <td class="text-center" th:text="${story.totalDurationText}">04:40</td>
            <td class="text-center" th:text="${story.readCountText}">123</td>
            <td class="text-center" th:text="${story.averageDurationText}">04:40</td>
            <td class="text-center" th:text="${story.openRatePercent}">10%</td>
            <td class="text-center" th:text="${story.clickRatePercent}">10%</td>
            <td class="text-center" th:text="${story.readerCount}">10%</td>
        </tr>
    </table>
</div>
