name: master

on:
  push:
    branches:
      - master
    paths:
      - 'pom.xml'
      - '.github/workflows/_master.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_USER: admin
          MYSQL_PASSWORD: admin
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: security
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v3

      - name: JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Init DB
        run: |
          mysql -v --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE wutsi;"
          mysql -v --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE checkout;"
          mysql -v --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE marketplace;"
          mysql -v --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE membership;"
          mysql -v --host 127.0.0.1 -uroot -proot -e "SHOW DATABASES"

      - name: Build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          mvn -s settings.xml validate
          mvn -s settings.xml --non-recursive install
          mvn -Dspring.datasource.username=root -Dspring.datasource.password=root -Dheadless=true -T1C -q -s settings.xml --fail-at-end package

