name: pull_request

on: [ pull_request ]

jobs:
    build:

        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.1
                env:
                    MYSQL_USER: admin
                    MYSQL_PASSWORD: admin
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: wutsi
                ports:
                    - 3306:3306

        steps:
            -   uses: actions/checkout@v4

            -   name: JDK
                uses: actions/setup-java@v3
                with:
                    distribution: 'zulu'
                    java-version: 17

            -   name: Init DB
                run: |
                    mysql -v --host 127.0.0.1 -uroot -proot -e "SHOW DATABASES" || sleep 30 || mysql -v --host 127.0.0.1 -uroot -proot -e "SHOW DATABASES"
                    mysql --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE checkout;"
                    mysql --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE marketplace;"
                    mysql --host 127.0.0.1 -uroot -proot -e "CREATE DATABASE membership;"

            -   name: Build
                env:
                    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                run: |
                    mvn -s settings.xml validate
                    mvn -q -s settings.xml --non-recursive install
                    mvn -Dspring.datasource.username=root -Dspring.datasource.password=root -Dheadless=true -T1C -q -s settings.xml --fail-at-end package

            -   uses: codecov/codecov-action@v3
                name: Code Coverage
                with:
                    token: ${{ secrets.CODECOV_TOKEN }}
                    fail_ci_if_error: false
                    verbose: true
